Repository rubygems/rubygems, pull requests merged in 2020-05, with the labels that each got.

#3581 May man pages
  bundler/man/bundle-add.1
  bundler/man/bundle-add.1.txt
  bundler/man/bundle-binstubs.1
  bundler/man/bundle-binstubs.1.txt
  bundler/man/bundle-cache.1
  bundler/man/bundle-cache.1.txt
  bundler/man/bundle-check.1
  bundler/man/bundle-check.1.txt
  bundler/man/bundle-clean.1
  bundler/man/bundle-clean.1.txt
  bundler/man/bundle-config.1
  bundler/man/bundle-config.1.txt
  bundler/man/bundle-doctor.1
  bundler/man/bundle-doctor.1.txt
  bundler/man/bundle-exec.1
  bundler/man/bundle-exec.1.txt
  bundler/man/bundle-gem.1
  bundler/man/bundle-gem.1.txt
  bundler/man/bundle-info.1
  bundler/man/bundle-info.1.txt
  bundler/man/bundle-init.1
  bundler/man/bundle-init.1.txt
  bundler/man/bundle-inject.1
  bundler/man/bundle-inject.1.txt
  bundler/man/bundle-install.1
  bundler/man/bundle-install.1.txt
  bundler/man/bundle-list.1
  bundler/man/bundle-list.1.txt
  bundler/man/bundle-lock.1
  bundler/man/bundle-lock.1.txt
  bundler/man/bundle-open.1
  bundler/man/bundle-open.1.txt
  bundler/man/bundle-outdated.1
  bundler/man/bundle-outdated.1.txt
  bundler/man/bundle-platform.1
  bundler/man/bundle-platform.1.txt
  bundler/man/bundle-pristine.1
  bundler/man/bundle-pristine.1.txt
  bundler/man/bundle-remove.1
  bundler/man/bundle-remove.1.txt
  bundler/man/bundle-show.1
  bundler/man/bundle-show.1.txt
  bundler/man/bundle-update.1
  bundler/man/bundle-update.1.txt
  bundler/man/bundle-viz.1
  bundler/man/bundle-viz.1.txt
  bundler/man/bundle.1
  bundler/man/bundle.1.txt
  bundler/man/gemfile.5
  bundler/man/gemfile.5.txt
Labels: Bundler

#3586 Handle relative paths in Bundler gem tasks
  bundler/lib/bundler/gem_helper.rb
  bundler/spec/bundler/gem_helper_spec.rb
Labels: Bundler

#3576 Vendor `net-http-persistent` 4.0.0
  bundler/lib/bundler/vendor/net-http-persistent/lib/net/http/persistent.rb
Labels: Bundler

#3589 Style and refactorings in installer
  .rubocop.yml
  lib/rubygems/installer.rb
  test/rubygems/test_gem_ext_builder.rb
Labels: RubyGems

#3587 Fix flaky spec failure
  bundler/spec/commands/update_spec.rb
  bundler/spec/other/platform_spec.rb
Labels: Bundler

#3591 Bump versions in CI to latest patch levels
  .github/workflows/install.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/macos.yml
  .github/workflows/ubuntu-bundler.yml
  .github/workflows/ubuntu-bundler3.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
Labels: CI

#3590 Fix thread safety issue when tests `gem build` bundler
  bundler/spec/quality_es_spec.rb
  bundler/spec/quality_spec.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/path.rb
Labels: Bundler

#3593 Improve spec runner
  bundler/tool/turbo_tests/cli.rb
  bundler/tool/turbo_tests/json_rows_formatter.rb
  bundler/tool/turbo_tests/runner.rb
Labels: Bundler

#3595 Don't load system rubygems at all when `RGV` specified for tests
  .github/workflows/ubuntu-bundler.yml
  bundler/Rakefile
  bundler/lib/bundler/psyched_yaml.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/install/gems/sudo_spec.rb
  bundler/spec/runtime/gem_tasks_spec.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/rubygems_ext.rb
  bundler/spec/support/rubygems_version_manager.rb
  bundler/spec/support/switch_rubygems.rb
  bundler/test_gems.rb.lock
  bundler/tool/turbo_tests/runner.rb
  lib/rubygems/indexer.rb
Labels: Bundler, CI

#3562 Properly install and look for man pages
  .github/workflows/install.yml
  bundler/lib/bundler/cli.rb
  lib/rubygems/commands/setup_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
Labels: Bundler, CI

#3597 Remove old `gauntlet_rubygems.rb` file on rubygems upgrade
  lib/rubygems/commands/setup_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
Labels: RubyGems

#3602 Specify explicit separator not to be affected by $;
  bundler/lib/bundler/cli/console.rb
Labels: Bundler

#3603 Remove `:path => :bundle path` calls from specs
  bundler/spec/cache/gems_spec.rb
  bundler/spec/commands/check_spec.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/newgem_spec.rb
  bundler/spec/install/allow_offline_install_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/other/platform_spec.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/path.rb
Labels: Bundler

#3612 Addeed missing RSpec namespace
  bundler/spec/install/gemfile/install_if.rb
Labels: Bundler

#3580 Add build warning when rake based extension is present without rake dep...
  lib/rubygems/ext/build_error.rb
  lib/rubygems/specification_policy.rb
  test/rubygems/test_gem_specification.rb
Labels: RubyGems

#3613 Make sure `install_if` specs are run and pass
  bundler/spec/install/gemfile/install_if_spec.rb
Labels: Bundler

#3592 Refactor binstub specs
  bundler/Rakefile
  bundler/bin/parallel_rspec
  bundler/spec/bundler/cli_spec.rb
  bundler/spec/commands/binstubs_spec.rb
  bundler/spec/install/bundler_spec.rb
  bundler/spec/support/hax.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/path.rb
  bundler/spec/support/switch_rubygems.rb
Labels: Bundler

#3617 Remove Inch CI badge from Bundler’s readme
  bundler/README.md
Labels: Bundler

#2797 Test TruffleRuby in CI
  .github/workflows/ubuntu.yml
  test/rubygems/test_gem_ext_builder.rb
  test/rubygems/test_require.rb
Labels: status: triage

#3619 Update friendly errors to the current repo name
  bundler/lib/bundler/friendly_errors.rb
  bundler/spec/bundler/friendly_errors_spec.rb
Labels: Bundler

#3615 Bump compact_index to 0.12.1
  bundler/spec/support/artifice/compact_index.rb
  bundler/test_gems.rb
  bundler/test_gems.rb.lock
Labels: Bundler

#3583 Delay removal of git shortcut DSL additions
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/settings.rb
  bundler/man/bundle-config.1
  bundler/man/bundle-config.1.txt
  bundler/man/bundle-config.ronn
  bundler/spec/bundler/dsl_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler

#3614 Run specs against an installed bundler
  .github/workflows/ubuntu-bundler.yml
  .github/workflows/ubuntu-bundler3.yml
  .github/workflows/windows-bundler.yml
  bundler/spec/bundler/cli_spec.rb
  bundler/spec/bundler/dsl_spec.rb
  bundler/spec/bundler/shared_helpers_spec.rb
  bundler/spec/bundler/stub_specification_spec.rb
  bundler/spec/commands/binstubs_spec.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/pristine_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/bundler_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/groups_spec.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/install/gems/sudo_spec.rb
  bundler/spec/install/global_cache_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/other/platform_spec.rb
  bundler/spec/plugins/install_spec.rb
  bundler/spec/quality_spec.rb
  bundler/spec/runtime/executable_spec.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/runtime/with_unbundled_env_spec.rb
  bundler/spec/spec_helper.rb
  bundler/spec/support/artifice/endpoint.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/hax.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/path.rb
  bundler/spec/support/rubygems_ext.rb
  bundler/spec/support/rubygems_version_manager.rb
  bundler/spec/support/switch_rubygems.rb
  bundler/task/build_metadata.rake
Labels: Bundler

#3630 Increase timeouts in test_gem_stream_ui.rb
  test/rubygems/test_gem_stream_ui.rb
Labels: RubyGems

#3626 Fix activation issue on old rubygems versions
  bundler/exe/bundle
  bundler/spec/runtime/gem_tasks_spec.rb
Labels: Bundler

#3623 Fix dashed options deprecation message
  bundler/lib/bundler/cli.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler

#3634 Remove unnecessary compatibility code
  bundler/lib/bundler/rubygems_gem_installer.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/source/rubygems.rb
Labels: Bundler

#3429 Respect already loaded files from default gems
  lib/rubygems.rb
  lib/rubygems/test_case.rb
  test/rubygems/test_require.rb
Labels: status: triage

#3633 Avoid `ruby setup.rb` warnings
  .github/workflows/install.yml
  Rakefile
  lib/rubygems/command.rb
  lib/rubygems/ext.rb
  lib/rubygems/ext/build_error.rb
  lib/rubygems/ext/builder.rb
  lib/rubygems/ext/cmake_builder.rb
  lib/rubygems/specification_policy.rb
  setup.rb
Labels: CI

#3632 Log messages to stdout in `rake package`
  lib/rubygems/package_task.rb
  test/rubygems/test_gem_package_task.rb
Labels: RubyGems

#3638 bundler: Remove explicit `psych` activation.
  bundler/lib/bundler/psyched_yaml.rb
Labels: Bundler

#3635 Avoid stack overflow inside `StubSpecification` on some edge cases
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/rubygems_gem_installer.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/stub_specification.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/runtime/setup_spec.rb
Labels: Bundler

#3637 Delay `fileutils` loading to fix some warnings
  lib/rubygems/ext/ext_conf_builder.rb
Labels: RubyGems

#3651 Fix test warnings
  test/rubygems/test_gem_package_task.rb
Labels: RubyGems

#3531 When possible, prefer String#start_with? and String#end_with? over regex.
  .rubocop.yml
  lib/rubygems/command.rb
  lib/rubygems/installer.rb
  lib/rubygems/platform.rb
  lib/rubygems/remote_fetcher.rb
  lib/rubygems/security/signer.rb
  lib/rubygems/specification.rb
  lib/rubygems/test_utilities.rb
Labels: RubyGems

#3606 Update links from rubygems/bundler to rubygems/rubygems
  .github/ISSUE_TEMPLATE/bundler-related-issue.md
  bundler/README.md
  bundler/bundler.gemspec
  bundler/doc/POLICIES.md
  bundler/doc/contributing/HOW_YOU_CAN_HELP.md
  bundler/doc/contributing/ISSUES.md
  bundler/doc/playbooks/TEAM_CHANGES.md
  bundler/lib/bundler/cli/issue.rb
  bundler/lib/bundler/friendly_errors.rb
  bundler/lib/bundler/source/git/git_proxy.rb
Labels: Bundler

#3509 Indicate a gem which has been deleted on `bundle info`
  bundler/lib/bundler/cli/info.rb
  bundler/spec/commands/info_spec.rb
Labels: Bundler, command: bundle info

#3652 Show ruby version in ruby-head builds
  .github/workflows/daily-bundler.yml
  .github/workflows/daily.yml
Labels: CI

#3624 Backport the ruby core changes for Bundler 2.2.0dev merge
  bundler/spec/commands/clean_spec.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/newgem_spec.rb
  bundler/spec/commands/viz_spec.rb
  bundler/spec/install/deploy_spec.rb
  bundler/spec/install/gemfile/lockfile_spec.rb
  bundler/spec/install/gems/standalone_spec.rb
  bundler/spec/install/global_cache_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/other/platform_spec.rb
  bundler/spec/quality_spec.rb
  bundler/spec/realworld/parallel_spec.rb
  bundler/spec/runtime/gem_tasks_spec.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/runtime/with_unbundled_env_spec.rb
  bundler/spec/spec_helper.rb
  bundler/spec/support/artifice/compact_index.rb
  bundler/spec/support/artifice/endpoint.rb
  bundler/spec/support/artifice/endpoint_500.rb
  bundler/spec/support/artifice/windows.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/matchers.rb
  bundler/spec/support/path.rb
  bundler/spec/support/rubygems_ext.rb
  bundler/test_gems.rb
  bundler/test_gems.rb.lock
Labels: Bundler

#3400 Remove multiline gem specifications correctly
  bundler/lib/bundler/injector.rb
  bundler/spec/commands/remove_spec.rb
Labels: status: triage

#3653 Unskip "monorepo issues"
  bundler/spec/install/deploy_spec.rb
  bundler/spec/update/git_spec.rb
Labels: Bundler

#3639 Fix correctness and performance regression in `require`
  lib/rubygems.rb
  lib/rubygems/core_ext/kernel_require.rb
  lib/rubygems/test_case.rb
  test/rubygems/test_require.rb
Labels: RubyGems

#3658 Test against `compact_index` 0.13.0
  bundler/test_gems.rb
  bundler/test_gems.rb.lock
Labels: Bundler

#3544 Fix bundle gem always using RSpec, even if configured for another test framework
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/gem.rb
  bundler/man/bundle-gem.1
  bundler/man/bundle-gem.1.txt
  bundler/man/bundle-gem.ronn
  bundler/spec/commands/newgem_spec.rb
Labels: Bundler

#3657 Handle `--no-deployment` flag deprecation
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/outdated.rb
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/outdated_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler

#3661 Handle custom messages in json rows formatter
  bundler/tool/turbo_tests/json_rows_formatter.rb
  bundler/tool/turbo_tests/reporter.rb
  bundler/tool/turbo_tests/runner.rb
Labels: Bundler

#3660 Incorporate a more reliable path check in Kernel#require
  lib/rubygems/core_ext/kernel_require.rb
  test/rubygems/test_require.rb
Labels: RubyGems

#3663 Revert multi ruby and rubygems version requirements fix
  Manifest.txt
  bundler/lib/bundler/compact_index_client/cache.rb
  bundler/lib/bundler/compact_index_client/gem_parser.rb
  bundler/spec/bundler/compact_index_client/gem_parser_spec.rb
Labels: Bundler

#3659 Support running specs against a ruby tarball
  bundler/spec/quality_spec.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/path.rb
Labels: Bundler

#3573 Notify ruby-head build in slack
  .github/workflows/daily-bundler.yml
  .github/workflows/daily.yml
Labels: CI

#3669 Fix parallel installer race condition
  bundler/lib/bundler/installer/parallel_installer.rb
Labels: Bundler

#3666 Fix `bundle install` copying `with` and `without` config to local configuration
  bundler/lib/bundler/cli/install.rb
  bundler/spec/install/gemfile/groups_spec.rb
Labels: Bundler

#3671 Remove `forgotten_command_line_options` helper from specs
  bundler/spec/commands/cache_spec.rb
  bundler/spec/commands/check_spec.rb
  bundler/spec/commands/config_spec.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/post_bundle_message_spec.rb
  bundler/spec/install/deploy_spec.rb
  bundler/spec/install/gemfile/eval_gemfile_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/install/gemfile/path_spec.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/install/gems/standalone_spec.rb
  bundler/spec/install/git_spec.rb
  bundler/spec/install/path_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/plugins/install_spec.rb
  bundler/spec/plugins/source/example_spec.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/support/helpers.rb
Labels: Bundler
