Repository rubygems/rubygems, pull requests merged in 2020-03, with the labels that each got.

#3160 Reenable skipped test on jruby
  test/rubygems/test_gem_remote_fetcher.rb
Labels: status: triage

#3156 Only rescue the errors we actually want to rescue
  lib/rubygems.rb
Labels: status: triage

#3165 Bump tested jruby to 9.2.11.0
  .github/bors.toml
  .github/workflows/install.yml
  .github/workflows/ubuntu.yml
Labels: status: triage

#3164 Rename scheduled build
  .github/workflows/daily.yml
Labels: status: triage

#3163 Fix new plugins layout edge cases
  lib/rubygems.rb
  lib/rubygems/commands/update_command.rb
  lib/rubygems/installer.rb
  lib/rubygems/installer_uninstaller_utils.rb
  lib/rubygems/uninstaller.rb
  test/rubygems/test_gem_commands_setup_command.rb
  test/rubygems/test_gem_commands_update_command.rb
  test/rubygems/test_gem_doctor.rb
  test/rubygems/test_gem_installer.rb
  test/rubygems/test_gem_uninstaller.rb
Labels: status: triage

#3167 Use ruby/setup-ruby for install workflow
  .github/workflows/install.yml
Labels: status: triage

#3389 Remove bors
  .github/bors.toml
  POLICIES.md
  bundler/doc/POLICIES.md
  bundler/doc/playbooks/TEAM_CHANGES.md
Labels: status: triage

#3168 Bump rubocop to 0.77.0
  .rubocop.yml
  Gemfile
  Gemfile.lock
  util/rubocop
Labels: status: triage

#3395 Merge CoC from bundler repo
  CODE_OF_CONDUCT.md
  Manifest.txt
  Rakefile
  bundler/CODE_OF_CONDUCT.md
  rubygems-update.gemspec
Labels: status: triage

#3383 Unskip passing tests
  test/rubygems/test_gem_ext_cmake_builder.rb
  test/rubygems/test_gem_ext_configure_builder.rb
Labels: Rubygems

#3171 Resolver: require NameTuple before use
  lib/rubygems.rb
  test/rubygems/test_gem.rb
Labels: Rubygems

#3384 Don't create `test_dir` folder in bundler repo root
  bundler/spec/bundler/shared_helpers_spec.rb
Labels: status: triage

#3405 Build local bundler on a "thread-safe folder"
  bundler/spec/support/helpers.rb
Labels: status: triage

#2711 Let `@@stubs_by_name` to be incrementally populated again.
  lib/rubygems/specification.rb
  test/rubygems/test_gem_specification.rb
Labels: status: triage

#3391 Deterministic man txt pages
  bundler/Rakefile
  bundler/man/bundle-add.1.txt
  bundler/man/bundle-binstubs.1.txt
  bundler/man/bundle-cache.1.txt
  bundler/man/bundle-check.1.txt
  bundler/man/bundle-clean.1.txt
  bundler/man/bundle-config.1.txt
  bundler/man/bundle-doctor.1.txt
  bundler/man/bundle-exec.1.txt
  bundler/man/bundle-gem.1.txt
  bundler/man/bundle-info.1.txt
  bundler/man/bundle-init.1.txt
  bundler/man/bundle-inject.1.txt
  bundler/man/bundle-install.1.txt
  bundler/man/bundle-list.1.txt
  bundler/man/bundle-lock.1.txt
  bundler/man/bundle-open.1.txt
  bundler/man/bundle-outdated.1.txt
  bundler/man/bundle-platform.1.txt
  bundler/man/bundle-pristine.1.txt
  bundler/man/bundle-remove.1.txt
  bundler/man/bundle-show.1.txt
  bundler/man/bundle-update.1.txt
  bundler/man/bundle-viz.1.txt
  bundler/man/bundle.1.txt
  bundler/man/gemfile.5.txt
Labels: Bundler, type: documentation

#3407 Cleanups after repo merge
  CONTRIBUTING.md
  Gemfile.lock
  README.md
  Rakefile
  util/patch_with_prs.rb
Labels: status: triage

#3393 Remove `auto_config_jobs` feature flag
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/settings.rb
  bundler/spec/quality_spec.rb
Labels: Bundler, status: triage

#3409 Replace links directing to the old bundler repo with new ones
  bundler/README.md
  bundler/doc/contributing/COMMUNITY.md
  bundler/doc/contributing/HOW_YOU_CAN_HELP.md
  bundler/doc/contributing/README.md
  bundler/doc/development/NEW_FEATURES.md
  bundler/doc/development/SETUP.md
Labels: Bundler, type: documentation

#3408 Make `bundle config --local` docs clearer
  bundler/man/bundle-config.1
  bundler/man/bundle-config.1.txt
  bundler/man/bundle-config.ronn
Labels: Bundler, type: documentation

#3410 Capitalize the H
  .github/config.yml
Labels: status: triage

#3413 Update to RuboCop 0.80.1
  Gemfile
  Gemfile.lock
Labels: status: triage

#3415 Configure templates for issue creation
  .github/ISSUE_TEMPLATE/-rubygems-related-issue.md
  .github/ISSUE_TEMPLATE/bundler-related-issue.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: status: triage

#3419 Fixup GitHub template
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/rubygems-related-issue.md
  .github/PULL_REQUEST_TEMPLATE/bundler-related-pr.md
  .github/PULL_REQUEST_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE/rubygems-related-pr.md
  .github/config.yml
  bundler/.github/config.yml
Labels: Bundler, status: triage

#3421 Unify pull-request tempalte to pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE/rubygems-related-pr.md
  .github/pull_request_template.md
Labels: status: triage

#3418 Fix ruby warnings
  test/rubygems/test_gem_installer.rb
  test/rubygems/test_gem_spec_fetcher.rb
Labels: status: triage

#3412 Revert "Remove Gem::DependencyInstaller#find_gems_with_sources"
  lib/rubygems/dependency_installer.rb
  test/rubygems/test_gem_dependency_installer.rb
Labels: status: triage

#3420 Add Github CI action to automatically label Bundler PRs
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: status: triage

#3422 Accept not only /usr/bin/env but also /bin/env in some tests
  test/rubygems/test_gem_commands_pristine_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
  test/rubygems/test_gem_installer.rb
Labels: status: triage

#3416 Bundler: Use RuboCop 0.80.1, rubocop-performance 1.5.2
  .github/workflows/ubuntu-lint.yml
  Gemfile
  Gemfile.lock
  Rakefile
  bundler/.rubocop.yml
  bundler/Rakefile
  bundler/bin/rubocop
  bundler/spec/support/rubygems_ext.rb
  bundler/task/git_hooks.rake
Labels: status: triage

#3425 Run CI on pushes to master
  .github/workflows/install.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/macos.yml
  .github/workflows/ubuntu-bundler.yml
  .github/workflows/ubuntu-bundler3.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows-bundler.yml
  .github/workflows/windows.yml
Labels: status: triage

#3424 Specify explicit separator not to be affected by $;
  lib/rubygems/command.rb
  test/rubygems/test_gem_command.rb
Labels: status: triage

#3441 Enable `Style/PercentLiteralDelimiters` cop in rubygems
  .rubocop.yml
  Rakefile
  lib/rubygems.rb
  lib/rubygems/commands/setup_command.rb
  lib/rubygems/ext/ext_conf_builder.rb
  lib/rubygems/safe_yaml.rb
  lib/rubygems/server.rb
  lib/rubygems/source/git.rb
  lib/rubygems/specification.rb
  lib/rubygems/test_case.rb
  lib/rubygems/test_utilities.rb
  lib/rubygems/util/licenses.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_command.rb
  test/rubygems/test_gem_commands_cleanup_command.rb
  test/rubygems/test_gem_commands_contents_command.rb
  test/rubygems/test_gem_commands_environment_command.rb
  test/rubygems/test_gem_commands_info_command.rb
  test/rubygems/test_gem_commands_install_command.rb
  test/rubygems/test_gem_commands_mirror.rb
  test/rubygems/test_gem_commands_open_command.rb
  test/rubygems/test_gem_commands_owner_command.rb
  test/rubygems/test_gem_commands_pristine_command.rb
  test/rubygems/test_gem_commands_push_command.rb
  test/rubygems/test_gem_commands_query_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
  test/rubygems/test_gem_commands_specification_command.rb
  test/rubygems/test_gem_commands_uninstall_command.rb
  test/rubygems/test_gem_commands_which_command.rb
  test/rubygems/test_gem_commands_yank_command.rb
  test/rubygems/test_gem_dependency_installer.rb
  test/rubygems/test_gem_dependency_resolution_error.rb
  test/rubygems/test_gem_ext_builder.rb
  test/rubygems/test_gem_ext_cmake_builder.rb
  test/rubygems/test_gem_ext_configure_builder.rb
  test/rubygems/test_gem_ext_rake_builder.rb
  test/rubygems/test_gem_indexer.rb
  test/rubygems/test_gem_installer.rb
  test/rubygems/test_gem_package.rb
  test/rubygems/test_gem_remote_fetcher.rb
  test/rubygems/test_gem_request.rb
  test/rubygems/test_gem_request_set.rb
  test/rubygems/test_gem_request_set_gem_dependency_api.rb
  test/rubygems/test_gem_resolver.rb
  test/rubygems/test_gem_security_signer.rb
  test/rubygems/test_gem_server.rb
  test/rubygems/test_gem_specification.rb
  test/rubygems/test_gem_uninstaller.rb
  test/rubygems/test_require.rb
Labels: status: triage

#3442 Remove ruby 1.8 leftovers
  lib/rubygems/resolver/api_set.rb
  lib/rubygems/security/policy.rb
  lib/rubygems/test_case.rb
Labels: type: cleanup

#3444 Update util.rb
  lib/rubygems/util.rb
Labels: status: triage

#3440 Fix race condition on bundler's parallel installer
  lib/rubygems/installer.rb
Labels: status: triage

#3430 Make cmake tests less verbose on jruby
  test/rubygems/test_gem_ext_cmake_builder.rb
Labels: status: triage

#3432 Report GitLab CI within bundler user-agent string
  bundler/lib/bundler/fetcher.rb
  bundler/spec/bundler/fetcher_spec.rb
Labels: Bundler, status: triage

#3446 Improvements on Jruby's CI
  Gemfile
  Gemfile.lock
  test/rubygems/test_gem_remote_fetcher.rb
Labels: status: triage

#3443 Remove deprecated + broken rubygems/source_local.
  Manifest.txt
  lib/rubygems/source_local.rb
Labels: type: cleanup

#3423 Skip a test that attempts to remove the current directory on Solaris
  test/rubygems/test_gem_bundler_version_finder.rb
Labels: status: triage

#3449 Enable `Layout/ExtraSpacing` cop
  .rubocop.yml
  lib/rubygems/defaults.rb
  lib/rubygems/install_update_options.rb
  lib/rubygems/platform.rb
  lib/rubygems/remote_fetcher.rb
  lib/rubygems/specification.rb
  lib/rubygems/specification_policy.rb
  lib/rubygems/test_case.rb
  lib/rubygems/test_utilities.rb
  lib/rubygems/version.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_commands_setup_command.rb
  test/rubygems/test_gem_commands_signin_command.rb
  test/rubygems/test_gem_commands_yank_command.rb
  test/rubygems/test_gem_config_file.rb
  test/rubygems/test_gem_dependency_installer.rb
  test/rubygems/test_gem_dependency_list.rb
  test/rubygems/test_gem_package.rb
  test/rubygems/test_gem_package_task.rb
  test/rubygems/test_gem_remote_fetcher.rb
  test/rubygems/test_gem_request_set_lockfile_tokenizer.rb
  test/rubygems/test_gem_resolver_api_set.rb
  test/rubygems/test_gem_source.rb
  test/rubygems/test_gem_source_git.rb
  test/rubygems/test_gem_source_installed.rb
  test/rubygems/test_gem_source_local.rb
  test/rubygems/test_gem_source_lock.rb
  test/rubygems/test_gem_source_specific_file.rb
  test/rubygems/test_gem_source_vendor.rb
  test/rubygems/test_gem_spec_fetcher.rb
  test/rubygems/test_gem_specification.rb
  test/rubygems/test_gem_text.rb
  util/create_certs.rb
Labels: status: triage

#3445 Minitest cleanup
  Gemfile
  Gemfile.lock
  lib/rubygems.rb
  lib/rubygems/test_case.rb
  test/rubygems/test_bundled_ca.rb
  test/rubygems/test_gem_commands_open_command.rb
Labels: status: triage, type: cleanup

#3433 Update WRITING.md with the right name of current Bundler's repository
  bundler/doc/documentation/WRITING.md
Labels: Bundler, status: triage

#3462 Revert "Minitest cleanup"
  lib/rubygems/test_case.rb
Labels: status: triage

#3414 Version horizon deprecations
  lib/rubygems/basic_specification.rb
  lib/rubygems/commands/query_command.rb
  lib/rubygems/dependency_installer.rb
  lib/rubygems/deprecate.rb
  lib/rubygems/installer.rb
  lib/rubygems/specification.rb
  test/rubygems/test_deprecate.rb
  test/rubygems/test_gem_command_manager.rb
  test/rubygems/test_gem_gem_runner.rb
  util/cops/deprecations.rb
Labels: RubyGems

#3464 Real jruby
  .github/workflows/jruby-bundler.yml
  bundler/spec/commands/outdated_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/install/gemfile_spec.rb
  bundler/spec/other/platform_spec.rb
  bundler/spec/support/filters.rb
  bundler/spec/support/hax.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/path.rb
  bundler/spec/support/platforms.rb
Labels: Bundler, status: triage

#3465 Small refactor in `bundle gem` specs
  bundler/spec/commands/newgem_spec.rb
Labels: Bundler, status: triage

#3450 Simplify nested gem activation exceptions
  lib/rubygems/core_ext/kernel_require.rb
  test/rubygems/test_kernel.rb
Labels: status: triage
