Repository rubygems/rubygems, pull requests merged in 2020-04, with the labels that each got.

#3455 Revert adding loaded specs to `Gem::Specification.stubs` and `Gem::Specification.stubs_for`
  lib/rubygems/specification.rb
  test/rubygems/test_gem_specification.rb
Labels: status: triage

#3471 April man pages
  bundler/man/bundle-add.1
  bundler/man/bundle-add.1.txt
  bundler/man/bundle-binstubs.1
  bundler/man/bundle-binstubs.1.txt
  bundler/man/bundle-cache.1
  bundler/man/bundle-cache.1.txt
  bundler/man/bundle-check.1
  bundler/man/bundle-check.1.txt
  bundler/man/bundle-clean.1
  bundler/man/bundle-clean.1.txt
  bundler/man/bundle-config.1
  bundler/man/bundle-config.1.txt
  bundler/man/bundle-doctor.1
  bundler/man/bundle-doctor.1.txt
  bundler/man/bundle-exec.1
  bundler/man/bundle-exec.1.txt
  bundler/man/bundle-gem.1
  bundler/man/bundle-gem.1.txt
  bundler/man/bundle-info.1
  bundler/man/bundle-info.1.txt
  bundler/man/bundle-init.1
  bundler/man/bundle-init.1.txt
  bundler/man/bundle-inject.1
  bundler/man/bundle-inject.1.txt
  bundler/man/bundle-install.1
  bundler/man/bundle-install.1.txt
  bundler/man/bundle-list.1
  bundler/man/bundle-list.1.txt
  bundler/man/bundle-lock.1
  bundler/man/bundle-lock.1.txt
  bundler/man/bundle-open.1
  bundler/man/bundle-open.1.txt
  bundler/man/bundle-outdated.1
  bundler/man/bundle-outdated.1.txt
  bundler/man/bundle-platform.1
  bundler/man/bundle-platform.1.txt
  bundler/man/bundle-pristine.1
  bundler/man/bundle-pristine.1.txt
  bundler/man/bundle-remove.1
  bundler/man/bundle-remove.1.txt
  bundler/man/bundle-show.1
  bundler/man/bundle-show.1.txt
  bundler/man/bundle-update.1
  bundler/man/bundle-update.1.txt
  bundler/man/bundle-viz.1
  bundler/man/bundle-viz.1.txt
  bundler/man/bundle.1
  bundler/man/bundle.1.txt
  bundler/man/gemfile.5
  bundler/man/gemfile.5.txt
Labels: Bundler, status: triage

#3461 Improve documentation about writing documentation
  bundler/doc/documentation/WRITING.md
Labels: type: documentation

#3470 Suppress warnings coming from `jar-dependencies`
  lib/rubygems/test_case.rb
Labels: status: triage

#3477 [Bundler] Definition: initialize an instance variable to avoid a Ruby warning
  bundler/lib/bundler/definition.rb
Labels: Bundler, status: triage

#3481 Do not pre-install Bundler for RubyGems and Bundler tests
  .github/workflows/daily.yml
  .github/workflows/install.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/macos.yml
  .github/workflows/ubuntu-bundler.yml
  .github/workflows/ubuntu-bundler3.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows-bundler.yml
  .github/workflows/windows.yml
Labels: status: triage

#3473 Use bundler to manage bundler development dependencies
  bundler/dev_gems.rb
  bundler/dev_gems.rb.lock
  bundler/doc/development/SETUP.md
  bundler/spec/spec_helper.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/rubygems_ext.rb
  bundler/test_gems.rb
  bundler/test_gems.rb.lock
Labels: Bundler, status: triage

#3482 Add ability to uninstall plugins
  bundler/lib/bundler/cli/plugin.rb
  bundler/lib/bundler/plugin.rb
  bundler/lib/bundler/plugin/index.rb
  bundler/spec/plugins/uninstall_spec.rb
Labels: Bundler

#3489 Clean-up and Relocation configuration files
  .codeclimate.yml
  .gitmodules
  Manifest.txt
  bundler/.codeclimate.yml
Labels: Bundler

#3476 Make tests use a fixed `Dir.tmpdir` folder
  Manifest.txt
  Rakefile
  bundler/spec/support/rubygems_ext.rb
  dev_gems.rb
  dev_gems.rb.lock
  lib/rubygems/test_case.rb
  test/rubygems/test_gem.rb
Labels: status: triage

#3468 Improve README.md readability
  bundler/README.md
Labels: Bundler, type: documentation

#3146 Allow spaces in file headers during octal check
  lib/rubygems/package/tar_header.rb
  test/rubygems/test_gem_package_tar_header.rb
Labels: status: triage

#3479 Fix double chdir warning
  bundler/lib/bundler/source/path/installer.rb
  bundler/spec/install/gems/native_extensions_spec.rb
Labels: Bundler, status: triage

#3475 Multiple gems in git repo bugfix
  bundler/lib/bundler/rubygems_ext.rb
  bundler/spec/install/gems/native_extensions_spec.rb
Labels: Bundler, status: triage

#3500 Fix spec file lists after repo move
  bundler/spec/support/path.rb
Labels: Bundler

#3517 Improve specs debugability
  bundler/spec/commands/add_spec.rb
  bundler/spec/commands/info_spec.rb
  bundler/spec/commands/show_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/helpers.rb
Labels: Bundler

#3516 No chdir on git operations
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/bundler/source/git/git_proxy_spec.rb
Labels: Bundler

#3526 Fix a bunch of test issues on Windows
  bundler/spec/install/allow_offline_install_spec.rb
  bundler/spec/install/deploy_spec.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/install/gems/standalone_spec.rb
  bundler/spec/install/global_cache_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/support/artifice/compact_index.rb
  bundler/spec/support/artifice/compact_index_concurrent_download.rb
  bundler/spec/support/artifice/compact_index_creds_diff_host.rb
  bundler/spec/support/artifice/compact_index_extra.rb
  bundler/spec/support/artifice/compact_index_extra_api.rb
  bundler/spec/support/artifice/compact_index_partial_update.rb
  bundler/spec/support/artifice/compact_index_range_not_satisfiable.rb
  bundler/spec/support/artifice/endpoint.rb
  bundler/spec/support/artifice/endpoint_creds_diff_host.rb
  bundler/spec/support/artifice/endpoint_extra.rb
  bundler/spec/support/artifice/endpoint_extra_api.rb
  bundler/spec/support/artifice/endpoint_mirror_source.rb
  bundler/spec/support/artifice/vcr.rb
Labels: Bundler, platform: windows

#3527 Debugging stuff to investigate flaky failure
  bundler/Rakefile
  bundler/spec/install/gems/compact_index_spec.rb
Labels: Bundler

#3525 Fix environment backup and restoring on Windows
  bundler/lib/bundler.rb
  bundler/lib/bundler/environment_preserver.rb
  bundler/spec/runtime/with_unbundled_env_spec.rb
Labels: Bundler, platform: windows

#3535 Fixed incorrect man path with ruby installation path
  bundler/lib/bundler/cli.rb
Labels: Bundler

#3542 Followup to no chdir in git source
  bundler/lib/bundler/source/git/git_proxy.rb
Labels: Bundler

#3533 Normalize heredoc delimiters
  .rubocop.yml
  bundler/.rubocop.yml
  bundler/lib/bundler/rubygems_integration.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/runtime/with_unbundled_env_spec.rb
  lib/rubygems.rb
  lib/rubygems/specification.rb
  lib/rubygems/specification_policy.rb
  test/rubygems/test_gem_commands_setup_command.rb
  test/rubygems/test_gem_ext_cmake_builder.rb
  test/rubygems/test_gem_remote_fetcher.rb
  test/rubygems/test_gem_request_set.rb
  test/rubygems/test_gem_specification.rb
Labels: Bundler

#3546 Refactor gemfile-lockfile source checks
  bundler/lib/bundler/definition.rb
Labels: Bundler

#3548 Show RSpec filter annoucements when running plain rspec
  bundler/.rspec_parallel
  bundler/spec/spec_helper.rb
  bundler/spec/support/parallel.rb
Labels: Bundler

#3550 Rewrite test to verify an actually supported scenario
  bundler/spec/update/git_spec.rb
Labels: Bundler

#3555 Debug parallel install error
  bundler/lib/bundler/errors.rb
  bundler/lib/bundler/installer/gem_installer.rb
  bundler/lib/bundler/installer/parallel_installer.rb
  bundler/lib/bundler/remote_specification.rb
Labels: Bundler

#3556 Run tests in parallel but with a RSpec-like interface
  .github/workflows/jruby-bundler.yml
  .github/workflows/ubuntu-bundler3.yml
  .github/workflows/windows-bundler.yml
  bundler/.rspec_parallel
  bundler/Rakefile
  bundler/bin/parallel_rspec
  bundler/doc/development/SETUP.md
  bundler/tool/turbo_tests.rb
  bundler/tool/turbo_tests/cli.rb
  bundler/tool/turbo_tests/json_rows_formatter.rb
  bundler/tool/turbo_tests/reporter.rb
  bundler/tool/turbo_tests/runner.rb
Labels: Bundler

#3397 Added Ruby 2.7 and RubyGems 3.1.2 to CI
  .github/workflows/install.yml
  .github/workflows/macos.yml
  .github/workflows/ubuntu-bundler.yml
  .github/workflows/ubuntu-bundler3.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows-bundler.yml
  .github/workflows/windows.yml
  bundler/spec/support/rubygems_ext.rb
Labels: status: triage

#3559 Improve missing spec error
  lib/rubygems/errors.rb
  lib/rubygems/specification.rb
  test/rubygems/test_gem.rb
Labels: Rubygems

#3560 Improve ubuntu bundler worflow formatting
  .github/workflows/ubuntu-bundler.yml
Labels: CI

#2725 Refactor push command host branching
  lib/rubygems/commands/push_command.rb
Labels: status: triage

#3565 Workaround rubygems upgrade on jruby
  .github/workflows/install.yml
  Rakefile
Labels: CI

#3569 Debugging info to help figure out random failure
  bundler/spec/install/gems/standalone_spec.rb
Labels: Bundler

#3561 Show deprecation warning regardles of how you specify a flag
  bundler/lib/bundler/cli.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler

#3575 Speed up some terribly slow tests
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/hax.rb
Labels: Bundler

#3577 Spec improvements
  bundler/spec/commands/exec_spec.rb
  bundler/spec/spec_helper.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/matchers.rb
  bundler/spec/support/rubygems_version_manager.rb
Labels: Bundler

#3545 Support XDG specification
  bundler/spec/bundler/env_spec.rb
  lib/rubygems.rb
  lib/rubygems/config_file.rb
  lib/rubygems/defaults.rb
  lib/rubygems/gemcutter_utilities.rb
  lib/rubygems/test_case.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_commands_owner_command.rb
  test/rubygems/test_gem_commands_push_command.rb
  test/rubygems/test_gem_commands_signin_command.rb
  test/rubygems/test_gem_commands_signout_command.rb
  test/rubygems/test_gem_commands_yank_command.rb
  test/rubygems/test_gem_config_file.rb
  test/rubygems/test_gem_gemcutter_utilities.rb
Labels: RubyGems
