Repository rubygems/rubygems, pull requests merged in 2020-11, with the labels that each got.

#3868 Deprecate server command
  lib/rubygems/command_manager.rb
  lib/rubygems/commands/server_command.rb
  test/rubygems/test_gem_commands_help_command.rb
  test/rubygems/test_gem_gem_runner.rb
Labels: RubyGems, rubygems: deprecation

#4053 Remove duplicate cases
  test/rubygems/test_gem_requirement.rb
Labels: RubyGems

#4045 Prevent remove command from deleting gemfile lines that are comments
  bundler/lib/bundler/injector.rb
  bundler/spec/commands/remove_spec.rb
Labels: bundler: bug fix

#4052 Revert resolving all Gemfile platforms automatically
  bundler/lib/bundler/cli/outdated.rb
  bundler/lib/bundler/definition.rb
  bundler/spec/install/gemfile/platform_spec.rb
Labels: Bundler

#4019 Improve gem not found in source error messages
  bundler/lib/bundler/resolver.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
Labels: Bundler, bundler: enhancement

#3983 Improve gem build -C flag
  lib/rubygems/commands/build_command.rb
  test/rubygems/test_gem_commands_build_command.rb
Labels: RubyGems, rubygems: bug fix

#3840 Update endpoint of gem signin command
  lib/rubygems/commands/owner_command.rb
  lib/rubygems/commands/push_command.rb
  lib/rubygems/commands/yank_command.rb
  lib/rubygems/gemcutter_utilities.rb
  test/rubygems/test_gem_commands_owner_command.rb
  test/rubygems/test_gem_commands_push_command.rb
  test/rubygems/test_gem_commands_signin_command.rb
  test/rubygems/test_gem_commands_yank_command.rb
  test/rubygems/test_gem_gemcutter_utilities.rb
Labels: RubyGems, rubygems: enhancement

#4015 Enable `specific_platform` by default
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/settings.rb
  bundler/man/bundle-config.1
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/plugins/source/example_spec.rb
  bundler/spec/support/platforms.rb
  bundler/test_gems.rb.lock
Labels: Bundler, bundler: bug fix

#3886 Add `--all-platforms` flag to `bundle binstubs` to generate binstubs for all platforms
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/binstubs.rb
  bundler/lib/bundler/installer.rb
  bundler/spec/commands/binstubs_spec.rb
Labels: Bundler, bundler: enhancement

#4060 Add missing openssl require
  bundler/spec/bundler/env_spec.rb
Labels: Bundler

#4059 Make changelog generation idempotent
  util/changelog.rb
Labels: RubyGems

#4061 Always show underlying error when fetching specs fails
  bundler/lib/bundler/fetcher/index.rb
  bundler/spec/bundler/fetcher/index_spec.rb
  bundler/spec/realworld/mirror_probe_spec.rb
Labels: Bundler, bundler: enhancement

#4068 Fix Windows CI
  bundler/spec/commands/clean_spec.rb
Labels: Bundler, bundler: backport

#4066 New gem template: prefer `require_relative` to `require`
  bundler/lib/bundler/templates/newgem/lib/newgem.rb.tt
  bundler/spec/commands/newgem_spec.rb
Labels: Bundler, bundler: enhancement

#4070 Fixed typo in PR template
  .github/pull_request_template.md
Labels: RubyGems

#4062 Fix edge case resulting in a crash when using `zeitwerk` inside a nested `bundle exec` invocation
  bundler/lib/bundler.rb
  bundler/lib/bundler/cli.rb
  bundler/spec/commands/exec_spec.rb
Labels: Bundler, bundler: bug fix

#4063 Raise consistent errors with or without `bundle exec`
  bundler/lib/bundler/cli/exec.rb
  bundler/lib/bundler/friendly_errors.rb
  bundler/spec/commands/exec_spec.rb
Labels: Bundler, bundler: bug fix

#4079 Fix typo of `bundle-install.1` (v2.1)
  bundler/lib/bundler/man/bundle-install.1.ronn
  bundler/man/bundle-add.1
  bundler/man/bundle-binstubs.1
  bundler/man/bundle-cache.1
  bundler/man/bundle-check.1
  bundler/man/bundle-clean.1
  bundler/man/bundle-config.1
  bundler/man/bundle-doctor.1
  bundler/man/bundle-exec.1
  bundler/man/bundle-gem.1
  bundler/man/bundle-info.1
  bundler/man/bundle-init.1
  bundler/man/bundle-inject.1
  bundler/man/bundle-install.1
  bundler/man/bundle-list.1
  bundler/man/bundle-lock.1
  bundler/man/bundle-open.1
  bundler/man/bundle-outdated.1
  bundler/man/bundle-platform.1
  bundler/man/bundle-pristine.1
  bundler/man/bundle-remove.1
  bundler/man/bundle-show.1
  bundler/man/bundle-update.1
  bundler/man/bundle-viz.1
  bundler/man/bundle.1
  bundler/man/gemfile.5
Labels: Bundler, bundler: documentation

#4085 Remove old mentions to `ChangeLog` file
  History.txt
  util/CL2notes
Labels: RubyGems
