Repository rubygems/rubygems, pull requests merged in 2020-08, with the labels that each got.

#3865 Accept responses with no etag header
  bundler/lib/bundler/compact_index_client/updater.rb
  bundler/spec/bundler/compact_index_client/updater_spec.rb
Labels: Bundler

#3856 Vendors DidYouMean::Levenshtein.distance from did_you_mean @ 1.4.0
  lib/rubygems/text.rb
  test/rubygems/test_gem_text.rb
Labels: RubyGems

#3817 Pass more information when comparing platforms
  bundler/lib/bundler/index.rb
  lib/rubygems/available_set.rb
  lib/rubygems/dependency.rb
  lib/rubygems/name_tuple.rb
  lib/rubygems/platform.rb
  lib/rubygems/request_set/gem_dependency_api.rb
  lib/rubygems/resolver/api_specification.rb
  lib/rubygems/resolver/specification.rb
  lib/rubygems/spec_fetcher.rb
  lib/rubygems/specification.rb
  test/rubygems/test_gem_platform.rb
Labels: Bundler, RubyGems

#3876 Add writable check for cache dir
  lib/rubygems/remote_fetcher.rb
  test/rubygems/test_gem_remote_fetcher.rb
Labels: RubyGems

#3789 Have "gem update --system" pass through the --silent flag.
  lib/rubygems/commands/update_command.rb
  test/rubygems/test_gem_commands_update_command.rb
Labels: RubyGems

#3847 Eval defaults with frozen_string_literal: true
  lib/rubygems/specification.rb
Labels: RubyGems, rubygems: performance

#3825 Enable using trailing commas in rubygems
  .rubocop.yml
  lib/rubygems.rb
  lib/rubygems/command_manager.rb
  lib/rubygems/commands/pristine_command.rb
  lib/rubygems/commands/push_command.rb
  lib/rubygems/commands/update_command.rb
  lib/rubygems/defaults.rb
  lib/rubygems/dependency_installer.rb
  lib/rubygems/ext/builder.rb
  lib/rubygems/installer.rb
  lib/rubygems/package.rb
  lib/rubygems/package/tar_header.rb
  lib/rubygems/package/tar_test_case.rb
  lib/rubygems/request_set/gem_dependency_api.rb
  lib/rubygems/requirement.rb
  lib/rubygems/resolver.rb
  lib/rubygems/resolver/conflict.rb
  lib/rubygems/resolver/installer_set.rb
  lib/rubygems/resolver/lock_set.rb
  lib/rubygems/s3_uri_signer.rb
  lib/rubygems/security/policy.rb
  lib/rubygems/security/signer.rb
  lib/rubygems/server.rb
  lib/rubygems/specification.rb
  lib/rubygems/stub_specification.rb
  lib/rubygems/test_case.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_commands_contents_command.rb
  test/rubygems/test_gem_commands_install_command.rb
  test/rubygems/test_gem_commands_owner_command.rb
  test/rubygems/test_gem_commands_pristine_command.rb
  test/rubygems/test_gem_commands_push_command.rb
  test/rubygems/test_gem_commands_yank_command.rb
  test/rubygems/test_gem_dependency_list.rb
  test/rubygems/test_gem_gemcutter_utilities.rb
  test/rubygems/test_gem_installer.rb
  test/rubygems/test_gem_package.rb
  test/rubygems/test_gem_remote_fetcher.rb
  test/rubygems/test_gem_request_set_lockfile.rb
  test/rubygems/test_gem_resolver_api_set.rb
  test/rubygems/test_gem_resolver_conflict.rb
  test/rubygems/test_gem_resolver_vendor_set.rb
  test/rubygems/test_gem_specification.rb
  test/rubygems/test_gem_validator.rb
  test/rubygems/test_gem_version_option.rb
  util/create_certs.rb
  util/update_bundled_ca_certificates.rb
Labels: RubyGems

#3079 Added `--platform` option to `build` command
  lib/rubygems/commands/build_command.rb
  lib/rubygems/specification.rb
  test/rubygems/test_gem_commands_build_command.rb
Labels: status: triage

#3566 Disallow downgrades to too old versions
  lib/rubygems/commands/update_command.rb
  test/rubygems/test_gem_commands_update_command.rb
Labels: RubyGems

#3401 Add Bundler::Definition.no_lock accessor for skipping lock file creation/update
  bundler/lib/bundler/definition.rb
  bundler/spec/bundler/definition_spec.rb
Labels: status: triage

#3897 Skip the example with the drive letter of Windows
  bundler/spec/install/deploy_spec.rb
Labels: Bundler

#3891 Test TruffleRuby 20.2.0 in CI
  .github/workflows/ubuntu-rubygems.yml
Labels: CI, RubyGems

#3893 fix: MiniTest file and class should starts with 'test'
  Manifest.txt
  bundler/lib/bundler/cli/gem.rb
  bundler/lib/bundler/templates/newgem/Rakefile.tt
  bundler/lib/bundler/templates/newgem/test/minitest/test_newgem.rb.tt
  bundler/spec/commands/newgem_spec.rb
Labels: Bundler, RubyGems

#3888 Re-use install update default options
  lib/rubygems/commands/install_command.rb
  lib/rubygems/commands/update_command.rb
  lib/rubygems/install_update_options.rb
  test/rubygems/test_gem_command_manager.rb
  test/rubygems/test_gem_commands_update_command.rb
Labels: RubyGems

#3904 Revisit #2840
  Manifest.txt
  lib/rubygems/command_manager.rb
  lib/rubygems/exceptions.rb
  lib/rubygems/unknown_command_spell_checker.rb
  test/rubygems/test_gem_command_manager.rb
Labels: RubyGems

#3900 Fix regression related to locked ruby
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
Labels: Bundler

#3901 Fix error when building error message in `bundler/inline`
  bundler/lib/bundler/rubygems_integration.rb
  bundler/spec/runtime/inline_spec.rb
Labels: Bundler

#3910 Actions daily workflows - only run in rubygems account
  .github/workflows/daily-bundler.yml
  .github/workflows/daily-rubygems.yml
  .github/workflows/monthly-bundler.yml
Labels: Bundler, CI, RubyGems

#3872 Update man page and deprecation warning for binstubs --all
  bundler/Rakefile
  bundler/lib/bundler/cli/install.rb
  bundler/man/bundle-binstubs.1
  bundler/man/bundle-binstubs.1.txt
  bundler/man/bundle-binstubs.ronn
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler, bundler: documentation

#3902 Fix incorrect re-resolution when path gem excluded and not available
  bundler/lib/bundler/definition.rb
  bundler/spec/runtime/setup_spec.rb
Labels: Bundler, bundler: bug fix

#3919 Actions - fix if clause in daily/monthly workflows
  .github/workflows/daily-bundler.yml
  .github/workflows/daily-rubygems.yml
  .github/workflows/monthly-bundler.yml
Labels: Bundler, CI, RubyGems

#3911 Add missing fileutils require
  .github/workflows/install-rubygems.yml
  lib/rubygems/source.rb
Labels: CI, RubyGems, rubygems: bug fix

#3913 Add `set` as a non supported default gem
  bundler/spec/runtime/setup_spec.rb
Labels: Bundler
