Repository rubygems/rubygems, pull requests merged in 2020-09, with the labels that each got.

#3877 Look for absolute path when removing bundler/setup from RUBYOPT in Bundler.unbundled_env method
  bundler/lib/bundler.rb
  bundler/spec/runtime/with_unbundled_env_spec.rb
Labels: Bundler, bundler: bug fix

#3922 September man pages
  bundler/man/bundle-add.1
  bundler/man/bundle-add.1.txt
  bundler/man/bundle-binstubs.1
  bundler/man/bundle-binstubs.1.txt
  bundler/man/bundle-cache.1
  bundler/man/bundle-cache.1.txt
  bundler/man/bundle-check.1
  bundler/man/bundle-check.1.txt
  bundler/man/bundle-clean.1
  bundler/man/bundle-clean.1.txt
  bundler/man/bundle-config.1
  bundler/man/bundle-config.1.txt
  bundler/man/bundle-doctor.1
  bundler/man/bundle-doctor.1.txt
  bundler/man/bundle-exec.1
  bundler/man/bundle-exec.1.txt
  bundler/man/bundle-gem.1
  bundler/man/bundle-gem.1.txt
  bundler/man/bundle-info.1
  bundler/man/bundle-info.1.txt
  bundler/man/bundle-init.1
  bundler/man/bundle-init.1.txt
  bundler/man/bundle-inject.1
  bundler/man/bundle-inject.1.txt
  bundler/man/bundle-install.1
  bundler/man/bundle-install.1.txt
  bundler/man/bundle-list.1
  bundler/man/bundle-list.1.txt
  bundler/man/bundle-lock.1
  bundler/man/bundle-lock.1.txt
  bundler/man/bundle-open.1
  bundler/man/bundle-open.1.txt
  bundler/man/bundle-outdated.1
  bundler/man/bundle-outdated.1.txt
  bundler/man/bundle-platform.1
  bundler/man/bundle-platform.1.txt
  bundler/man/bundle-pristine.1
  bundler/man/bundle-pristine.1.txt
  bundler/man/bundle-remove.1
  bundler/man/bundle-remove.1.txt
  bundler/man/bundle-show.1
  bundler/man/bundle-show.1.txt
  bundler/man/bundle-update.1
  bundler/man/bundle-update.1.txt
  bundler/man/bundle-viz.1
  bundler/man/bundle-viz.1.txt
  bundler/man/bundle.1
  bundler/man/bundle.1.txt
  bundler/man/gemfile.5
  bundler/man/gemfile.5.txt
Labels: Bundler

#3917 Fix deprecation messages for `bundle install` flags, the config should be --local as before
  bundler/UPGRADING.md
  bundler/lib/bundler.rb
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/fetcher.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/rubygems_gem_installer.rb
  bundler/lib/bundler/source_list.rb
  bundler/man/bundle-config.1
  bundler/man/bundle-config.1.txt
  bundler/man/bundle-config.ronn
  bundler/man/gemfile.5
  bundler/man/gemfile.5.ronn
  bundler/man/gemfile.5.txt
  bundler/spec/bundler/source_list_spec.rb
  bundler/spec/commands/outdated_spec.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler, bundler: bug fix

#3867 Make --dry-run flag consistent across rubygems commands
  lib/rubygems/commands/cleanup_command.rb
  test/rubygems/test_gem_commands_cleanup_command.rb
Labels: RubyGems, rubygems: minor enhancement

#3915 Note CLI flag deprecations in documentation
  bundler/man/bundle-install.1
  bundler/man/bundle-install.1.txt
  bundler/man/bundle-install.ronn
Labels: Bundler, bundler: documentation

#3909 Fix platform issues when running under a frozen bundle
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/gem_helpers.rb
  bundler/spec/install/gemfile/platform_spec.rb
Labels: Bundler, bundler: bug fix

#3927 Move shebang to the top of `bin/console` template
  bundler/lib/bundler/templates/newgem/bin/console.tt
  bundler/spec/commands/newgem_spec.rb
Labels: Bundler, bundler: bug fix

#3921 Improve human readable fallback version of CLI help messages
  Manifest.txt
  bundler/Rakefile
  bundler/doc/development/SETUP.md
  bundler/doc/documentation/WRITING.md
  bundler/lib/bundler/cli.rb
  bundler/man/bundle-add.1.ronn
  bundler/man/bundle-add.1.txt
  bundler/man/bundle-binstubs.1.ronn
  bundler/man/bundle-binstubs.1.txt
  bundler/man/bundle-cache.1.ronn
  bundler/man/bundle-cache.1.txt
  bundler/man/bundle-check.1.ronn
  bundler/man/bundle-check.1.txt
  bundler/man/bundle-clean.1.ronn
  bundler/man/bundle-clean.1.txt
  bundler/man/bundle-config.1.ronn
  bundler/man/bundle-config.1.txt
  bundler/man/bundle-doctor.1.ronn
  bundler/man/bundle-doctor.1.txt
  bundler/man/bundle-exec.1.ronn
  bundler/man/bundle-exec.1.txt
  bundler/man/bundle-gem.1.ronn
  bundler/man/bundle-gem.1.txt
  bundler/man/bundle-info.1.ronn
  bundler/man/bundle-info.1.txt
  bundler/man/bundle-init.1.ronn
  bundler/man/bundle-init.1.txt
  bundler/man/bundle-inject.1.ronn
  bundler/man/bundle-inject.1.txt
  bundler/man/bundle-install.1.ronn
  bundler/man/bundle-install.1.txt
  bundler/man/bundle-list.1.ronn
  bundler/man/bundle-list.1.txt
  bundler/man/bundle-lock.1.ronn
  bundler/man/bundle-lock.1.txt
  bundler/man/bundle-open.1.ronn
  bundler/man/bundle-open.1.txt
  bundler/man/bundle-outdated.1.ronn
  bundler/man/bundle-outdated.1.txt
  bundler/man/bundle-platform.1.ronn
  bundler/man/bundle-platform.1.txt
  bundler/man/bundle-pristine.1.ronn
  bundler/man/bundle-pristine.1.txt
  bundler/man/bundle-remove.1.ronn
  bundler/man/bundle-remove.1.txt
  bundler/man/bundle-show.1.ronn
  bundler/man/bundle-show.1.txt
  bundler/man/bundle-update.1.ronn
  bundler/man/bundle-update.1.txt
  bundler/man/bundle-viz.1.ronn
  bundler/man/bundle-viz.1.txt
  bundler/man/bundle.1.ronn
  bundler/man/bundle.1.txt
  bundler/man/gemfile.5.txt
  bundler/man/index.txt
  bundler/spec/bundler/cli_spec.rb
  bundler/spec/commands/help_spec.rb
  bundler/spec/quality_spec.rb
  lib/rubygems/commands/setup_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
Labels: Bundler, RubyGems, bundler: documentation

#3928 Readd man pages index
  Manifest.txt
  bundler/Rakefile
  bundler/man/index.txt
Labels: Bundler

#3923 Fix issues when syncronizing man pages
  .github/workflows/monthly-bundler.yml
  bundler/Rakefile
Labels: Bundler, CI

#3914 Restore `bundle cache --all` in all cases
  bundler/lib/bundler/cli.rb
  bundler/man/bundle-config.1
  bundler/man/bundle-config.1.ronn
Labels: Bundler, bundler: bug fix

#3924 The bug report template should be printed to standard error
  bundler/lib/bundler/friendly_errors.rb
  bundler/lib/bundler/ui/shell.rb
  bundler/spec/bundler/friendly_errors_spec.rb
Labels: Bundler

#3889 Sort requirements in Gem::Requirement to succeed comparison with different order
  bundler/lib/bundler/rubygems_ext.rb
  bundler/spec/install/gemfile/platform_spec.rb
  lib/rubygems/requirement.rb
  test/rubygems/test_gem_requirement.rb
Labels: Bundler, RubyGems, bundler: bug fix

#3932 Deprecate `bundle cache --all` flag
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/cache.rb
  bundler/lib/bundler/definition.rb
  bundler/spec/cache/git_spec.rb
  bundler/spec/cache/path_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler, bundler: deprecation

#3936 Revert "Try to work around actions/virtual-environments#1437"
  .github/workflows/install-rubygems.yml
Labels: CI, RubyGems

#3937 Bump minitest to latest 5.14.2
  dev_gems.rb
  dev_gems.rb.lock
Labels: RubyGems

#3940 Avoid duplicated generation of APISpecification objects
  lib/rubygems/resolver/api_specification.rb
Labels: RubyGems

#3933 Prioritize `path.system` over `path` when it makes sense
  bundler/lib/bundler/settings.rb
  bundler/spec/install/path_spec.rb
Labels: Bundler, bundler: bug fix

#3946 Fix CI
  bundler/spec/commands/newgem_spec.rb
Labels: Bundler

#3947 Update bundler setup.md docs
  bundler/doc/development/SETUP.md
Labels: Bundler

#3906 Make `--default` and `--install-dir` options to `gem install` play nice together
  lib/rubygems/installer.rb
  lib/rubygems/installer_test_case.rb
  lib/rubygems/test_case.rb
  test/rubygems/test_gem_commands_cleanup_command.rb
  test/rubygems/test_gem_commands_contents_command.rb
  test/rubygems/test_gem_commands_pristine_command.rb
  test/rubygems/test_gem_commands_query_command.rb
  test/rubygems/test_gem_dependency_installer.rb
  test/rubygems/test_gem_installer.rb
  test/rubygems/test_gem_specification.rb
  test/rubygems/test_gem_uninstaller.rb
  test/rubygems/test_require.rb
Labels: RubyGems, rubygems: bug fix

#3887 only stat user home once when path is missing
  lib/rubygems/source.rb
Labels: RubyGems

#3907 Make `bundle clean --force` leave default gem executables untouched
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/runtime.rb
  bundler/spec/commands/clean_spec.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/hax.rb
  bundler/spec/support/helpers.rb
Labels: Bundler, RubyGems, bundler: bug fix

#3848 Unify changelog handling for rubygems & bundler
  .changelog.yml
  History.txt
  Rakefile
  bundler/.changelog.yml
  bundler/CHANGELOG.md
  bundler/dev_gems.rb
  bundler/dev_gems.rb.lock
  bundler/doc/playbooks/MERGING_A_PR.md
  bundler/doc/playbooks/RELEASING.md
  bundler/spec/support/path.rb
  bundler/task/release.rake
  dev_gems.rb
  dev_gems.rb.lock
  lib/rubygems/commands/setup_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
  util/changelog.rb
  util/github_info.rb
  util/patch_with_prs.rb
  util/update_changelog.rb
Labels: Bundler, RubyGems

#3950 Fix bundler daily CI
  bundler/spec/commands/clean_spec.rb
Labels: Bundler, CI, RubyGems

#3952 Update the last references to old repositories
  bundler/UPGRADING.md
  bundler/man/bundle-config.1
  bundler/man/bundle-config.1.ronn
  bundler/spec/bundler/source/git/git_proxy_spec.rb
  bundler/spec/commands/binstubs_spec.rb
  bundler/spec/commands/exec_spec.rb
Labels: Bundler

#3959 Fix typo in `bundle pristine` warning message
  bundler/lib/bundler/cli/pristine.rb
  bundler/spec/commands/pristine_spec.rb
Labels: Bundler, bundler: documentation

#3960 rubygems is needed to run solo-file test
  test/rubygems/test_gem_source_list.rb
Labels: RubyGems, rubygems: backport

#3951 Fix `typo_squatting?` false positive for `rubygems.org` itself
  lib/rubygems/source.rb
  test/rubygems/test_gem_source.rb
Labels: RubyGems, rubygems: bug fix

#3956 Add `--force` option to `gem sources` command
  lib/rubygems/commands/sources_command.rb
  test/rubygems/test_gem_commands_sources_command.rb
Labels: RubyGems, rubygems: minor enhancement

#3974 Disable `fail-fast` mode in CI
  .github/workflows/daily-bundler.yml
  .github/workflows/daily-rubygems.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/macos-rubygems.yml
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/ruby-core.yml
  .github/workflows/ubuntu-bundler.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
  .github/workflows/windows-rubygems.yml
Labels: Bundler, CI, RubyGems

#3968 Don't hit the network when installing dependencyless local gemspec
  .github/workflows/install-rubygems.yml
  lib/rubygems/dependency_installer.rb
  lib/rubygems/resolver/installer_set.rb
Labels: Bundler, CI, RubyGems, rubygems: minor enhancement

#3975 Fix `--build-root` flag under Windows
  lib/rubygems/installer.rb
  test/rubygems/test_gem_installer.rb
Labels: RubyGems, rubygems: bug fix

#3973 Reword issue report steps to be more clear
  .github/ISSUE_TEMPLATE/bundler-related-issue.md
Labels: Bundler
