Repository rubygems/rubygems, pull requests merged in 2020-06, with the labels that each got.

#3673 June man pages
  bundler/man/bundle-add.1
  bundler/man/bundle-add.1.txt
  bundler/man/bundle-binstubs.1
  bundler/man/bundle-binstubs.1.txt
  bundler/man/bundle-cache.1
  bundler/man/bundle-cache.1.txt
  bundler/man/bundle-check.1
  bundler/man/bundle-check.1.txt
  bundler/man/bundle-clean.1
  bundler/man/bundle-clean.1.txt
  bundler/man/bundle-config.1
  bundler/man/bundle-config.1.txt
  bundler/man/bundle-doctor.1
  bundler/man/bundle-doctor.1.txt
  bundler/man/bundle-exec.1
  bundler/man/bundle-exec.1.txt
  bundler/man/bundle-gem.1
  bundler/man/bundle-gem.1.txt
  bundler/man/bundle-info.1
  bundler/man/bundle-info.1.txt
  bundler/man/bundle-init.1
  bundler/man/bundle-init.1.txt
  bundler/man/bundle-inject.1
  bundler/man/bundle-inject.1.txt
  bundler/man/bundle-install.1
  bundler/man/bundle-install.1.txt
  bundler/man/bundle-list.1
  bundler/man/bundle-list.1.txt
  bundler/man/bundle-lock.1
  bundler/man/bundle-lock.1.txt
  bundler/man/bundle-open.1
  bundler/man/bundle-open.1.txt
  bundler/man/bundle-outdated.1
  bundler/man/bundle-outdated.1.txt
  bundler/man/bundle-platform.1
  bundler/man/bundle-platform.1.txt
  bundler/man/bundle-pristine.1
  bundler/man/bundle-pristine.1.txt
  bundler/man/bundle-remove.1
  bundler/man/bundle-remove.1.txt
  bundler/man/bundle-show.1
  bundler/man/bundle-show.1.txt
  bundler/man/bundle-update.1
  bundler/man/bundle-update.1.txt
  bundler/man/bundle-viz.1
  bundler/man/bundle-viz.1.txt
  bundler/man/bundle.1
  bundler/man/bundle.1.txt
  bundler/man/gemfile.5
  bundler/man/gemfile.5.txt
Labels: Bundler

#3611 3.1 backport - Remove failing ubuntu-rvm CI flow.
  .github/workflows/install.yml
  .github/workflows/ubuntu-rvm.yml
  .github/workflows/ubuntu.yml
  lib/rubygems/test_case.rb
  test/rubygems/test_gem.rb
Labels: CI

#3610 3.1 backport - Update links
  CONTRIBUTING.md
  History.txt
  README.md
  Rakefile
  lib/rubygems.rb
  lib/rubygems/command.rb
  lib/rubygems/commands/help_command.rb
  lib/rubygems/commands/sources_command.rb
  lib/rubygems/resolver/api_set.rb
  lib/rubygems/resolver/api_specification.rb
  lib/rubygems/server.rb
  lib/rubygems/specification_policy.rb
  test/rubygems/test_gem_commands_build_command.rb
  test/rubygems/test_gem_commands_sources_command.rb
  test/rubygems/test_gem_specification.rb
Labels: RubyGems

#3609 3.1 backport - Deprecate rubyforge_project attribute only during build time.
  Manifest.txt
  lib/rubygems/specification.rb
  lib/rubygems/specification_policy.rb
  lib/rubygems/test_case.rb
  test/rubygems/specifications/rubyforge-0.0.1.gemspec
  test/rubygems/test_gem_commands_build_command.rb
  test/rubygems/test_gem_specification.rb
  test/rubygems/test_gem_stub_specification.rb
Labels: RubyGems

#3672 Follow up to addition of head build slack notifications
  .github/workflows/daily-bundler.yml
  .github/workflows/daily.yml
Labels: CI

#3668 Skip gemspec validations that warn except when on a gem authoring context
  lib/rubygems/specification.rb
  lib/rubygems/specification_policy.rb
  test/rubygems/test_gem_specification.rb
Labels: RubyGems

#3677 Run CI at 3.1 branch head as well.
  .github/workflows/install.yml
  .github/workflows/macos.yml
  .github/workflows/ruby-master.yml
  .github/workflows/ubuntu-bundler-master.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
  test/rubygems/test_gem_commands_build_command.rb
Labels: CI

#3682 Enable `Style/MethodCallWithoutArgsParentheses` in rubygems
  .rubocop.yml
  test/rubygems/test_gem_commands_signin_command.rb
Labels: RubyGems

#3670 Make sure rubygems/package can be directly required reliably
  lib/rubygems/package.rb
  test/rubygems/test_project_sanity.rb
Labels: RubyGems

#3674 Fix hidden bundler template installation from rubygems updater
  lib/rubygems/commands/setup_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
Labels: RubyGems

#3689 Send a slack notification when daily ruby-head build fails
  .github/workflows/daily-bundler.yml
  .github/workflows/daily.yml
Labels: CI

#3688 Undeprecate the `--no-cache` flag
  bundler/UPGRADING.md
  bundler/lib/bundler/cli.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler

#3698 Fix ruby-head failing bundler tests
  .github/workflows/daily-bundler.yml
  .github/workflows/daily.yml
  .github/workflows/install.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/macos.yml
  .github/workflows/ruby-core-test-suite.yml
  .github/workflows/ubuntu-bundler.yml
  .github/workflows/ubuntu-bundler3.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows-bundler.yml
  .github/workflows/windows.yml
Labels: CI

#3694 Fix ruby-head failing rubygems tests
  lib/rubygems/test_case.rb
Labels: RubyGems

#3699 Bump rubygems versions in CI
  .github/workflows/ubuntu-bundler.yml
  .github/workflows/ubuntu-bundler3.yml
Labels: CI

#3692 Fix regression caused by the `only_update_to_newer_versions` feature flag
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/check_spec.rb
  bundler/spec/install/bundler_spec.rb
  bundler/spec/support/builders.rb
Labels: Bundler

#3667 Follow-up #3403: Add new option to `bundle gem` for choosing a CI service
  Manifest.txt
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/gem.rb
  bundler/lib/bundler/templates/newgem/.circleci/config.yml.tt
  bundler/lib/bundler/templates/newgem/.github/workflows/main.yml.tt
  bundler/lib/bundler/templates/newgem/.gitlab-ci.yml.tt
  bundler/lib/bundler/templates/newgem/.travis.yml.tt
  bundler/man/bundle-gem.1
  bundler/man/bundle-gem.1.txt
  bundler/man/bundle-gem.ronn
  bundler/spec/bundler/gem_helper_spec.rb
  bundler/spec/commands/newgem_spec.rb
Labels: Bundler, CI

#3713 Remove random code
  lib/rubygems/specification.rb
Labels: RubyGems

#3716 Deprecate `Gem::Util.silent_system`
  lib/rubygems/source/git.rb
  lib/rubygems/util.rb
  test/rubygems/test_gem_source_git.rb
  test/rubygems/test_gem_util.rb
Labels: RubyGems

#3717 Better rubocop setup
  .rubocop_bundler.yml
  bundler/bin/rubocop
Labels: Bundler

#3718 Restore sequential install by default on Windows
  bundler/lib/bundler/installer.rb
Labels: Bundler

#3715 Remove encoding magic comments
  .rubocop.yml
  lib/rubygems/package.rb
  lib/rubygems/package/tar_header.rb
  lib/rubygems/package/tar_reader.rb
  lib/rubygems/package/tar_reader/entry.rb
  lib/rubygems/package/tar_writer.rb
  test/rubygems/specifications/bar-0.0.2.gemspec
  test/rubygems/specifications/rubyforge-0.0.1.gemspec
  test/rubygems/test_gem_commands_setup_command.rb
  test/rubygems/test_gem_ext_ext_conf_builder.rb
  test/rubygems/test_gem_package.rb
  test/rubygems/test_gem_security_policy.rb
Labels: RubyGems

#3706 Backport Ruby core changes for RubyGems
  test/rubygems/test_gem_ext_cmake_builder.rb
  test/rubygems/test_require.rb
Labels: RubyGems

#3721 Make sure to pass URI's to `:git`
  bundler/spec/update/git_spec.rb
Labels: Bundler

#3722 Make a spec helper more portable and improve some skip messages
  bundler/spec/bundler/cli_spec.rb
  bundler/spec/commands/help_spec.rb
  bundler/spec/support/helpers.rb
Labels: Bundler

#3720 Add Gem.disable_system_update_message to disable gem update --system if needed.
  lib/rubygems.rb
  lib/rubygems/commands/update_command.rb
  test/rubygems/test_gem_commands_update_command.rb
Labels: RubyGems

#3724 Forward-port ruby core changes
  bundler/spec/commands/exec_spec.rb
  bundler/spec/install/deploy_spec.rb
  bundler/spec/other/platform_spec.rb
  bundler/spec/support/helpers.rb
Labels: Bundler

#3723 Remove unneeded code
  lib/rubygems/rdoc.rb
Labels: RubyGems

#3711 Make sure `tmp` folder exists before calling `Dir.tmpdir`
  .gitignore
  Manifest.txt
  lib/rubygems/test_case.rb
  tmp/.keep
Labels: RubyGems

#3728 Rename hidden templates
  Manifest.txt
  bundler/lib/bundler/cli/gem.rb
  bundler/lib/bundler/templates/newgem/circleci/config.yml.tt
  bundler/lib/bundler/templates/newgem/github/workflows/main.yml.tt
  bundler/lib/bundler/templates/newgem/gitlab-ci.yml.tt
  bundler/lib/bundler/templates/newgem/travis.yml.tt
Labels: Bundler

#3729 Allow tests without rake
  lib/rubygems/package_task.rb
  lib/rubygems/test_case.rb
  test/rubygems/test_gem_package_task.rb
  test/rubygems/test_gem_remote_fetcher.rb
Labels: RubyGems

#3731 Ship default .rubocop.yml
  Manifest.txt
  bundler/lib/bundler/cli/gem.rb
  bundler/lib/bundler/templates/newgem/rubocop.yml.tt
  bundler/spec/commands/newgem_spec.rb
Labels: Bundler

#3732 Speed up setup test by not installing docs
  test/rubygems/test_gem_commands_setup_command.rb
Labels: RubyGems

#3733 Tweaks to play nice with ruby-core setup
  lib/rubygems/test_case.rb
Labels: RubyGems

#3725 Enforce ruby-core integration workflow
  .github/workflows/ruby-core.yml
Labels: CI

#3738 test/rubygems/test_gem_package.rb: Skip a test when TMPDIR is too long
  test/rubygems/test_gem_package.rb
Labels: RubyGems

#3739 Forward port last commit from ruby-core
  bundler/spec/quality_spec.rb
Labels: Bundler

#3736 Bundler - fix executable binstubs (project binstubs) on Windows
  bundler/lib/bundler/installer.rb
  bundler/spec/commands/binstubs_spec.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/install/gems/standalone_spec.rb
  bundler/spec/runtime/executable_spec.rb
Labels: Bundler

#3622 Bump vendored libraries
  bundler/Rakefile
  bundler/lib/bundler/vendor/thor/lib/thor.rb
  bundler/lib/bundler/vendor/thor/lib/thor/actions/create_link.rb
  bundler/lib/bundler/vendor/thor/lib/thor/base.rb
  bundler/lib/bundler/vendor/thor/lib/thor/version.rb
Labels: Bundler

#3742 Spec improvements
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/support/helpers.rb
Labels: Bundler

#3746 Show errors whenever `sys_exec` fails
  bundler/spec/spec_helper.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/rubygems_version_manager.rb
Labels: Bundler

#3740 Fix RuboCop offenses
  bundler/lib/bundler/templates/newgem/Gemfile.tt
  bundler/lib/bundler/templates/newgem/Rakefile.tt
  bundler/lib/bundler/templates/newgem/bin/console.tt
  bundler/lib/bundler/templates/newgem/lib/newgem.rb.tt
  bundler/lib/bundler/templates/newgem/lib/newgem/version.rb.tt
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
  bundler/lib/bundler/templates/newgem/rubocop.yml.tt
  bundler/lib/bundler/templates/newgem/spec/newgem_spec.rb.tt
  bundler/lib/bundler/templates/newgem/spec/spec_helper.rb.tt
  bundler/spec/commands/newgem_spec.rb
  bundler/spec/support/helpers.rb
Labels: Bundler

#3750 Move `automatiek` to the main repo
  bundler/Rakefile
  bundler/dev_gems.rb
  bundler/dev_gems.rb.lock
  bundler/task/automatiek.rake
  bundler/task/automatiek/gem.rb
Labels: Bundler

#3753 Include MIT license with Samuel's name on top of automatiek files
  bundler/task/automatiek.rake
  bundler/task/automatiek/gem.rb
Labels: Bundler

#3756 Easier way to find path to ruby binary
  bundler/spec/support/rubygems_version_manager.rb
Labels: Bundler

#3755 Clean up specs status checks
  bundler/spec/bundler/cli_spec.rb
  bundler/spec/bundler/friendly_errors_spec.rb
  bundler/spec/cache/gems_spec.rb
  bundler/spec/commands/binstubs_spec.rb
  bundler/spec/commands/cache_spec.rb
  bundler/spec/commands/check_spec.rb
  bundler/spec/commands/clean_spec.rb
  bundler/spec/commands/doctor_spec.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/help_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/newgem_spec.rb
  bundler/spec/commands/outdated_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/deploy_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/install/gemfile/path_spec.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/install/gemfile/ruby_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/install/gems/win32_spec.rb
  bundler/spec/install/gemspecs_spec.rb
  bundler/spec/install/path_spec.rb
  bundler/spec/install/security_policy_spec.rb
  bundler/spec/other/platform_spec.rb
  bundler/spec/plugins/install_spec.rb
  bundler/spec/runtime/executable_spec.rb
  bundler/spec/runtime/gem_tasks_spec.rb
  bundler/spec/runtime/inline_spec.rb
  bundler/spec/support/helpers.rb
  bundler/spec/update/git_spec.rb
Labels: Bundler

#3748 Add actions to automatically bump man page month
  .github/workflows/monthly.yml
Labels: CI

#3759 Read path binarily inside test helper
  lib/rubygems/test_utilities.rb
Labels: RubyGems

#3758 Test files should not be included in spec.files
  lib/rubygems/specification.rb
Labels: RubyGems

#3754 Constrain (shipped) RuboCop's version
  bundler/lib/bundler/templates/newgem/Gemfile.tt
Labels: Bundler

#3764 Move trufferuby-head to daily build
  .github/workflows/daily.yml
  .github/workflows/ubuntu.yml
Labels: CI

#3763 Stop using deprecated OpenSSL::Digest constants
  bundler/lib/bundler/shared_helpers.rb
  bundler/spec/bundler/fetcher/compact_index_spec.rb
  lib/rubygems/package.rb
  lib/rubygems/package/tar_writer.rb
  lib/rubygems/security.rb
  lib/rubygems/security/policy.rb
  lib/rubygems/security/signer.rb
  lib/rubygems/security/trust_dir.rb
  test/rubygems/test_gem_package.rb
  test/rubygems/test_gem_package_tar_writer.rb
  test/rubygems/test_gem_security_policy.rb
  test/rubygems/test_gem_security_trust_dir.rb
  util/create_certs.rb
Labels: Bundler, RubyGems

#3762 Avoid calling LoadError#message to not trigger DidYouMean
  bundler/lib/bundler/runtime.rb
Labels: Bundler

#3766 Allow setting a tag prefix to be used by gem release tasks
  bundler/lib/bundler/gem_helper.rb
  bundler/spec/bundler/gem_helper_spec.rb
Labels: Bundler

#3765 Fix remaining RuboCop issues
  bundler/lib/bundler/templates/newgem/Gemfile.tt
  bundler/lib/bundler/templates/newgem/Rakefile.tt
  bundler/lib/bundler/templates/newgem/ext/newgem/extconf.rb.tt
  bundler/lib/bundler/templates/newgem/test/minitest/newgem_test.rb.tt
  bundler/lib/bundler/templates/newgem/test/minitest/test_helper.rb.tt
  bundler/lib/bundler/templates/newgem/test/test-unit/newgem_test.rb.tt
  bundler/lib/bundler/templates/newgem/test/test-unit/test_helper.rb.tt
  bundler/spec/commands/newgem_spec.rb
Labels: Bundler

#3703 Adapt release tasks to new repo
  bundler/Rakefile
  bundler/doc/playbooks/RELEASING.md
  bundler/task/build_metadata.rake
  bundler/task/release.rake
Labels: Bundler
