Repository rubygems/rubygems, pull requests merged in 2020-07, with the labels that each got.

#3767 July man pages
  bundler/man/bundle-add.1
  bundler/man/bundle-add.1.txt
  bundler/man/bundle-binstubs.1
  bundler/man/bundle-binstubs.1.txt
  bundler/man/bundle-cache.1
  bundler/man/bundle-cache.1.txt
  bundler/man/bundle-check.1
  bundler/man/bundle-check.1.txt
  bundler/man/bundle-clean.1
  bundler/man/bundle-clean.1.txt
  bundler/man/bundle-config.1
  bundler/man/bundle-config.1.txt
  bundler/man/bundle-doctor.1
  bundler/man/bundle-doctor.1.txt
  bundler/man/bundle-exec.1
  bundler/man/bundle-exec.1.txt
  bundler/man/bundle-gem.1
  bundler/man/bundle-gem.1.txt
  bundler/man/bundle-info.1
  bundler/man/bundle-info.1.txt
  bundler/man/bundle-init.1
  bundler/man/bundle-init.1.txt
  bundler/man/bundle-inject.1
  bundler/man/bundle-inject.1.txt
  bundler/man/bundle-install.1
  bundler/man/bundle-install.1.txt
  bundler/man/bundle-list.1
  bundler/man/bundle-list.1.txt
  bundler/man/bundle-lock.1
  bundler/man/bundle-lock.1.txt
  bundler/man/bundle-open.1
  bundler/man/bundle-open.1.txt
  bundler/man/bundle-outdated.1
  bundler/man/bundle-outdated.1.txt
  bundler/man/bundle-platform.1
  bundler/man/bundle-platform.1.txt
  bundler/man/bundle-pristine.1
  bundler/man/bundle-pristine.1.txt
  bundler/man/bundle-remove.1
  bundler/man/bundle-remove.1.txt
  bundler/man/bundle-show.1
  bundler/man/bundle-show.1.txt
  bundler/man/bundle-update.1
  bundler/man/bundle-update.1.txt
  bundler/man/bundle-viz.1
  bundler/man/bundle-viz.1.txt
  bundler/man/bundle.1
  bundler/man/bundle.1.txt
  bundler/man/gemfile.5
  bundler/man/gemfile.5.txt
Labels: Bundler

#3770 Remove explicit require for autoloaded constant
  lib/rubygems/dependency_installer.rb
  lib/rubygems/source_list.rb
Labels: RubyGems

#3771 Remove more unnecessary requires
  bundler/lib/bundler/rubygems_integration.rb
  lib/rubygems/bundler_version_finder.rb
  lib/rubygems/commands/open_command.rb
  lib/rubygems/resolver.rb
  lib/rubygems/source/git.rb
  lib/rubygems/user_interaction.rb
Labels: Bundler, RubyGems

#3769 Merge bundler workflows
  .github/workflows/ubuntu-bundler.yml
  .github/workflows/ubuntu-bundler3.yml
Labels: CI

#3774 Unswallow `Gem::Package::FormatError`
  bundler/lib/bundler/rubygems_integration.rb
Labels: Bundler

#3777 Tweaks for releasing
  bundler/Rakefile
  bundler/dev_gems.rb
  bundler/dev_gems.rb.lock
  bundler/task/release.rake
Labels: Bundler

#3791 Remove redundant "bundler/setup"
  bundler/lib/bundler/templates/newgem/spec/spec_helper.rb.tt
Labels: Bundler

#3787 Remove old compatibility code
  bundler/lib/bundler/fetcher.rb
  bundler/lib/bundler/process_lock.rb
  bundler/lib/bundler/shared_helpers.rb
  bundler/spec/bundler/shared_helpers_spec.rb
Labels: Bundler

#3786 Fix daily notifications
  .github/workflows/daily-bundler.yml
  .github/workflows/daily.yml
Labels: CI

#3781 Remove fileutils autoload
  lib/rubygems/remote_fetcher.rb
  lib/rubygems/source.rb
Labels: RubyGems

#3783 Don't abort release on missing credentials file
  bundler/lib/bundler/gem_helper.rb
Labels: Bundler

#3782 Don't authenticate github API through query parameters
  bundler/task/release.rake
Labels: Bundler

#3785 Push only the release tag
  bundler/lib/bundler/gem_helper.rb
  bundler/lib/bundler/templates/newgem/README.md.tt
  bundler/spec/bundler/gem_helper_spec.rb
Labels: Bundler

#3798 Rename workflows for consistency and easier auto-labelling
  .github/workflows/daily-rubygems.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/macos-rubygems.yml
  .github/workflows/monthly-bundler.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-rubygems.yml
Labels: CI

#3804 `gem install --user` fails with `Gem::FilePermissionError` on the system plugins directory
  lib/rubygems/installer.rb
  test/rubygems/test_gem_installer.rb
Labels: RubyGems

#3802 Small cleanups
  lib/rubygems/specification.rb
Labels: RubyGems

#3803 Fix test warning (and disallow test warnings)
  lib/rubygems/test_case.rb
Labels: RubyGems

#3809 Avoid openssl autoload
  bundler/Rakefile
  bundler/lib/bundler/vendor/net-http-persistent/lib/net/http/persistent.rb
Labels: Bundler

#3778 Fix setting build metadata in development
  bundler/lib/bundler/build_metadata.rb
  bundler/spec/spec_helper.rb
  bundler/spec/support/build_metadata.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/path.rb
  bundler/task/release.rake
Labels: Bundler

#3812 Revert failing on test warnings
  lib/rubygems/test_case.rb
Labels: RubyGems

#3813 Use workflow file name for checking status
  .github/workflows/daily-bundler.yml
  .github/workflows/daily-rubygems.yml
Labels: CI

#3814 Enable `Layout/LeadingEmptyLines` in rubygems
  .rubocop.yml
  test/rubygems/test_gem_commands_build_command.rb
Labels: RubyGems

#3810 Ignore internal frames in RubyGems' Kernel#warn
  lib/rubygems/core_ext/kernel_warn.rb
Labels: RubyGems

#3819 Let more exceptions flow
  lib/rubygems/package.rb
  test/rubygems/test_gem_package.rb
Labels: RubyGems

#3807 Unify changelog sections in both libraries
  History.txt
  bundler/CHANGELOG.md
Labels: Bundler

#3818 Make sure setup specs require `bundler` from LOAD_PATH
  bundler/spec/runtime/setup_spec.rb
Labels: Bundler

#3821 Enable release-drafter
  .github/release-drafter-bundler.yml
  .github/workflows/release-drafter-bundler.yml
  bundler/CHANGELOG.md
Labels: Bundler, CI

#3487 Fix broken exception recovery code when installing plugins
  bundler/lib/bundler/plugin.rb
  bundler/spec/plugins/command_spec.rb
  bundler/spec/plugins/install_spec.rb
Labels: Bundler, bundler: bug fix

#3822 Explicitly pass target version & tag to release drafter
  .github/release-drafter-bundler.yml
  .github/workflows/release-drafter-bundler.yml
  bundler/Rakefile
  bundler/lib/bundler/version.rb
  bundler/task/release.rake
Labels: Bundler, CI

#3823 Hurrying is bad
  .github/release-drafter-bundler.yml
  .github/workflows/release-drafter-bundler.yml
  bundler/task/release.rake
Labels: Bundler, CI

#3811 Don't format executables on `gem update --system`
  Rakefile
  lib/rubygems/commands/setup_command.rb
Labels: RubyGems

#3824 Iterate on automatic changelog management
  .github/workflows/release-drafter-bundler.yml
  CONTRIBUTING.md
  bundler/doc/README.md
  bundler/doc/development/README.md
  bundler/doc/playbooks/MERGING_A_PR.md
  bundler/doc/playbooks/RELEASING.md
  bundler/task/release.rake
Labels: Bundler, CI

#3827 Migrate Github tasks to use octokit
  bundler/dev_gems.rb
  bundler/dev_gems.rb.lock
  bundler/task/release.rake
  bundler/test_gems.rb.lock
Labels: Bundler

#3826 Wrap up automatic changelog management
  .github/release-drafter-bundler.yml
  .github/workflows/changelog-synchronizer-bundler.yml
  .github/workflows/release-drafter-bundler.yml
  bundler/CHANGELOG.md
  bundler/task/release.rake
Labels: Bundler, CI

#3833 Revert "Automatic changelog update"
  .github/workflows/changelog-bundler.yml
  .github/workflows/changelog-synchronizer-bundler.yml
  bundler/CHANGELOG.md
Labels: Bundler

#3522 Expand load paths in standalone setup.rb file
  bundler/lib/bundler/installer/standalone.rb
  bundler/spec/install/gems/standalone_spec.rb
Labels: Bundler, bundler: bug fix

#3834 One more changelog management fix
  .github/workflows/changelog-bundler.yml
  bundler/task/release.rake
Labels: Bundler, CI

#3832 Catch up with no formatting executables change in tests
  test/rubygems/test_gem_commands_setup_command.rb
Labels: RubyGems

#3835 Rewrite changelog management in ruby
  .github/release-drafter-bundler.yml
  .github/workflows/changelog-bundler.yml
  bundler/doc/playbooks/MERGING_A_PR.md
  bundler/task/release.rake
Labels: Bundler, CI

#3838 More changelog management improvements
  .github/workflows/changelog-bundler.yml
  bundler/task/release.rake
Labels: Bundler, CI

#3816 Audit `openssl` requiring code
  .github/workflows/install-rubygems.yml
  Manifest.txt
  bundler/lib/bundler/vendored_persistent.rb
  bundler/spec/support/artifice/fail.rb
  lib/rubygems/commands/cert_command.rb
  lib/rubygems/openssl.rb
  lib/rubygems/request.rb
  lib/rubygems/s3_uri_signer.rb
  lib/rubygems/security.rb
  lib/rubygems/security/policy.rb
  lib/rubygems/specification.rb
  test/rubygems/test_bundled_ca.rb
  test/rubygems/test_gem_dependency_installer.rb
  test/rubygems/test_gem_package.rb
  test/rubygems/test_gem_remote_fetcher.rb
  test/rubygems/test_gem_specification.rb
  util/remove_openssl.rb
Labels: Bundler, CI, RubyGems

#3844 Fix some intermittent test failures on truffleruby
  test/rubygems/test_gem_gem_runner.rb
Labels: RubyGems

#3846 Deduplicate the requirement operators in memory
  lib/rubygems/requirement.rb
  test/rubygems/test_gem_requirement.rb
Labels: RubyGems, rubygems: performance

#3845 Fix ls-files matching regexp
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
Labels: Bundler, bundler: minor enhancement

#3861 fix indentation in gem env
  lib/rubygems/commands/environment_command.rb
Labels: RubyGems

#3829 Fix false positive warning on Windows when PATH has `File::ALT_SEPARATOR`
  lib/rubygems/installer.rb
  test/rubygems/test_gem_installer.rb
Labels: RubyGems, rubygems: bug fix

#3864 Warn on duplicate dependency in a specification
  lib/rubygems/specification.rb
  test/rubygems/test_gem_specification.rb
Labels: RubyGems

#3869 unset XDG_* environmental variables for testing of rubygems.
  lib/rubygems/test_case.rb
Labels: RubyGems
