Repository rubygems/rubygems, pull requests merged in 2020-12, with the labels that each got.

#4084 Fix `Bundler::Plugin::API::Source#to_s` having empty source type
  bundler/lib/bundler/plugin/api/source.rb
  bundler/spec/bundler/plugin/api/source_spec.rb
Labels: Bundler, bundler: bug fix

#4065 Use better owner & group for files in rubygems package
  Rakefile
Labels: RubyGems, rubygems: bug fix

#4092 Unify release scripts for bundler & rubygems
  Rakefile
  bundler/task/release.rake
  util/changelog.rb
  util/github_info.rb
  util/patch_with_prs.rb
  util/release.rb
Labels: Bundler, RubyGems

#4097 Enable `Style/EvalWithLocation` cop
  .rubocop.yml
  .rubocop_bundler.yml
  bundler/spec/bundler/plugin_spec.rb
  bundler/spec/bundler/ui/shell_spec.rb
  bundler/spec/support/streams.rb
  test/rubygems/test_config.rb
Labels: Bundler, RubyGems

#4095 Fix typos [ci skip]
  bundler/spec/runtime/setup_spec.rb
Labels: Bundler

#4100 Add GlobalSign Root CA - R3 cert and remove outdated certs
  Manifest.txt
  lib/rubygems/ssl_certs/index.rubygems.org/GlobalSignRootCA.pem
  lib/rubygems/ssl_certs/rubygems.global.ssl.fastly.net/DigiCertHighAssuranceEVRootCA.pem
  lib/rubygems/ssl_certs/rubygems.org/AddTrustExternalCARoot.pem
  lib/rubygems/ssl_certs/rubygems.org/GlobalSignRootCA_R3.pem
  test/rubygems/test_bundled_ca.rb
  util/update_bundled_ca_certificates.rb
Labels: RubyGems

#4096 Delay deprecation still used by recent bundlers
  lib/rubygems/platform.rb
Labels: RubyGems, rubygems: enhancement

#4075 Do not override Kernel#warn when there is no need
  lib/rubygems.rb
  lib/rubygems/core_ext/kernel_require.rb
  lib/rubygems/core_ext/kernel_warn.rb
  test/rubygems/test_require.rb
Labels: RubyGems, rubygems: enhancement

#4106 Fix test failure when version is exactly 3.2
  test/rubygems/test_gem_commands_update_command.rb
Labels: RubyGems, rubygems: backport

#4105 Add GlobalSignRootCA back
  Manifest.txt
  lib/rubygems/ssl_certs/rubygems.org/GlobalSignRootCA.pem
Labels: RubyGems

#4108 Clear ENV['BUNDLER_VERSION'] in TestCase#setup
  lib/rubygems/test_case.rb
Labels: RubyGems

#4114 Autoload `Bundler::RemoteSpecification` to workaround crash on jruby
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/stub_specification.rb
Labels: Bundler, bundler: enhancement

#4113 Fix Resolver::APISet to always include prereleases when necessary
  lib/rubygems/resolver/api_set.rb
  test/rubygems/test_gem_resolver_api_set.rb
Labels: RubyGems, rubygems: bug fix

#4118 Cherry-pick version bump commits from stable branch
  History.txt
  bundler/CHANGELOG.md
  bundler/lib/bundler/version.rb
  lib/rubygems.rb
  rubygems-update.gemspec
Labels: Bundler, RubyGems

#4120 Push rubygems releases to Github too
  Rakefile
Labels: RubyGems, rubygems: backport

#4119 Show unique change types in rubygems release blog post
  util/changelog.rb
Labels: RubyGems, rubygems: backport

#4117 Added help message for gem i webrick in gem server command
  lib/rubygems/server.rb
Labels: RubyGems, rubygems: enhancement

#4116 Ad-hoc fix of bundler specs
  bundler/spec/bundler/cli_spec.rb
Labels: Bundler, bundler: enhancement

#4124 Added the missing loading of fileutils same as load_specs.
  lib/rubygems/source.rb
Labels: RubyGems, rubygems: bug fix

#4135 Fix spelling
  bundler/spec/runtime/inline_spec.rb
Labels: Bundler

#4137 Fix case of GitHub
  Rakefile
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/man/gemfile.5.ronn
  bundler/man/bundle-config.1
  bundler/man/gemfile.5
  bundler/task/release.rake
Labels: Bundler, RubyGems

#4133 Fix `bundle outdated --strict` crash
  bundler/lib/bundler/cli/outdated.rb
  bundler/spec/commands/outdated_spec.rb
Labels: Bundler, bundler: bug fix

#4139 Tweaks to the TEAM_CHANGES playbook
  bundler/doc/playbooks/TEAM_CHANGES.md
Labels: Bundler

#4140 Reset also root when in a nested invocation
  bundler/lib/bundler.rb
  bundler/lib/bundler/cli.rb
  bundler/spec/commands/exec_spec.rb
Labels: Bundler, bundler: bug fix

#4138 Workaround JRuby + Windows issue with net-http-persistent vendored code
  .github/workflows/windows-bundler.yml
  bundler/Rakefile
  bundler/lib/bundler/vendor/net-http-persistent/lib/net/http/persistent.rb
Labels: bundler: bug fix

#4127 Ad-hoc fix for platform regression
  bundler/lib/bundler.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: Bundler, bundler: bug fix

#4143 Use `abort(message)` instead of `puts` and `exit`
  lib/rubygems/server.rb
Labels: RubyGems

#4144 Fix broken release tasks
  util/release.rb
Labels: RubyGems

#4121 Better CI job names
  .github/workflows/daily-bundler.yml
  .github/workflows/daily-rubygems.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/macos-rubygems.yml
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/ruby-core.yml
  .github/workflows/ubuntu-bundler.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
  .github/workflows/windows-rubygems.yml
Labels: Bundler, CI, RubyGems

#4146 Normalize changelog.rb indentation.
  .rubocop.yml
  util/changelog.rb
Labels: RubyGems

#4115 Test against jruby 9.2.14.0
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
  bundler/spec/realworld/fixtures/warbler/Gemfile.lock
Labels: Bundler, CI, RubyGems

#4147 Fix tag creation in github release tasks
  util/release.rb
Labels: RubyGems, rubygems: backport

#4151 Merge version bumps & changelog from the stable branch
  History.txt
  bundler/CHANGELOG.md
  bundler/lib/bundler/version.rb
  lib/rubygems.rb
  rubygems-update.gemspec
Labels: Bundler, RubyGems

#4145 Fix `gem update --system` displaying too many changelog entries
  .changelog.yml
  History.txt
  Manifest.txt
  test/test_changelog_generator.rb
Labels: RubyGems, rubygems: bug fix

#4154 Restore change to copy global with/without config locally upon `bundle install`
  bundler/lib/bundler/cli/install.rb
  bundler/spec/install/gemfile/groups_spec.rb
Labels: Bundler, bundler: bug fix

#4163 Fix resolver crash when a candidate has 0 matching platforms
  bundler/lib/bundler/resolver.rb
  bundler/spec/commands/lock_spec.rb
Labels: Bundler, bundler: bug fix

#4165 Fix building rake extensions that require openssl
  lib/rubygems/ext/rake_builder.rb
  test/rubygems/test_gem_ext_rake_builder.rb
Labels: RubyGems, rubygems: bug fix

#4162 Reuse otp passed by user in api request retry
  lib/rubygems/commands/owner_command.rb
  lib/rubygems/commands/push_command.rb
  lib/rubygems/commands/yank_command.rb
  lib/rubygems/gemcutter_utilities.rb
  lib/rubygems/test_utilities.rb
  test/rubygems/test_gem_commands_push_command.rb
Labels: RubyGems, rubygems: bug fix

#4170 Adapt to change in IRB
  bundler/spec/commands/console_spec.rb
Labels: Bundler, bundler: backport

#4164 Prepare rubygems 3.2.2 and bundler 2.2.2 releases
  .changelog.yml
  .github/workflows/daily-bundler.yml
  .github/workflows/daily-rubygems.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/macos-rubygems.yml
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/ruby-core.yml
  .github/workflows/ubuntu-bundler.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
  .github/workflows/windows-rubygems.yml
  History.txt
  Manifest.txt
  bundler/CHANGELOG.md
  bundler/lib/bundler/cli/install.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/version.rb
  bundler/spec/commands/console_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/install/gemfile/groups_spec.rb
  bundler/spec/realworld/fixtures/warbler/Gemfile.lock
  lib/rubygems.rb
  lib/rubygems/commands/owner_command.rb
  lib/rubygems/commands/push_command.rb
  lib/rubygems/commands/yank_command.rb
  lib/rubygems/ext/rake_builder.rb
  lib/rubygems/gemcutter_utilities.rb
  lib/rubygems/test_utilities.rb
  rubygems-update.gemspec
  test/rubygems/test_gem_commands_push_command.rb
  test/rubygems/test_gem_ext_rake_builder.rb
  test/test_changelog_generator.rb
  util/release.rb
Labels: Bundler, CI, RubyGems

#4169 Trying to fix bundler's daily CI
  bundler/test_gems.rb
  bundler/test_gems.rb.lock
Labels: Bundler, CI, RubyGems

#4167 Make sure the default branch always has a development version
  bundler/lib/bundler/version.rb
  lib/rubygems.rb
  rubygems-update.gemspec
  util/release.rb
Labels: Bundler, RubyGems

#4174 Merge changelogs from stable branch
  History.txt
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4175 Fix crash when `bundle exec`'ing to bundler
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/exec_spec.rb
Labels: Bundler, bundler: bug fix

#4173 Remove outdated upgrade instructions
  UPGRADING.md
  hide_lib_for_update/note.txt
Labels: RubyGems

#4172 Fix bundler installing gems for a different platform when running in frozen mode and current platform not in the lockfile
  bundler/lib/bundler/cli/update.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/commands/install_spec.rb
Labels: Bundler, bundler: bug fix

#4177 Fix misspellings in default API key name
  lib/rubygems/gemcutter_utilities.rb
Labels: RubyGems, rubygems: enhancement

#4110 Respect `required_ruby_version` and `required_rubygems_version` constraints when looking for `gem install` candidates
  .github/workflows/install-rubygems.yml
  Manifest.txt
  bundler/lib/bundler/compact_index_client/cache.rb
  bundler/lib/bundler/compact_index_client/gem_parser.rb
  bundler/spec/support/artifice/vcr.rb
  lib/rubygems/dependency_installer.rb
  lib/rubygems/installer.rb
  lib/rubygems/remote_fetcher.rb
  lib/rubygems/request_set.rb
  lib/rubygems/resolver.rb
  lib/rubygems/resolver/api_set.rb
  lib/rubygems/resolver/api_set/gem_parser.rb
  lib/rubygems/resolver/api_specification.rb
  lib/rubygems/resolver/best_set.rb
  lib/rubygems/resolver/index_specification.rb
  lib/rubygems/resolver/installer_set.rb
  lib/rubygems/resolver/spec_specification.rb
  lib/rubygems/resolver/specification.rb
  lib/rubygems/source.rb
  test/rubygems/test_gem_commands_install_command.rb
  test/rubygems/test_gem_installer.rb
  test/rubygems/test_gem_resolver_api_set.rb
  test/rubygems/test_gem_resolver_api_specification.rb
  test/rubygems/test_gem_resolver_best_set.rb
  test/rubygems/test_gem_source.rb
  test/rubygems/test_gem_source_subpath_problem.rb
Labels: Bundler, CI, RubyGems, rubygems: bug fix

#4180 Add all matching variants with the same platform specificity to the lockfile
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/gem_helpers.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/resolver/spec_group.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/commands/lock_spec.rb
Labels: Bundler, bundler: bug fix

#4179 Restore full compatibility with previous lockfiles
  bundler/lib/bundler.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: Bundler, bundler: bug fix

#4181 Prepare rubygems 3.2.3 and bundler 2.2.3
  .github/workflows/install-rubygems.yml
  History.txt
  Manifest.txt
  bundler/CHANGELOG.md
  bundler/lib/bundler.rb
  bundler/lib/bundler/cli/update.rb
  bundler/lib/bundler/compact_index_client/cache.rb
  bundler/lib/bundler/compact_index_client/gem_parser.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/gem_helpers.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/resolver/spec_group.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/spec_set.rb
  bundler/lib/bundler/version.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/support/artifice/vcr.rb
  lib/rubygems.rb
  lib/rubygems/dependency_installer.rb
  lib/rubygems/gemcutter_utilities.rb
  lib/rubygems/installer.rb
  lib/rubygems/remote_fetcher.rb
  lib/rubygems/request_set.rb
  lib/rubygems/resolver.rb
  lib/rubygems/resolver/api_set.rb
  lib/rubygems/resolver/api_set/gem_parser.rb
  lib/rubygems/resolver/api_specification.rb
  lib/rubygems/resolver/best_set.rb
  lib/rubygems/resolver/index_specification.rb
  lib/rubygems/resolver/installer_set.rb
  lib/rubygems/resolver/spec_specification.rb
  lib/rubygems/resolver/specification.rb
  lib/rubygems/source.rb
  rubygems-update.gemspec
  test/rubygems/test_gem_commands_install_command.rb
  test/rubygems/test_gem_installer.rb
  test/rubygems/test_gem_resolver_api_set.rb
  test/rubygems/test_gem_resolver_api_specification.rb
  test/rubygems/test_gem_resolver_best_set.rb
  test/rubygems/test_gem_source.rb
  test/rubygems/test_gem_source_subpath_problem.rb
Labels: Bundler, CI, RubyGems

#4182 Move aws-sdk-s3 gem to Gemfile
  Rakefile
  dev_gems.rb
  dev_gems.rb.lock
Labels: RubyGems

#4183 Merge changelog of rubygems 3.2.3 and bundler 2.2.3 back to master
  History.txt
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4185 Small lint job improvements
  .github/workflows/ubuntu-lint.yml
  bundler/Rakefile
  bundler/spec/support/rubygems_ext.rb
Labels: Bundler, CI, RubyGems

#4202 feat(CI): add a GitHub Action to check spelling
  .github/workflows/spell-checker.yml
  bundler/CHANGELOG.md
  bundler/spec/runtime/setup_spec.rb
Labels: Bundler, CI, RubyGems

#4198 Fix release notes including not only the latest release
  util/changelog.rb
Labels: RubyGems, rubygems: backport

#4190 Never spawn subshells when building extensions
  lib/rubygems/ext/builder.rb
  lib/rubygems/ext/cmake_builder.rb
  lib/rubygems/ext/configure_builder.rb
  lib/rubygems/test_case.rb
  test/rubygems/test_gem_ext_builder.rb
  test/rubygems/test_gem_ext_cmake_builder.rb
  test/rubygems/test_gem_ext_configure_builder.rb
Labels: RubyGems, rubygems: enhancement

#4201 Fix man pages install on truffleruby
  .github/workflows/install-rubygems.yml
  Rakefile
  lib/rubygems/commands/setup_command.rb
Labels: CI, RubyGems, rubygems: bug fix

#4188 Update man pages to reflect to new default for bundle install jobs
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/man/bundle-add.1
  bundler/man/bundle-binstubs.1
  bundler/man/bundle-cache.1
  bundler/man/bundle-check.1
  bundler/man/bundle-clean.1
  bundler/man/bundle-config.1
  bundler/man/bundle-doctor.1
  bundler/man/bundle-exec.1
  bundler/man/bundle-gem.1
  bundler/man/bundle-info.1
  bundler/man/bundle-init.1
  bundler/man/bundle-inject.1
  bundler/man/bundle-install.1
  bundler/man/bundle-list.1
  bundler/man/bundle-lock.1
  bundler/man/bundle-open.1
  bundler/man/bundle-outdated.1
  bundler/man/bundle-platform.1
  bundler/man/bundle-pristine.1
  bundler/man/bundle-remove.1
  bundler/man/bundle-show.1
  bundler/man/bundle-update.1
  bundler/man/bundle-viz.1
  bundler/man/bundle.1
  bundler/man/gemfile.5
Labels: Bundler, bundler: documentation

#4196 Fix Windows + JRuby no longer being able to install git sources
  .github/workflows/install-rubygems.yml
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/bundler/source/git/git_proxy_spec.rb
Labels: Bundler, bundler: bug fix

#4189 Unrescue exception to get more information
  lib/rubygems/ext/builder.rb
Labels: RubyGems

#4207 Use ubuntu-20.04 in our workflows
  .github/workflows/daily-bundler.yml
  .github/workflows/daily-rubygems.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/ruby-core.yml
  .github/workflows/spell-checker.yml
  .github/workflows/ubuntu-bundler.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/ubuntu-rubygems.yml
Labels: Bundler, CI, RubyGems

#4168 Use a CHANGELOG in markdown for rubygems
  .changelog.yml
  CHANGELOG.md
  Manifest.txt
  Rakefile
  lib/rubygems/commands/setup_command.rb
  rubygems-update.gemspec
  test/rubygems/test_gem_commands_setup_command.rb
  util/changelog.rb
Labels: RubyGems, rubygems: enhancement

#4209 Fix bundle man pages display on truffleruby
  Manifest.txt
  Rakefile
  bundler/Rakefile
  bundler/bundler.gemspec
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
  bundler/lib/bundler/man/index.txt
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/help_spec.rb
  bundler/spec/quality_spec.rb
  bundler/spec/support/path.rb
  lib/rubygems/commands/setup_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
Labels: Bundler, RubyGems, bundler: bug fix

#4213 Fix fallback to the old index and installation from it not working
  Manifest.txt
  lib/rubygems/remote_fetcher.rb
  lib/rubygems/resolver/best_set.rb
  lib/rubygems/resolver/index_specification.rb
  test/rubygems/data/null-required-rubygems-version.gemspec.rz
  test/rubygems/test_gem_dependency_installer.rb
  test/rubygems/test_gem_remote_fetcher.rb
  test/rubygems/test_gem_resolver_best_set.rb
  test/rubygems/test_gem_specification.rb
Labels: RubyGems, rubygems: bug fix
