Repository rubygems/rubygems, pull requests merged in 2021-01, with the labels that each got.

#4219 Fix running `rake release` from an ambiguous ref
  bundler/lib/bundler/gem_helper.rb
  bundler/spec/bundler/gem_helper_spec.rb
Labels: Bundler, bundler: bug fix

#4215 Give a proper error if cache path does not have write access
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/commands/install_spec.rb
Labels: Bundler, bundler: bug fix

#4221 Fix broken `bundler` executable after `gem update --system`
  lib/rubygems/commands/setup_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
Labels: RubyGems, rubygems: bug fix

#4208 Disable minitest plugins
  dev_gems.rb
  dev_gems.rb.lock
  lib/rubygems/test_case.rb
  util/bisect
Labels: RubyGems

#4223 Stop linking to outdated page in release blog post
  Rakefile
Labels: RubyGems

#4232 Cherry-pick changelog updates from stable branch
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4233 Restore support for old git versions
  .github/workflows/legacy-git.yml
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/bundler/source/git/git_proxy_spec.rb
Labels: Bundler, CI, RubyGems, bundler: bug fix

#4241 Bump minitest development dependency to 5.14.3
  Rakefile
  dev_gems.rb
  dev_gems.rb.lock
Labels: RubyGems

#4242 Add ruby 3.0.0 and rubygems 3.2.4 to CI
  .github/workflows/install-rubygems.yml
  .github/workflows/macos-rubygems.yml
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/ubuntu-bundler.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
  .github/workflows/windows-rubygems.yml
Labels: Bundler, CI, RubyGems

#4246 Bump rubygems & truffleruby versions in CI
  .github/workflows/install-rubygems.yml
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/ubuntu-rubygems.yml
Labels: Bundler, CI, RubyGems

#4224 Support repositories with default branch not named master
  bundler/lib/bundler/source/git.rb
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/bundler/source/git_spec.rb
  bundler/spec/install/deploy_spec.rb
  bundler/spec/install/git_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/support/builders.rb
Labels: Bundler, bundler: enhancement

#4236 Reduce the number of CI jobs
  .github/workflows/older-rubygems-bundler.yml
Labels: Bundler, CI

#4220 Improve rubocop setup in the new gem template
  bundler/lib/bundler/cli/gem.rb
  bundler/lib/bundler/templates/newgem/Gemfile.tt
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
  bundler/lib/bundler/templates/newgem/rubocop.yml.tt
  bundler/spec/commands/newgem_spec.rb
Labels: Bundler, bundler: enhancement

#4252 Workaround for another jruby crash when autoloading a constant
  bundler/lib/bundler.rb
  bundler/lib/bundler/source/path/installer.rb
  bundler/lib/bundler/source/rubygems.rb
Labels: Bundler, bundler: bug fix

#4081 Let Net::HTTP decompress the index instead of doing it manually
  bundler/lib/bundler/compact_index_client/updater.rb
  bundler/spec/bundler/compact_index_client/updater_spec.rb
Labels: Bundler, bundler: bug fix

#4256 Fix warnings when running rubygems tests on ruby 3.0
  dev_gems.rb.lock
Labels: rubygems: backport

#4260 Remove unnecessary code
  lib/rubygems/specification.rb
  test/rubygems/test_gem_specification.rb
Labels: RubyGems

#4262 Don't load more specs after the whole set of specs has been setup
  lib/rubygems/specification.rb
  test/rubygems/test_gem_specification.rb
Labels: RubyGems, rubygems: bug fix

#4268 Show a backtrace for flaky spec failure
  bundler/spec/install/gems/resolving_spec.rb
Labels: Bundler, bundler: backport

#4271 Restore accepting custom make command with extra options as the `make` env variable
  lib/rubygems/ext/builder.rb
  test/rubygems/test_gem_ext_builder.rb
Labels: RubyGems, rubygems: bug fix

#4270 Make sure lockfile is locked to the proper bundler version on each branch
  Rakefile
  util/release.rb
Labels: RubyGems, rubygems: backport

#4274 Cherry-pick changelogs from the stable branch
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4273 Enable `Style/NilComparison` cop in rubygems
  .rubocop.yml
  lib/rubygems/remote_fetcher.rb
Labels: RubyGems

#4276 Fix `Gem::Platform#inspect` showing duplicate information
  lib/rubygems/platform.rb
  test/rubygems/test_gem_platform.rb
Labels: RubyGems

#4272 Minor release blog post generation fixes
  util/changelog.rb
Labels: RubyGems, rubygems: backport

#4286 Swallow any system call error in `ensure_gem_subdirs` to support jruby embed paths
  lib/rubygems.rb
  test/rubygems/test_gem.rb
Labels: RubyGems, rubygems: bug fix

#4288 Improve resolver debugging
  bundler/lib/bundler/gem_version_promoter.rb
  bundler/lib/bundler/resolver.rb
Labels: bundler: enhancement

#4290 Show backtrace for all potential flakies
  bundler/spec/install/gems/resolving_spec.rb
Labels: Bundler, bundler: backport

#4293 Fix dependency locking for path source
  bundler/lib/bundler/definition.rb
  bundler/spec/install/gemfile/path_spec.rb
Labels: Bundler, bundler: bug fix

#4300 Backport performance fixes to patch versions
  .changelog.yml
  bundler/.changelog.yml
Labels: Bundler, RubyGems

#4301 Show backtrace if gem install fails in CI
  .github/workflows/install-rubygems.yml
Labels: CI, RubyGems, rubygems: backport

#4302 Fix `force_ruby_platform` no longer being respected
  bundler/lib/bundler/lazy_specification.rb
  bundler/spec/runtime/platform_spec.rb
Labels: Bundler, type: bug report

#4299 Reverse rubygems require mixin with bundler standalone
  bundler/lib/bundler/installer/standalone.rb
  bundler/spec/install/gems/standalone_spec.rb
Labels: Bundler, bundler: enhancement

#4304 Install cache only once if it already exists
  bundler/lib/bundler/cli/cache.rb
  bundler/spec/cache/git_spec.rb
  bundler/spec/commands/cache_spec.rb
  dev_gems.rb.lock
Labels: Bundler

#4311 Replace "iff" with "whether" and "if and only if"
  lib/rubygems/resolver/molinillo/lib/molinillo/dependency_graph/vertex.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/errors.rb
Labels: RubyGems

#4237 Introduce disable_local_revision_check config
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/source/git.rb
  bundler/spec/install/gemfile/git_spec.rb
Labels: Bundler, bundler: enhancement

#4313 Fix a MJIT warning
  test/rubygems/test_gem_stream_ui.rb
Labels: RubyGems, rubygems: backport

#4309 Fix releasing from a not yet pushed branch
  bundler/lib/bundler/gem_helper.rb
  bundler/spec/bundler/gem_helper_spec.rb
Labels: Bundler, bundler: bug fix

#4310 Avoid showing platforms with requirements in error messages
  bundler/Rakefile
  bundler/lib/bundler/vendor/molinillo/lib/molinillo/errors.rb
  bundler/spec/install/gems/resolving_spec.rb
Labels: Bundler, bundler: enhancement

#4308 Improve error messages when dependency on bundler conflicts with running version
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/fetcher.rb
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/resolver/spec_group.rb
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/bundler/cli_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/bundler_spec.rb
  bundler/spec/realworld/edgecases_spec.rb
  bundler/spec/support/helpers.rb
Labels: Bundler, bundler: enhancement

#4315 Avoid unnecessary bundler 3 CI jobs
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/ubuntu-bundler.yml
  bundler/bin/bundle3
  bundler/task/bundler_3.rake
Labels: Bundler, CI, bundler: backport

#4316 Merge changelog from rubygems 3.2.6 and bundler 2.2.6
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4317 Generate plugin wrappers with relative requires
  lib/rubygems/installer_uninstaller_utils.rb
  test/rubygems/test_gem_installer.rb
Labels: RubyGems, rubygems: bug fix

#4322 Merge back changelog from rubygems 3.2.7 and bundler 2.2.7 releases
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4297 Support gemified `set`
  Rakefile
  bundler/Rakefile
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/index.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/shared_helpers.rb
  bundler/lib/bundler/source_list.rb
  bundler/lib/bundler/spec_set.rb
  bundler/lib/bundler/vendor/molinillo/lib/molinillo/dependency_graph.rb
  bundler/lib/bundler/vendor/molinillo/lib/molinillo/dependency_graph/vertex.rb
  bundler/lib/bundler/vendor/molinillo/lib/molinillo/errors.rb
  bundler/lib/bundler/vendor/thor/lib/thor.rb
  bundler/lib/bundler/vendor/thor/lib/thor/actions.rb
  bundler/lib/bundler/vendor/thor/lib/thor/actions/file_manipulation.rb
  bundler/lib/bundler/vendor/thor/lib/thor/error.rb
  bundler/lib/bundler/vendor/thor/lib/thor/parser/arguments.rb
  bundler/lib/bundler/vendor/thor/lib/thor/parser/options.rb
  bundler/lib/bundler/vendor/thor/lib/thor/shell/basic.rb
  bundler/lib/bundler/vendor/thor/lib/thor/shell/color.rb
  bundler/lib/bundler/vendor/thor/lib/thor/version.rb
  bundler/spec/quality_spec.rb
  bundler/spec/runtime/setup_spec.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/delegates/specification_provider.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/dependency_graph.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/dependency_graph/vertex.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/errors.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/modules/specification_provider.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/resolution.rb
  util/automatiek.rake
  util/automatiek/gem.rb
Labels: Bundler, bundler: enhancement

#4327 Remove ruby repo specific hacks
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/support/matchers.rb
Labels: Bundler

#4277 Fix resolver edge cases and speed up bundler
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/resolver/spec_group.rb
  bundler/spec/bundler/gem_version_promoter_spec.rb
  bundler/spec/resolver/platform_spec.rb
Labels: Bundler, bundler: performance
