Repository rubygems/rubygems, pull requests merged in 2021-05, with the labels that each got.

#4571 Fix configuring ENV for a gem server with a name including dashes
  Rakefile
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/settings.rb
  bundler/spec/install/gems/dependency_api_spec.rb
Labels: Bundler, bundler: enhancement

#4563 Discard partial range responses without etag
  bundler/lib/bundler/compact_index_client/updater.rb
  bundler/spec/bundler/compact_index_client/updater_spec.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/support/artifice/compact_index_partial_update_no_etag_not_incremental.rb
Labels: Bundler, bundler: enhancement

#4565 Improve authentication required error message to include an alternative using `ENV`
  bundler/lib/bundler/fetcher.rb
  bundler/lib/bundler/settings.rb
  bundler/spec/bundler/fetcher/downloader_spec.rb
Labels: Bundler, bundler: enhancement

#4575 Changelogs for rubygems 3.2.17 and bundler 2.2.17
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4579 Avoid warning about repository having moved when pushing to blog
  Rakefile
Labels: RubyGems, rubygems: backport

#4587 Reset `XDG_CONFIG_HOME` for bundler specs
  bundler/spec/spec_helper.rb
Labels: Bundler, bundler: backport

#4590 Simplify and improve some specs
  bundler/spec/install/gemfile/groups_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/realworld/double_check_spec.rb
  bundler/spec/realworld/edgecases_spec.rb
  bundler/spec/runtime/inline_spec.rb
  bundler/spec/runtime/load_spec.rb
  bundler/spec/runtime/platform_spec.rb
  bundler/spec/runtime/require_spec.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/path.rb
Labels: Bundler, bundler: backport

#4592 Make sure link to new issue uses the proper template
  bundler/lib/bundler/friendly_errors.rb
Labels: Bundler, bundler: enhancement

#4586 Undeprecate bundle show
  bundler/lib/bundler/cli.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler, bundler: enhancement

#4598 Use simpler notation for generated `required_ruby_version`
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
Labels: Bundler

#4600 Use `Time.stub :now` to avoid a random failure
  test/rubygems/test_gem_package_tar_writer.rb
Labels: RubyGems

#4611 Get ruby-core CI back to green
  lib/rubygems/test_case.rb
  test/rubygems/test_gem_commands_signin_command.rb
  test/rubygems/test_gem_commands_specification_command.rb
  test/rubygems/test_gem_config_file.rb
  test/rubygems/test_gem_gemcutter_utilities.rb
  test/rubygems/test_gem_package.rb
  test/rubygems/test_gem_specification.rb
Labels: RubyGems, rubygems: backport

#4610 Don't leave temporary directory around when building extensions to improve build reproducibility
  lib/rubygems/ext/ext_conf_builder.rb
  test/rubygems/test_gem_ext_ext_conf_builder.rb
Labels: RubyGems, rubygems: enhancement

#4609 Fix dependency confusion issues with implicit dependencies
  Manifest.txt
  bundler/lib/bundler.rb
  bundler/lib/bundler/cli/outdated.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/index.rb
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
  bundler/lib/bundler/plugin/api/source.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/source.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source/rubygems_aggregate.rb
  bundler/lib/bundler/source_list.rb
  bundler/lib/bundler/source_map.rb
  bundler/spec/bundler/definition_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/commands/outdated_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/support/artifice/endpoint.rb
  bundler/spec/support/indexes.rb
  bundler/spec/support/matchers.rb
Labels: Bundler, bundler: security fix

#4617 Changelogs for rubygems 3.2.18 and bundler 2.2.18
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4613 Fix `gem help build` output format
  lib/rubygems/command.rb
  lib/rubygems/commands/build_command.rb
  test/rubygems/test_gem_command.rb
  test/rubygems/test_gem_commands_help_command.rb
Labels: RubyGems, rubygems: enhancement

#4623 Fix some cached gems being unintentionally ignored when using rubygems 3.2.18
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/commands/cache_spec.rb
Labels: Bundler, bundler: bug fix

#4624 Simplify `setup.rb` code
  setup.rb
Labels: RubyGems

#4630 Port one patch committed directly to ruby-core tree
  test/rubygems/test_gem_commands_open_command.rb
Labels: RubyGems

#4631 Use inline codeblock for sh commands
  UPGRADING.md
Labels: RubyGems

#4634 One more patch from ruby-core
  test/rubygems/test_utilities.rb
Labels: RubyGems

#4627 Small tweak to play nice with packaging setups
  test/rubygems/test_case.rb
Labels: RubyGems

#4582 Restore support for configuration keys with dashes
  bundler/lib/bundler/settings.rb
  bundler/spec/bundler/settings_spec.rb
Labels: Bundler, bundler: bug fix

#4638 Prepare rubygems 3.2.19 and bundler 2.2.19
  CHANGELOG.md
  bundler/CHANGELOG.md
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/version.rb
  bundler/spec/bundler/settings_spec.rb
  bundler/spec/commands/cache_spec.rb
  bundler/tool/bundler/rubocop23_gems.rb.lock
  bundler/tool/bundler/rubocop_gems.rb.lock
  bundler/tool/bundler/test_gems.rb.lock
  dev_gems.rb.lock
  lib/rubygems.rb
  lib/rubygems/command.rb
  lib/rubygems/commands/build_command.rb
  rubygems-update.gemspec
  test/rubygems/test_gem_command.rb
  test/rubygems/test_gem_commands_help_command.rb
Labels: Bundler, RubyGems

#4637 Changelogs for rubygems 3.2.19 and bundler 2.2.19
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4640 Don't load `resolv` unnecessarily
  bundler/lib/bundler/fetcher/index.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/spec/bundler/fetcher/index_spec.rb
Labels: Bundler, bundler: enhancement
