Repository rubygems/rubygems, pull requests merged in 2021-11, with the labels that each got.

#5034 Removed the related code of `gem server`
  Manifest.txt
  lib/rubygems/commands/server_command.rb
  lib/rubygems/server.rb
  test/rubygems/test_gem_commands_server_command.rb
  test/rubygems/test_gem_server.rb
Labels: RubyGems

#5039 Fix system man pages no longer working after bundler overrides `MANPATH`
  bundler/lib/bundler/runtime.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/support/filters.rb
Labels: Bundler, bundler: bug fix

#5009 Use latest simplecov on supported rubies.
  dev_gems.rb
  dev_gems.rb.lock
  test/rubygems/helper.rb
Labels: rubygems: backport

#5040 Use OpenSSL constants for error codes.
  test/rubygems/test_gem_request.rb
Labels: RubyGems, rubygems: backport

#4881 Lazily load and vendor `optparse`
  .rubocop.yml
  Manifest.txt
  Rakefile
  bundler/spec/commands/exec_spec.rb
  lib/rubygems/command.rb
  lib/rubygems/commands/cert_command.rb
  lib/rubygems/commands/uninstall_command.rb
  lib/rubygems/commands/update_command.rb
  lib/rubygems/ext/cmake_builder.rb
  lib/rubygems/install_update_options.rb
  lib/rubygems/installer.rb
  lib/rubygems/local_remote_options.rb
  lib/rubygems/optparse.rb
  lib/rubygems/optparse/COPYING
  lib/rubygems/optparse/lib/optionparser.rb
  lib/rubygems/optparse/lib/optparse.rb
  lib/rubygems/optparse/lib/optparse/ac.rb
  lib/rubygems/optparse/lib/optparse/date.rb
  lib/rubygems/optparse/lib/optparse/kwargs.rb
  lib/rubygems/optparse/lib/optparse/shellwords.rb
  lib/rubygems/optparse/lib/optparse/time.rb
  lib/rubygems/optparse/lib/optparse/uri.rb
  lib/rubygems/optparse/lib/optparse/version.rb
  lib/rubygems/security_option.rb
  lib/rubygems/version_option.rb
  test/rubygems/test_gem_command.rb
  test/rubygems/test_gem_commands_cert_command.rb
  test/rubygems/test_gem_commands_uninstall_command.rb
  test/rubygems/test_gem_commands_yank_command.rb
  test/rubygems/test_gem_install_update_options.rb
Labels: Bundler, RubyGems, rubygems: enhancement

#5037 Fix `gem install` vs `gem fetch` inconsistency
  lib/rubygems/commands/fetch_command.rb
  test/rubygems/helper.rb
  test/rubygems/test_gem_commands_fetch_command.rb
Labels: RubyGems, rubygems: enhancement

#4986 Switch from DES-CBC to AES-256-CBC.
  test/rubygems/encrypted_private_key.pem
  util/create_encrypted_key.rb
Labels: RubyGems, rubygems: backport

#5045 Fix typos
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
  bundler/spec/install/gemfile/specific_platform_spec.rb
  test/rubygems/test_gem_commands_signin_command.rb
  test/rubygems/test_gem_resolver.rb
Labels: Bundler, RubyGems, bundler: backport

#2768 Don't apply `--destdir` twice when running `setup.rb`
  lib/rubygems/commands/setup_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
Labels: rubygems: bug fix

#5049 Skip to set DESTDIR option when it's not provided for mswin platform
  lib/rubygems/ext/builder.rb
Labels: RubyGems, rubygems: enhancement

#5051 Fix `ruby setup.rb` when `--prefix` is passed
  lib/rubygems/commands/setup_command.rb
  test/rubygems/helper.rb
  test/rubygems/test_gem_commands_setup_command.rb
Labels: rubygems: bug fix, RubyGems

#4964 Fix broken link in `bundle viz` deprecation message
  bundler/lib/bundler/cli.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler, bundler: enhancement

#5057 Set DESTDIR with GNU Make
  lib/rubygems/ext/builder.rb
Labels: RubyGems

#5061 Link to working `bundler-graph` plugin in `bundle viz` deprecation message
  bundler/lib/bundler/cli.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler, bundler: enhancement

#5058 Changelogs for rubygems 3.2.31 and bundler 2.2.31
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#5062 Use `shellsplit` instead of array of strings for git push
  bundler/lib/bundler/gem_helper.rb
Labels: Bundler

#4956 Fix `assert_contains_make_command` on `make` defined by environment variable.
  test/rubygems/helper.rb
  test/rubygems/test_gem_ext_ext_conf_builder.rb
Labels: RubyGems, rubygems: backport

#5069 Simplifications to bundler specs
  bundler/spec/bundler/definition_spec.rb
  bundler/spec/commands/check_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/commands/remove_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/gemfile/install_if_spec.rb
  bundler/spec/install/gemfile/path_spec.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/install/gems/flex_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/plugins/source/example_spec.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/support/matchers.rb
  bundler/spec/update/git_spec.rb
Labels: Bundler, bundler: backport

#5068 Unlock dependencies that no longer match lockfile
  bundler/lib/bundler/definition.rb
  bundler/spec/install/gems/flex_spec.rb
Labels: Bundler, bundler: enhancement

#5073 Add entries about default bundler to rubygems changelog
  .changelog.yml
  CHANGELOG.md
  bundler/.changelog.yml
  util/changelog.rb
  util/release.rb
Labels: Bundler, RubyGems

#5074 Update development dependencies
  Rakefile
  bundler/task/release.rake
  bundler/tool/bundler/rubocop23_gems.rb
  bundler/tool/bundler/rubocop23_gems.rb.lock
  bundler/tool/bundler/rubocop24_gems.rb
  bundler/tool/bundler/rubocop24_gems.rb.lock
  bundler/tool/bundler/rubocop_gems.rb.lock
  bundler/tool/bundler/standard23_gems.rb
  bundler/tool/bundler/standard23_gems.rb.lock
  bundler/tool/bundler/standard24_gems.rb
  bundler/tool/bundler/standard24_gems.rb.lock
  bundler/tool/bundler/standard_gems.rb.lock
  bundler/tool/bundler/test_gems.rb.lock
  dev_gems.rb
  dev_gems.rb.lock
  release_gems.rb
  release_gems.rb.lock
  util/release.rb
Labels: rubygems: backport

#5044 Allow gem activation from `operating_system.rb`
  .github/workflows/install-rubygems.yml
  lib/rubygems.rb
  test/rubygems/test_require.rb
Labels: RubyGems, rubygems: enhancement

#5050 Refactor installer thread safety protections
  lib/rubygems/installer.rb
  lib/rubygems/specification.rb
  test/rubygems/helper.rb
Labels: RubyGems, rubygems: enhancement

#5078 Fix downgrading dependencies by changing the `Gemfile` and running `bundle update`
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/update_spec.rb
Labels: Bundler, bundler: bug fix

#5083 Clarify `bundle viz` deprecation
  bundler/lib/bundler/cli.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: bundler: enhancement

#5087 Fix changelog script crash
  util/changelog.rb
Labels: Bundler, RubyGems, bundler: backport, rubygems: backport

#5086 Prepare rubygems 3.2.32 and bundler 2.2.32
  .github/workflows/install-rubygems.yml
  CHANGELOG.md
  Rakefile
  bundler/CHANGELOG.md
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/gem_helper.rb
  bundler/lib/bundler/templates/newgem/standard.yml.tt
  bundler/lib/bundler/version.rb
  bundler/spec/bundler/definition_spec.rb
  bundler/spec/commands/check_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/commands/remove_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/gemfile/install_if_spec.rb
  bundler/spec/install/gemfile/path_spec.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/install/gems/flex_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/plugins/source/example_spec.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/support/matchers.rb
  bundler/spec/update/git_spec.rb
  bundler/task/release.rake
  bundler/tool/bundler/rubocop23_gems.rb
  bundler/tool/bundler/rubocop23_gems.rb.lock
  bundler/tool/bundler/rubocop24_gems.rb
  bundler/tool/bundler/rubocop24_gems.rb.lock
  bundler/tool/bundler/rubocop_gems.rb.lock
  bundler/tool/bundler/standard23_gems.rb
  bundler/tool/bundler/standard23_gems.rb.lock
  bundler/tool/bundler/standard24_gems.rb
  bundler/tool/bundler/standard24_gems.rb.lock
  bundler/tool/bundler/standard_gems.rb.lock
  bundler/tool/bundler/test_gems.rb.lock
  dev_gems.rb
  dev_gems.rb.lock
  lib/rubygems.rb
  lib/rubygems/installer.rb
  lib/rubygems/specification.rb
  release_gems.rb
  release_gems.rb.lock
  rubygems-update.gemspec
  test/rubygems/helper.rb
  test/rubygems/test_gem_ext_ext_conf_builder.rb
  test/rubygems/test_require.rb
  util/release.rb
Labels: Bundler, RubyGems, CI

#5085 Changelogs for rubygems 3.2.32 and bundler 2.2.32
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4815 Avoid shared libraries not getting environment passed right after argv in memory when `bundle exec` is used
  bundler/lib/bundler/environment_preserver.rb
  bundler/spec/commands/doctor_spec.rb
  bundler/spec/realworld/ffi_spec.rb
  bundler/spec/support/artifice/vcr_cassettes/realworld/rubygems.org/gems/ffi-1.15.4.gem/GET/request
  bundler/spec/support/artifice/vcr_cassettes/realworld/rubygems.org/gems/ffi-1.15.4.gem/GET/response
  bundler/spec/support/helpers.rb
  bundler/spec/support/rubygems_version_manager.rb
Labels: Bundler, bundler: enhancement

#5097 Fix `bundle info` sometimes claiming that bundler has been deleted
  bundler/lib/bundler/cli/info.rb
  bundler/spec/commands/info_spec.rb
Labels: Bundler, bundler: bug fix

#5092 Fix missing locked specs when depended on another platform
  bundler/lib/bundler/definition.rb
  bundler/spec/install/gemfile/platform_spec.rb
Labels: Bundler, bundler: bug fix

#5090 Don't unlock dependencies when running `bundle install` after changing global source
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source_list.rb
  bundler/spec/install/gemfile/sources_spec.rb
Labels: Bundler, bundler: bug fix

#5109 Deprecate typo name
  lib/rubygems/exceptions.rb
Labels: RubyGems, rubygems: deprecation

#5102 Fix escape of filenames in `bundle doctor`
  bundler/lib/bundler/cli/doctor.rb
  bundler/spec/commands/doctor_spec.rb
Labels: Bundler, bundler: bug fix

#5112 Use prerelease-aware version comparison inside `connection_pool`
  bundler/Rakefile
  bundler/lib/bundler/vendor/connection_pool/lib/connection_pool/wrapper.rb
Labels: Bundler, bundler: enhancement

#4408 Fix race conditions when reading & writing gemspecs concurrently
  lib/rubygems.rb
  lib/rubygems/installer.rb
  test/rubygems/test_gem_installer.rb
Labels: RubyGems, rubygems: enhancement

#5041 Add an initial rbs template to `bundle gem` skeleton
  Manifest.txt
  bundler/lib/bundler/cli/gem.rb
  bundler/lib/bundler/templates/newgem/sig/newgem.rbs.tt
  bundler/spec/commands/newgem_spec.rb
  bundler/tool/bundler/rubocop23_gems.rb.lock
  bundler/tool/bundler/rubocop24_gems.rb.lock
  bundler/tool/bundler/rubocop_gems.rb.lock
  bundler/tool/bundler/standard23_gems.rb.lock
  bundler/tool/bundler/standard24_gems.rb.lock
  bundler/tool/bundler/standard_gems.rb.lock
  bundler/tool/bundler/test_gems.rb.lock
  dev_gems.rb.lock
  release_gems.rb.lock
Labels: Bundler, bundler: enhancement

#5089 newgem templ: Avoid Float 3.0 -> "3" in GH Action
  bundler/lib/bundler/templates/newgem/github/workflows/main.yml.tt
Labels: Bundler
