Repository rubygems/rubygems, pull requests merged in 2021-10, with the labels that each got.

#4947 Include glob information in Bundler::Source::Git#to_s
  bundler/lib/bundler/source/git.rb
  bundler/spec/bundler/source/git_spec.rb
Labels: Bundler, bundler: enhancement

#4958 Add a needed library path to run the isolated test
  CONTRIBUTING.md
Labels: RubyGems

#5036 Better error when installing a lockfile with git sources and git is not installed
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/install/gemfile/git_spec.rb
Labels: Bundler, bundler: enhancement

#5013 Allow custom LicenseRef
  lib/rubygems/specification.rb
  lib/rubygems/util/licenses.rb
  test/rubygems/test_gem_specification.rb
  util/generate_spdx_license_list.rb
Labels: RubyGems, bundler: enhancement

#5033 Memoize materialized specs when requiring `bundler/setup`
  bundler/lib/bundler/definition.rb
  bundler/spec/runtime/setup_spec.rb
Labels: Bundler, bundler: enhancement
