Repository rubygems/rubygems, pull requests merged in 2021-12, with the labels that each got.

#5117 Bump ci versions
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/macos-rubygems.yml
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
  .github/workflows/windows-rubygems.yml
  bundler/spec/commands/exec_spec.rb
  bundler/tool/bundler/rubocop23_gems.rb.lock
  bundler/tool/bundler/rubocop24_gems.rb.lock
  bundler/tool/bundler/rubocop_gems.rb.lock
  bundler/tool/bundler/standard23_gems.rb.lock
  bundler/tool/bundler/standard24_gems.rb.lock
  bundler/tool/bundler/standard_gems.rb.lock
  release_gems.rb.lock
Labels: Bundler, RubyGems, CI

#5118 Ignore to generate the documentation from vendored libraries
  Manifest.txt
  bundler/lib/bundler/vendor/.document
  lib/rubygems/optparse/.document
  lib/rubygems/tsort/.document
Labels: Bundler, RubyGems

#5030 Provide distinguished name which will be correctly parsed.
  lib/rubygems/security.rb
  test/rubygems/test_gem_security.rb
Labels: RubyGems

#5116 Fix handling prereleases of 0 versions, like 0.0.0.dev or 0.0.0.SNAPSHOT
  bundler/lib/bundler/lazy_specification.rb
  bundler/spec/install/gemfile/path_spec.rb
Labels: Bundler, bundler: bug fix

#5130 Move required_ruby_version gemspec attribute to recommended section.
  lib/rubygems/specification.rb
Labels: RubyGems, rubygems: documentation

#5120 Improve gemfile-lockfile source equivalence errors
  bundler/lib/bundler/cli/update.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/plugin/api/source.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/source.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source/rubygems_aggregate.rb
  bundler/lib/bundler/source_list.rb
  bundler/spec/install/deploy_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/support/indexes.rb
Labels: Bundler, bundler: enhancement

#5110 Let original `Errno::EACCES` error be raised in compact index updater
  bundler/lib/bundler/compact_index_client/updater.rb
  bundler/spec/bundler/compact_index_client/updater_spec.rb
Labels: Bundler, bundler: enhancement

#5053 Fix `ruby setup.rb` trying to write outside of `--destdir`
  lib/rubygems/commands/pristine_command.rb
  lib/rubygems/commands/setup_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
Labels: rubygems: bug fix, RubyGems

#5135 Bump JRuby and Java in CI
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
Labels: Bundler, RubyGems, CI, bundler: backport, rubygems: backport

#3132 Little cleanup in test suite
  test/rubygems/test_require.rb
Labels: RubyGems, rubygems: backport

#5133 Add login & logout alias for the signin & signout commands
  lib/rubygems/command_manager.rb
  test/rubygems/test_gem_command_manager.rb
Labels: RubyGems, rubygems: enhancement

#5137 Add --version parameter to bundle info command.
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/info.rb
  bundler/spec/commands/info_spec.rb
Labels: Bundler

#5136 Allow using `Gem::Version` without loading the rest of rubygems
  lib/rubygems/version.rb
  test/rubygems/test_project_sanity.rb
Labels: RubyGems

#5126 Accept pull request URLs as github source
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
  bundler/lib/bundler/man/gemfile.5.ronn
  bundler/spec/bundler/dsl_spec.rb
Labels: Bundler, bundler: enhancement

#5111 Don't cleanup paths from gems already activated from `$LOAD_PATH`
  bundler/lib/bundler/shared_helpers.rb
  bundler/spec/runtime/setup_spec.rb
Labels: Bundler, bundler: bug fix

#5139 Revert stuff about `Gem::Version` availability
  bundler/Rakefile
  bundler/lib/bundler/vendor/connection_pool/lib/connection_pool/wrapper.rb
  lib/rubygems/version.rb
  test/rubygems/test_project_sanity.rb
Labels: Bundler, RubyGems

#5142 Pass "--" to git commands to separate positional and optional args
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/bundler/source/git/git_proxy_spec.rb
Labels: Bundler

#5143 Changelogs for rubygems 3.2.33 and bundler 2.2.33
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#5140 Fix upgrade crashing when multiple versions of `fileutils` installed
  .github/workflows/install-rubygems.yml
  lib/rubygems/commands/setup_command.rb
  lib/rubygems/specification.rb
  test/rubygems/test_gem_specification.rb
Labels: rubygems: bug fix, RubyGems, CI

#5021 Add require parameter to `bundle add`
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/injector.rb
  bundler/spec/commands/add_spec.rb
Labels: Bundler, bundler: enhancement

#5147 Cancel deprecation of custom git sources
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/templates/Gemfile
  bundler/lib/bundler/templates/gems.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler

#5146 Add missing prerequisite for `prepare_release_branch`
  Rakefile
Labels: RubyGems, rubygems: backport

#5155 Don't load system rubygems during tests
  test/rubygems/test_gem_commands_open_command.rb
Labels: RubyGems

#5152 Ignore dependencies not actually locked from frozen check
  bundler/lib/bundler/definition.rb
  bundler/spec/install/deploy_spec.rb
Labels: Bundler, bundler: bug fix

#2764 Properly fetch `Gem#latest_spec_for` with multiple sources
  lib/rubygems.rb
  lib/rubygems/spec_fetcher.rb
  test/rubygems/test_gem.rb
Labels: rubygems: bug fix, RubyGems

#5159 Add `github` and `ref` options to `bundle add`
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/dependency.rb
  bundler/lib/bundler/injector.rb
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-add.1.ronn
  bundler/spec/commands/add_spec.rb
Labels: Bundler, bundler: enhancement

#5154 Fix broken brew formula due to loading `operating_system.rb` customizations too late
  .github/workflows/install-rubygems.yml
  bundler/spec/commands/clean_spec.rb
  bundler/spec/install/gems/standalone_spec.rb
  lib/rubygems.rb
  lib/rubygems/requirement.rb
  lib/rubygems/specification.rb
  test/rubygems/test_rubygems.rb
Labels: rubygems: bug fix, RubyGems, CI

#5162 Fix encoding mismatch issues when writing gem packages
  lib/rubygems.rb
  test/rubygems/helper.rb
  test/rubygems/test_gem_remote_fetcher.rb
  test/rubygems/test_gem_specification.rb
  test/rubygems/test_require.rb
Labels: rubygems: bug fix, RubyGems

#5168 Fix crash when when no platform specific matches exist and show a proper error
  bundler/lib/bundler/resolver.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: Bundler, bundler: bug fix

#5179 Error tracing should be printed to stderr
  bundler/lib/bundler/ui/shell.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/realworld/mirror_probe_spec.rb
Labels: Bundler, bundler: enhancement

#5180 Set `BUNDLER_VERSION` when `bundle _<version>_` is passed
  lib/rubygems/installer.rb
Labels: RubyGems, rubygems: enhancement

#4076 Change `bundle install` with a lockfile to respect the `BUNDLED WITH` bundler version
  Manifest.txt
  bundler/Rakefile
  bundler/lib/bundler.rb
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/install.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/fetcher.rb
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/lockfile_parser.rb
  bundler/lib/bundler/plugin/installer.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/self_manager.rb
  bundler/lib/bundler/source/metadata.rb
  bundler/lib/bundler/templates/Executable.bundler
  bundler/spec/bundler/plugin/installer_spec.rb
  bundler/spec/commands/binstubs_spec.rb
  bundler/spec/commands/check_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/runtime/platform_spec.rb
  bundler/spec/runtime/self_management_spec.rb
  bundler/spec/support/filters.rb
  bundler/spec/support/hax.rb
  bundler/spec/support/helpers.rb
  bundler/tool/turbo_tests.rb
Labels: Bundler, bundler: feature, category: bundler version locking

#5184 Improve release scripts to support releasing minors & majors
  .changelog.yml
  POLICIES.md
  Rakefile
  bundler/.changelog.yml
  util/changelog.rb
  util/release.rb
Labels: Bundler, RubyGems

#5186 Skip find_in_unresolved_tree test for TruffleRuby due to longer runtime
  test/rubygems/test_gem_specification.rb
Labels: RubyGems

#5177 Print warning when running Bundler on potentially problematic RubyGems & Ruby combinations
  bundler/exe/bundle
  bundler/lib/bundler/shared_helpers.rb
  bundler/spec/commands/config_spec.rb
  bundler/spec/spec_helper.rb
Labels: Bundler, bundler: enhancement

#5188 Clarify release level naming in changelog and release scripts
  util/changelog.rb
  util/release.rb
Labels: RubyGems

#5185 Prepare rubygems 3.3.0 and bundler 2.3.0
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/legacy-git.yml
  .github/workflows/macos-rubygems.yml
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/truffleruby-bundler.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
  .github/workflows/windows-rubygems.yml
  CHANGELOG.md
  bundler/CHANGELOG.md
  bundler/lib/bundler/version.rb
  bundler/tool/bundler/rubocop23_gems.rb.lock
  bundler/tool/bundler/rubocop24_gems.rb.lock
  bundler/tool/bundler/rubocop_gems.rb.lock
  bundler/tool/bundler/standard23_gems.rb.lock
  bundler/tool/bundler/standard24_gems.rb.lock
  bundler/tool/bundler/standard_gems.rb.lock
  bundler/tool/bundler/test_gems.rb.lock
  dev_gems.rb.lock
  lib/rubygems.rb
  release_gems.rb.lock
  rubygems-update.gemspec
Labels: Bundler, RubyGems, CI

#5187 Fix crash when gem used twice in Gemfile under different platforms
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/install_spec.rb
Labels: Bundler

#5193 Re-exec prepending command with `Gem.ruby` if `$PROGRAM_NAME` is not executable
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
  bundler/lib/bundler/self_manager.rb
  bundler/spec/runtime/gem_tasks_spec.rb
  bundler/spec/support/artifice/compact_index.rb
  bundler/spec/support/artifice/endpoint.rb
  bundler/spec/support/artifice/endpoint_500.rb
  bundler/spec/support/artifice/windows.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/path.rb
  bundler/spec/support/rubygems_ext.rb
Labels: Bundler, bundler: enhancement

#5181 Remove hard errors when matching major bundler not found
  lib/rubygems.rb
  lib/rubygems/bundler_version_finder.rb
  lib/rubygems/dependency.rb
  lib/rubygems/errors.rb
  lib/rubygems/specification.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_bundler_version_finder.rb
  test/rubygems/test_gem_dependency.rb
  test/rubygems/test_kernel.rb
  test/rubygems/test_require.rb
Labels: RubyGems, rubygems: enhancement

#5196 Fix compatibility with OpenSSL 3.0
  lib/rubygems/security.rb
  lib/rubygems/security/policy.rb
Labels: rubygems: enhancement

#5195 Avoid unnecessary `shellwords` require on newer rubygems
  bundler/lib/bundler/rubygems_gem_installer.rb
  bundler/spec/install/gems/standalone_spec.rb
Labels: bundler: enhancement

#5202 Vendor latest `thor` with fixes for latest `did_you_mean` deprecations
  .github/workflows/spell-checker.yml
  bundler/Rakefile
  bundler/lib/bundler/vendor/thor/lib/thor/actions.rb
  bundler/lib/bundler/vendor/thor/lib/thor/actions/file_manipulation.rb
  bundler/lib/bundler/vendor/thor/lib/thor/actions/inject_into_file.rb
  bundler/lib/bundler/vendor/thor/lib/thor/core_ext/hash_with_indifferent_access.rb
  bundler/lib/bundler/vendor/thor/lib/thor/error.rb
  bundler/lib/bundler/vendor/thor/lib/thor/parser/options.rb
  bundler/lib/bundler/vendor/thor/lib/thor/shell.rb
  bundler/lib/bundler/vendor/thor/lib/thor/shell/basic.rb
  bundler/lib/bundler/vendor/thor/lib/thor/util.rb
Labels: bundler: enhancement

#5201 Fix some realworld spec flaky failures
  bundler/spec/realworld/mirror_probe_spec.rb
Labels: bundler: backport

#5209 Remove unnecessary lockfile upgrade warning
  bundler/lib/bundler/definition.rb
  bundler/spec/lock/lockfile_spec.rb
Labels: bundler: enhancement

#5210 Backport Ruby master changes
  Manifest.txt
  bundler/lib/bundler/.document
  test/rubygems/test_gem_stream_ui.rb
Labels: bundler: backport, rubygems: backport

#5208 Fix gemspec truncation
  lib/rubygems.rb
  test/rubygems/test_gem_commands_install_command.rb
  test/rubygems/test_gem_installer.rb
Labels: rubygems: bug fix

#5217 Fix locked bundler not installed to the right path when `deployment` is set
  bundler/lib/bundler/cli/install.rb
  bundler/lib/bundler/settings.rb
  bundler/spec/runtime/self_management_spec.rb
Labels: bundler: bug fix

#5222 Make SpecificationPolicy autoload constant
  lib/rubygems.rb
  lib/rubygems/specification.rb
Labels: rubygems: performance

#5226 Update some specs to pass ruby-head CI
  .github/workflows/older-rubygems-bundler.yml
  bundler/lib/bundler/ruby_version.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/gemfile/ruby_spec.rb
  bundler/spec/support/helpers.rb
Labels: bundler: backport

#5205 Improve error message when `BUNDLED WITH` version does not exist
  bundler/lib/bundler/self_manager.rb
  bundler/spec/commands/binstubs_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/runtime/self_management_spec.rb
  bundler/spec/support/artifice/vcr_cassettes/realworld/index.rubygems.org/info/bundler/GET/request
  bundler/spec/support/artifice/vcr_cassettes/realworld/index.rubygems.org/info/bundler/GET/response
  bundler/spec/support/artifice/vcr_cassettes/realworld/rubygems.org/gems/bundler-2.3.0.gem/GET/request
  bundler/spec/support/artifice/vcr_cassettes/realworld/rubygems.org/gems/bundler-2.3.0.gem/GET/response
  bundler/spec/support/helpers.rb
Labels: bundler: enhancement

#5230 Don't redownload `rubygems-update` package if already there
  bundler/spec/support/rubygems_ext.rb
  lib/rubygems/commands/update_command.rb
Labels: rubygems: enhancement

#5191 Fix `gem update --system` crashing when latest version not supported
  lib/rubygems/commands/update_command.rb
  test/rubygems/test_gem_commands_update_command.rb
Labels: rubygems: bug fix, RubyGems

#5224 Fix `bundle update --bundler` no longer updating lockfile
  bundler/lib/bundler/self_manager.rb
  bundler/spec/commands/update_spec.rb
Labels: bundler: bug fix

#5241 Better way to join path components in VCR specs
  bundler/spec/support/artifice/vcr.rb
Labels: bundler: backport
