Repository rubygems/rubygems, pull requests merged in 2021-04, with the labels that each got.

#4156 Add `rake build:checksum` task to build cheksums for a gem package
  bundler/lib/bundler/gem_helper.rb
  bundler/spec/bundler/gem_helper_spec.rb
Labels: bundler: enhancement

#4506 Bump vendored `tmpdir` library copy
  bundler/Rakefile
  bundler/lib/bundler/vendor/tmpdir/lib/tmpdir.rb
Labels: bundler: enhancement

#2836 Correctly handle symlinks.
  Manifest.txt
  lib/rubygems/installer.rb
  lib/rubygems/package.rb
  test/rubygems/packages/ascii_binder-0.1.10.1.gem
  test/rubygems/test_gem_installer.rb
  test/rubygems/test_gem_package.rb
Labels: rubygems: bug fix

#4512 Lock all test gems
  .github/workflows/ruby-core.yml
  Rakefile
  bundler/bin/bundle
  bundler/spec/bundler/dep_proxy_spec.rb
  bundler/spec/commands/newgem_spec.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/spec_helper.rb
  bundler/spec/support/bundle.rb
  bundler/spec/support/hax.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/path.rb
  bundler/spec/support/rubygems_ext.rb
  bundler/tool/bundler/rubocop23_gems.rb
  bundler/tool/bundler/rubocop23_gems.rb.lock
  bundler/tool/bundler/rubocop_gems.rb
  bundler/tool/bundler/rubocop_gems.rb.lock
  bundler/tool/bundler/standard23_gems.rb
  bundler/tool/bundler/standard23_gems.rb.lock
  bundler/tool/bundler/standard_gems.rb
  bundler/tool/bundler/standard_gems.rb.lock
  bundler/tool/bundler/test_gems.rb
  bundler/tool/bundler/test_gems.rb.lock
Labels: Bundler, bundler: backport

#3687 Add `--github-username` option and config to `bundle gem`
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/gem.rb
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
  bundler/spec/commands/newgem_spec.rb
Labels: Bundler, bundler: enhancement

#4518 Add space after open curly bracket in Gemfile and gems.rb template
  .rubocop_bundler.yml
  bundler/lib/bundler/templates/Gemfile
  bundler/lib/bundler/templates/gems.rb
Labels: Bundler, bundler: enhancement

#4529 Prefer File.open instead of Kernel#open
  lib/rubygems.rb
  lib/rubygems/indexer.rb
  lib/rubygems/test_utilities.rb
Labels: RubyGems

#4524 Update the default bindir on macOS
  lib/rubygems/defaults.rb
Labels: RubyGems

#4523 Ignore `deployment` setting in inline mode
  bundler/lib/bundler/inline.rb
  bundler/spec/runtime/inline_spec.rb
Labels: Bundler

#4530 Prefer File.read instead of IO.read
  bundler/lib/bundler/compact_index_client/updater.rb
  bundler/lib/bundler/injector.rb
Labels: Bundler

#4531 Use `File.open` consistently and enable `Security/Open`cop
  .rubocop.yml
  .rubocop_bundler.yml
  Rakefile
  test/rubygems/test_gem_commands_setup_command.rb
  test/rubygems/test_gem_installer.rb
  test/rubygems/test_gem_package.rb
  test/rubygems/test_gem_server.rb
  util/create_encrypted_key.rb
  util/update_bundled_ca_certificates.rb
Labels: Bundler, RubyGems

#4533 Add a git version guard for init.defaultBranch
  bundler/spec/commands/newgem_spec.rb
  bundler/spec/install/git_spec.rb
Labels: Bundler, bundler: backport

#4522 Cancel `deployment_means_frozen` change
  bundler/lib/bundler.rb
  bundler/lib/bundler/cli/install.rb
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/settings.rb
  bundler/spec/quality_spec.rb
Labels: Bundler

#4535 [CurrentRuby] Add 3.0 as a known minor
  bundler/lib/bundler/current_ruby.rb
Labels: Bundler

#4536 Improve `bundle pristine` error if `BUNDLE_GEMFILE` does not exist
  bundler/lib/bundler/cli/common.rb
  bundler/spec/commands/pristine_spec.rb
Labels: Bundler, bundler: enhancement

#4545 gemspec template: Grammar
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
Labels: Bundler

#4537 Easier gemspec syncing with ruby-core
  bundler/bundler.gemspec
  bundler/spec/quality_spec.rb
Labels: Bundler

#4511 Bump patch level versions of ruby in CI
  .github/workflows/install-rubygems.yml
  .github/workflows/macos-rubygems.yml
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/ubuntu-bundler.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
  .github/workflows/windows-rubygems.yml
  bundler/spec/realworld/edgecases_spec.rb
  bundler/tool/bundler/rubocop23_gems.rb.lock
  bundler/tool/bundler/rubocop_gems.rb.lock
  bundler/tool/bundler/standard23_gems.rb.lock
  bundler/tool/bundler/standard_gems.rb.lock
Labels: Bundler, CI, RubyGems

#4551 Fix usage messages to reflect the current POSIX-compatible behaviour
  lib/rubygems/commands/install_command.rb
  lib/rubygems/commands/open_command.rb
  lib/rubygems/commands/yank_command.rb
Labels: RubyGems, rubygems: documentation

#4557 Fix typo in `bundle pristine` spec
  bundler/spec/commands/pristine_spec.rb
Labels: Bundler, bundler: backport

#4552 Get some more Windows specs passing
  bundler/lib/bundler/dependency.rb
  bundler/spec/commands/cache_spec.rb
  bundler/spec/commands/clean_spec.rb
  bundler/spec/runtime/inline_spec.rb
Labels: Bundler

#4554 Fix `bundle cache` with an up-to-date lockfile and specs not already installed
  bundler/lib/bundler/spec_set.rb
  bundler/spec/commands/cache_spec.rb
Labels: Bundler, bundler: bug fix

#4560 Fix some typos
  CHANGELOG.md
  CONTRIBUTING.md
  bundler/CHANGELOG.md
  bundler/doc/playbooks/RELEASING.md
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/plugin.rb
  bundler/lib/bundler/retry.rb
  bundler/lib/bundler/vendor/molinillo/lib/molinillo/modules/specification_provider.rb
  bundler/lib/bundler/vendor/thor/lib/thor/actions/file_manipulation.rb
  bundler/spec/bundler/plugin/dsl_spec.rb
  bundler/spec/bundler/plugin/index_spec.rb
  bundler/spec/commands/remove_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gems/post_install_spec.rb
  bundler/spec/support/rubygems_ext.rb
  lib/rubygems.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/modules/specification_provider.rb
Labels: Bundler, RubyGems, bundler: backport

#4556 Don't materialize resolutions when not necessary
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/outdated_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/prereleases_spec.rb
  bundler/spec/support/artifice/compact_index.rb
  bundler/spec/support/artifice/endpoint.rb
  bundler/spec/support/artifice/windows.rb
  bundler/spec/support/builders.rb
Labels: Bundler, bundler: performance

#4558 Make deprecate method support ruby3's keyword arguments
  lib/rubygems/deprecate.rb
  test/rubygems/test_deprecate.rb
Labels: RubyGems

#4546 Debug compact index misses
  bundler/lib/bundler/fetcher/compact_index.rb
  bundler/spec/support/helpers.rb
Labels: Bundler

#3085 Only print month & year in deprecation messages
  lib/rubygems/deprecate.rb
  test/rubygems/test_deprecate.rb
Labels: rubygems: enhancement

#4562 Make sure specs are fetched from the right source when materializing
  bundler/lib/bundler/spec_set.rb
  bundler/spec/commands/update_spec.rb
Labels: Bundler

#4564 Redact all sources in verbose mode
  bundler/lib/bundler/fetcher/downloader.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
Labels: Bundler, bundler: enhancement

#4566 Redact credentials from `bundle env` and `bundle config`
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/settings.rb
  bundler/spec/bundler/env_spec.rb
  bundler/spec/commands/config_spec.rb
  bundler/spec/quality_spec.rb
Labels: Bundler, bundler: enhancement
