Repository rubygems/rubygems, pull requests merged in 2021-08, with the labels that each got.

#4805 Fix bundler hitting the network in some cases where not allowed
  bundler/lib/bundler/cli/check.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/source.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source/rubygems_aggregate.rb
  bundler/lib/bundler/source_list.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/commands/post_bundle_message_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/support/indexes.rb
  test/rubygems/test_gem.rb
Labels: Bundler, bundler: bug fix

#4806 Fix a couple small typos in deprecation / error messages
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/errors.rb
  bundler/spec/bundler/dsl_spec.rb
  bundler/spec/commands/install_spec.rb
Labels: Bundler, bundler: enhancement

#4650 Exclude gemspec file itself from file list of gems generated by `bundle gem`
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
  bundler/spec/commands/newgem_spec.rb
Labels: Bundler, bundler: enhancement

#4816 Fix `bundle gem` on path with spaces
  bundler/lib/bundler/cli/gem.rb
  bundler/spec/commands/newgem_spec.rb
Labels: Bundler, bundler: bug fix

#4820 Improve README regarding installing with `sudo`
  README.md
Labels: RubyGems

#4812 Make `bundle exec` keep file descriptors by default
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/exec.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler, bundler: enhancement

#4821 Unkip binstub permissions spec on Windows
  bundler/spec/commands/binstubs_spec.rb
Labels: Bundler, bundler: backport

#4814 Fix bin/bundle path suggestion for local setup
  bundler/doc/development/SETUP.md
Labels: Bundler

#3797 Remove all `syck` references
  bundler/lib/bundler.rb
  bundler/lib/bundler/endpoint_specification.rb
  bundler/lib/bundler/psyched_yaml.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/spec/bundler/bundler_spec.rb
  bundler/spec/bundler/endpoint_specification_spec.rb
  bundler/spec/bundler/psyched_yaml_spec.rb
Labels: Bundler

#4532 Ignore `RUBYGEMS_GEMDEPS` for the bundler gem
  lib/rubygems.rb
  lib/rubygems/installer.rb
  test/rubygems/helper.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_installer.rb
Labels: RubyGems, rubygems: enhancement

#4619 Better defaults for GitHub Actions template generated by `bundle gem`
  bundler/lib/bundler/templates/newgem/github/workflows/main.yml.tt
Labels: Bundler, bundler: enhancement

#4827 Remove `RUBYGEMS_GEMDEPS` warning
  bundler/lib/bundler/cli.rb
  bundler/spec/bundler/cli_spec.rb
Labels: Bundler, bundler: enhancement

#4829 Also load user installed rubygems plugins
  lib/rubygems.rb
  test/rubygems/test_gem.rb
Labels: rubygems: bug fix, RubyGems

#4828 Respect `BUNDLE_USER_HOME` env when choosing config location
  bundler/lib/bundler/settings.rb
  bundler/spec/commands/config_spec.rb
  bundler/spec/spec_helper.rb
Labels: Bundler, bundler: bug fix

#4831 Improve `CONTRIBUTING.md` file
  CONTRIBUTING.md
Labels: RubyGems

#4832 Remove dead code
  Manifest.txt
  bundler/lib/bundler/gemdeps.rb
  bundler/lib/bundler/rubygems_integration.rb
Labels: Bundler

#4822 Enable parallel installation on Windows by default
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-install.1.ronn
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-update.1.ronn
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
Labels: Bundler

#4833 Remove MacOS specific gem layout
  lib/rubygems/commands/setup_command.rb
  lib/rubygems/defaults.rb
  lib/rubygems/path_support.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_path_support.rb
Labels: RubyGems

#4824 Enhance the error handling for loading the `rubygems/defaults/operating_system` file
  Manifest.txt
  lib/rubygems.rb
  test/rubygems/test_rubygems.rb
Labels: RubyGems, rubygems: enhancement

#4834 Remove unused file
  Manifest.txt
  test/rubygems/bogussources.rb
Labels: RubyGems

#4846 Add concurrency to workflows
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/legacy-git.yml
  .github/workflows/macos-rubygems.yml
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/ruby-core.yml
  .github/workflows/spell-checker.yml
  .github/workflows/truffleruby-bundler.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
  .github/workflows/windows-rubygems.yml
Labels: Bundler, RubyGems, CI, bundler: backport, rubygems: backport

#4848 Changelogs for rubygems 3.2.26 and bundler 2.2.26
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4849 Prepare rubygems 3.2.26 and bundler 2.2.26
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/legacy-git.yml
  .github/workflows/macos-rubygems.yml
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/ruby-core.yml
  .github/workflows/spell-checker.yml
  .github/workflows/truffleruby-bundler.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
  .github/workflows/windows-rubygems.yml
  CHANGELOG.md
  Manifest.txt
  bundler/CHANGELOG.md
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/check.rb
  bundler/lib/bundler/cli/exec.rb
  bundler/lib/bundler/cli/gem.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/errors.rb
  bundler/lib/bundler/installer/standalone.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/source.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source/rubygems_aggregate.rb
  bundler/lib/bundler/source_list.rb
  bundler/lib/bundler/templates/newgem/github/workflows/main.yml.tt
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
  bundler/lib/bundler/version.rb
  bundler/spec/bundler/cli_spec.rb
  bundler/spec/bundler/dsl_spec.rb
  bundler/spec/commands/binstubs_spec.rb
  bundler/spec/commands/config_spec.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/commands/newgem_spec.rb
  bundler/spec/commands/post_bundle_message_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gems/standalone_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/spec_helper.rb
  bundler/spec/support/indexes.rb
  bundler/tool/bundler/rubocop23_gems.rb.lock
  bundler/tool/bundler/rubocop_gems.rb.lock
  bundler/tool/bundler/test_gems.rb.lock
  dev_gems.rb.lock
  lib/rubygems.rb
  lib/rubygems/installer.rb
  rubygems-update.gemspec
  test/rubygems/helper.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_installer.rb
  test/rubygems/test_rubygems.rb
Labels: Bundler, RubyGems, CI

#4843 Prioritise gems with higher version for fetching metadata, and stop fetching once we find a valid candidate
  lib/rubygems/resolver/installer_set.rb
  test/rubygems/test_gem_resolver_installer_set.rb
Labels: RubyGems, rubygems: enhancement

#4865 Refactor Ruby platform priority condition to its own method
  lib/rubygems/name_tuple.rb
  lib/rubygems/platform.rb
  lib/rubygems/resolver/installer_set.rb
  lib/rubygems/specification.rb
Labels: Bundler, RubyGems

#4851 Fix some failing Bundler tests with old Git.
  bundler/spec/support/builders.rb
Labels: Bundler

#4853 Fix `bundle check` incorrectly considering cached gems
  bundler/lib/bundler/cli/check.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/source.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source_list.rb
  bundler/spec/commands/check_spec.rb
Labels: Bundler, bundler: bug fix

#4854 Fix `bundle check` showing duplicated gems when multiple platforms are locked
  bundler/lib/bundler/spec_set.rb
  bundler/spec/commands/check_spec.rb
Labels: Bundler, bundler: bug fix

#4864 Make plugin installation idempotent
  bundler/lib/bundler/plugin.rb
  bundler/spec/bundler/plugin_spec.rb
  bundler/spec/plugins/command_spec.rb
  bundler/spec/plugins/install_spec.rb
Labels: Bundler

#4869 Fix `bundle plugin install` detection of already installed plugins
  bundler/lib/bundler.rb
  bundler/lib/bundler/plugin/installer.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/bundler/bundler_spec.rb
  bundler/spec/plugins/install_spec.rb
Labels: Bundler, bundler: bug fix

#4866 Correctly redact credentials when using x-oauth-basic
  bundler/lib/bundler/settings.rb
  bundler/spec/bundler/env_spec.rb
  bundler/spec/commands/config_spec.rb
Labels: Bundler, bundler: enhancement

#4868 Redact credentails when printing URI
  Manifest.txt
  dev_gems.rb
  dev_gems.rb.lock
  lib/rubygems/commands/install_command.rb
  lib/rubygems/remote_fetcher.rb
  lib/rubygems/request.rb
  lib/rubygems/uri.rb
  lib/rubygems/uri_parser.rb
  test/rubygems/test_gem_commands_install_command.rb
  test/rubygems/test_gem_remote_fetcher.rb
  test/rubygems/test_gem_request.rb
  test/rubygems/test_gem_uri.rb
Labels: RubyGems, rubygems: enhancement

#4883 Add missing key `branches:` to template for GitHub Actions
  bundler/lib/bundler/templates/newgem/github/workflows/main.yml.tt
Labels: Bundler, bundler: bug fix

#4887 Optimize some requires
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/rubygems_integration.rb
Labels: Bundler, bundler: enhancement
