Repository rubygems/rubygems, pull requests merged in 2021-02, with the labels that each got.

#4332 Speed up platform specific specs
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: Bundler

#4235 Tweak the CI configuration on JRuby
  .github/workflows/ubuntu-rubygems.yml
  test/rubygems/test_gem_requirement.rb
Labels: CI, RubyGems, rubygems: backport

#4337 Fix standalone Kernel.require visibility
  bundler/lib/bundler/installer/standalone.rb
  bundler/spec/install/gems/standalone_spec.rb
Labels: Bundler, bundler: bug fix

#4093 Complete specs for newgem generator CHANGELOG.md
  Manifest.txt
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/gem.rb
  bundler/lib/bundler/templates/newgem/CHANGELOG.md.tt
  bundler/spec/bundler/gem_helper_spec.rb
  bundler/spec/commands/newgem_spec.rb
Labels: Bundler, bundler: enhancement

#4334 Fix `gem install` crashing on gemspec with nil required_ruby_version
  Manifest.txt
  lib/rubygems/resolver/index_specification.rb
  test/rubygems/data/null-required-ruby-version.gemspec.rz
  test/rubygems/test_gem_dependency_installer.rb
Labels: RubyGems, rubygems: bug fix

#4340 Prepare rubygems 3.2.8 and bundler 2.2.8
  .github/workflows/ubuntu-rubygems.yml
  CHANGELOG.md
  Manifest.txt
  Rakefile
  bundler/CHANGELOG.md
  bundler/Rakefile
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/gem.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/index.rb
  bundler/lib/bundler/installer/standalone.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/resolver/spec_group.rb
  bundler/lib/bundler/shared_helpers.rb
  bundler/lib/bundler/source_list.rb
  bundler/lib/bundler/spec_set.rb
  bundler/lib/bundler/templates/newgem/CHANGELOG.md.tt
  bundler/lib/bundler/vendor/molinillo/lib/molinillo/dependency_graph.rb
  bundler/lib/bundler/vendor/molinillo/lib/molinillo/dependency_graph/vertex.rb
  bundler/lib/bundler/vendor/molinillo/lib/molinillo/errors.rb
  bundler/lib/bundler/vendor/thor/lib/thor.rb
  bundler/lib/bundler/vendor/thor/lib/thor/actions.rb
  bundler/lib/bundler/vendor/thor/lib/thor/actions/file_manipulation.rb
  bundler/lib/bundler/vendor/thor/lib/thor/error.rb
  bundler/lib/bundler/vendor/thor/lib/thor/parser/arguments.rb
  bundler/lib/bundler/vendor/thor/lib/thor/parser/options.rb
  bundler/lib/bundler/vendor/thor/lib/thor/shell/basic.rb
  bundler/lib/bundler/vendor/thor/lib/thor/shell/color.rb
  bundler/lib/bundler/vendor/thor/lib/thor/version.rb
  bundler/lib/bundler/version.rb
  bundler/spec/bundler/gem_helper_spec.rb
  bundler/spec/bundler/gem_version_promoter_spec.rb
  bundler/spec/commands/newgem_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/install/gems/standalone_spec.rb
  bundler/spec/quality_spec.rb
  bundler/spec/resolver/platform_spec.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/support/matchers.rb
  dev_gems.rb.lock
  lib/rubygems.rb
  lib/rubygems/resolver/index_specification.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/delegates/specification_provider.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/dependency_graph.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/dependency_graph/vertex.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/errors.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/modules/specification_provider.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/resolution.rb
  rubygems-update.gemspec
  test/rubygems/data/null-required-ruby-version.gemspec.rz
  test/rubygems/test_gem_dependency_installer.rb
  test/rubygems/test_gem_requirement.rb
  util/automatiek.rake
  util/automatiek/gem.rb
Labels: Bundler, CI, RubyGems

#4336 Stop removing existing platforms when force_ruby_platform is true
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/install/gemfile/platform_spec.rb
Labels: Bundler, bundler: enhancement

#4343 Improve documentation for `required_ruby_version`
  lib/rubygems/specification.rb
Labels: RubyGems, rubygems: documentation

#4328 Porting ruby-core test suite changes
  .github/workflows/ruby-core.yml
  bundler/spec/bundler/gem_helper_spec.rb
  lib/rubygems/test_case.rb
  test/rubygems/test_gem_util.rb
Labels: Bundler, RubyGems, rubygems: backport

#4344 Reset config instance variables after each test
  lib/rubygems/test_case.rb
Labels: RubyGems, rubygems: backport

#4333 Don't install platform specific gems on truffleruby
  .github/workflows/truffleruby-bundler.yml
  bundler/lib/bundler.rb
  bundler/spec/runtime/platform_spec.rb
  bundler/spec/support/filters.rb
  bundler/spec/support/rubygems_version_manager.rb
Labels: Bundler, CI, bundler: bug fix

#4248 Fix `gem outdated` incorrectly handling platform specific gems
  lib/rubygems/specification.rb
  test/rubygems/test_gem_commands_outdated_command.rb
  test/rubygems/test_gem_dependency_installer.rb
  test/rubygems/test_gem_specification.rb
Labels: RubyGems

#4348 Pickup changelog from rubygems 3.2.8 and bundler 2.2.8
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4347 Port another change committed directly to ruby-core repo
  bundler/spec/commands/info_spec.rb
  bundler/spec/commands/show_spec.rb
Labels: Bundler, bundler: backport

#4351 Don't error out when activating a binstub unless necessary
  lib/rubygems/specification.rb
  test/rubygems/test_gem.rb
Labels: RubyGems, rubygems: bug fix

#4356 Fix `Gem::Specification.stubs_for` returning wrong named specs
  lib/rubygems/specification.rb
  test/rubygems/test_gem_specification.rb
Labels: RubyGems, rubygems: bug fix

#4363 Fix error message when underscore selection can't find bundler
  lib/rubygems.rb
  lib/rubygems/dependency.rb
  test/rubygems/test_gem.rb
Labels: RubyGems, rubygems: bug fix

#4364 Prepare rubygems 3.2.9 and bundler 2.2.9
  .github/workflows/ruby-core.yml
  .github/workflows/truffleruby-bundler.yml
  CHANGELOG.md
  bundler/CHANGELOG.md
  bundler/lib/bundler.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/version.rb
  bundler/spec/bundler/gem_helper_spec.rb
  bundler/spec/commands/info_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/commands/show_spec.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/runtime/platform_spec.rb
  bundler/spec/support/filters.rb
  bundler/spec/support/rubygems_version_manager.rb
  dev_gems.rb.lock
  lib/rubygems.rb
  lib/rubygems/dependency.rb
  lib/rubygems/specification.rb
  lib/rubygems/test_case.rb
  rubygems-update.gemspec
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_commands_outdated_command.rb
  test/rubygems/test_gem_dependency_installer.rb
  test/rubygems/test_gem_specification.rb
  test/rubygems/test_gem_util.rb
Labels: Bundler, CI, RubyGems

#4367 Fix bundler sometimes choosing ruby variants over java ones
  bundler/lib/bundler/resolver.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/resolver/platform_spec.rb
  bundler/spec/runtime/platform_spec.rb
Labels: Bundler, bundler: bug fix

#4371 Fix adding platforms to lockfile sometimes conflicting on ruby requirements
  bundler/lib/bundler/resolver.rb
  bundler/spec/commands/lock_spec.rb
Labels: Bundler, bundler: bug fix

#4373 Add a `gem push` example to `gem help`
  lib/rubygems/command.rb
Labels: RubyGems, rubygems: documentation

#4374 Pickup changelog from rubygems 3.2.9 and bundler 2.2.9
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#3655 Fix source priority for transitive dependencies and split lockfile rubygems source sections
  .github/workflows/ruby-core.yml
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/inline.rb
  bundler/lib/bundler/lockfile_parser.rb
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/plugin.rb
  bundler/lib/bundler/plugin/installer.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source_list.rb
  bundler/spec/bundler/dsl_spec.rb
  bundler/spec/bundler/plugin_spec.rb
  bundler/spec/bundler/source_list_spec.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/post_bundle_message_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gems/flex_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/support/indexes.rb
  test/rubygems/test_gem.rb
Labels: Bundler, bundler: security fix

#4377 Prepare rubygems 3.2.10 and bundler 2.2.10
  .github/workflows/ruby-core.yml
  CHANGELOG.md
  bundler/CHANGELOG.md
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/inline.rb
  bundler/lib/bundler/lockfile_parser.rb
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/plugin.rb
  bundler/lib/bundler/plugin/installer.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source_list.rb
  bundler/lib/bundler/version.rb
  bundler/spec/bundler/dsl_spec.rb
  bundler/spec/bundler/plugin_spec.rb
  bundler/spec/bundler/source_list_spec.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/commands/post_bundle_message_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gems/flex_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/resolver/platform_spec.rb
  bundler/spec/runtime/platform_spec.rb
  bundler/spec/support/indexes.rb
  dev_gems.rb.lock
  lib/rubygems.rb
  lib/rubygems/command.rb
  lib/rubygems/specification.rb
  rubygems-update.gemspec
  test/rubygems/test_gem.rb
Labels: Bundler, CI, RubyGems

#4376 Include documentation fixes in patch level releases
  .changelog.yml
  bundler/.changelog.yml
Labels: Bundler, RubyGems

#4379 Pickup changelog from rubygems 3.2.10 and bundler 2.2.10 from the stable branch
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#2662 Fallback to IPv4 when IPv6 is unreachable
  Manifest.txt
  lib/rubygems/config_file.rb
  lib/rubygems/core_ext/tcpsocket_init.rb
  lib/rubygems/remote_fetcher.rb
  test/rubygems/test_gem_config_file.rb
  test/rubygems/test_gem_remote_fetcher.rb
Labels: rubygems: enhancement

#4385 Revert disable_multisource changes
  .github/workflows/ruby-core.yml
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/inline.rb
  bundler/lib/bundler/lockfile_parser.rb
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/plugin.rb
  bundler/lib/bundler/plugin/installer.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source_list.rb
  bundler/spec/bundler/dsl_spec.rb
  bundler/spec/bundler/plugin_spec.rb
  bundler/spec/bundler/source_list_spec.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/post_bundle_message_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gems/flex_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/support/indexes.rb
  test/rubygems/test_gem.rb
Labels: bundler: bug fix

#4386 Prepare rubygems 3.2.11 and bundler 2.2.11
  .changelog.yml
  .github/workflows/ruby-core.yml
  CHANGELOG.md
  Manifest.txt
  bundler/.changelog.yml
  bundler/CHANGELOG.md
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/inline.rb
  bundler/lib/bundler/lockfile_parser.rb
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/plugin.rb
  bundler/lib/bundler/plugin/installer.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source_list.rb
  bundler/lib/bundler/version.rb
  bundler/spec/bundler/dsl_spec.rb
  bundler/spec/bundler/plugin_spec.rb
  bundler/spec/bundler/source_list_spec.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/post_bundle_message_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gems/flex_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/support/indexes.rb
  dev_gems.rb.lock
  lib/rubygems.rb
  lib/rubygems/config_file.rb
  lib/rubygems/core_ext/tcpsocket_init.rb
  lib/rubygems/remote_fetcher.rb
  rubygems-update.gemspec
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_config_file.rb
  test/rubygems/test_gem_remote_fetcher.rb
Labels: Bundler, CI, RubyGems

#4388 Fix `include_gems` negated matcher to not rely on subprocess output
  bundler/spec/install/bundler_spec.rb
  bundler/spec/install/deploy_spec.rb
  bundler/spec/support/matchers.rb
Labels: Bundler

#4393 Minor spec improvements
  bundler/spec/bundler/dsl_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler, bundler: backport

#4406 Unskip some now green Windows specs
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/install/gemfile/path_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
  bundler/spec/install/gemspecs_spec.rb
  bundler/spec/runtime/inline_spec.rb
Labels: Bundler

#4378 Small tweaks to our development lockfiles
  Rakefile
  bundler/test_gems.rb.lock
  dev_gems.rb.lock
  util/release.rb
Labels: Bundler, RubyGems
