Repository rubygems/rubygems, pull requests merged in 2021-09, with the labels that each got.

#4893 Changelogs for rubygems 3.2.27 and bundler 2.2.27
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4896 Amend changelogs to match what will be released
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4891 Deprecate `--install` flag to `bundle remove` and trigger install by default
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/remove.rb
  bundler/spec/commands/remove_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/support/builders.rb
Labels: Bundler, bundler: enhancement

#4897 Avoid loading `uri` unnecessarily when activating gems
  lib/rubygems/resolver/set.rb
Labels: RubyGems, rubygems: enhancement

#4841 Only check if descriptions *start with* FIXME/TODO
  lib/rubygems/specification_policy.rb
  test/rubygems/test_gem_specification.rb
Labels: RubyGems

#4918 Use example.com in new gem template, since it will never have a potentially dangerous backing website
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
  bundler/spec/commands/newgem_spec.rb
Labels: Bundler, bundler: enhancement

#4919 Fix redacted credentials being sent to gemserver
  lib/rubygems/request.rb
  lib/rubygems/uri.rb
  test/rubygems/test_gem_request.rb
  test/rubygems/test_gem_uri.rb
Labels: rubygems: bug fix, RubyGems

#4925 Support MINGW-UCRT
  lib/rubygems/platform.rb
  test/rubygems/test_gem_platform.rb
Labels: RubyGems

#4927 Changelogs for rubygems 3.2.28 and bundler 2.2.28
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4928 Prepare rubygems 3.2.28 and bundler 2.2.28
  CHANGELOG.md
  bundler/CHANGELOG.md
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/remove.rb
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
  bundler/lib/bundler/version.rb
  bundler/spec/commands/newgem_spec.rb
  bundler/spec/commands/remove_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/support/builders.rb
  bundler/tool/bundler/rubocop23_gems.rb.lock
  bundler/tool/bundler/rubocop_gems.rb.lock
  bundler/tool/bundler/test_gems.rb.lock
  dev_gems.rb.lock
  lib/rubygems.rb
  lib/rubygems/platform.rb
  lib/rubygems/request.rb
  lib/rubygems/resolver/set.rb
  lib/rubygems/specification_policy.rb
  lib/rubygems/uri.rb
  rubygems-update.gemspec
  test/rubygems/test_gem_platform.rb
  test/rubygems/test_gem_request.rb
  test/rubygems/test_gem_specification.rb
  test/rubygems/test_gem_uri.rb
Labels: Bundler, RubyGems

#4910 Fix `wordy` method in `SourceFetchProblem` changing the password of source
  lib/rubygems/errors.rb
  test/rubygems/test_gem_source_fetch_problem.rb
Labels: rubygems: bug fix, RubyGems

#4929 Revert "Fix an issue causing nested Gem::Uri instances"
  lib/rubygems/request.rb
Labels: rubygems: backport

#4931 Backport redaction fix
  CHANGELOG.md
  bundler/CHANGELOG.md
  lib/rubygems/request.rb
Labels: RubyGems

#4932 Use pend instead of skip in the absence of git in test helper
  test/rubygems/helper.rb
Labels: RubyGems

#4934 [Rakefile] Add support for bsdtar, so `rake package` works on FreeBSD and macOS.
  Rakefile
Labels: RubyGems, rubygems: backport

#4937 Only disallow FIXME/TODO for first word of gemspec description
  lib/rubygems/specification_policy.rb
  test/rubygems/test_gem_specification.rb
Labels: RubyGems, rubygems: backport

#4930 Add missing `rubygem_push` prerequisite
  bundler/lib/bundler/gem_helper.rb
Labels: Bundler, bundler: enhancement

#4942 Use macos-11 in CI
  .github/workflows/bundler.yml
  .github/workflows/macos-rubygems.yml
Labels: Bundler, RubyGems, CI, bundler: backport, rubygems: backport
