Repository rubygems/rubygems, pull requests merged in 2021-03, with the labels that each got.

#4410 Fix deployment install with duplicate path gems added to Gemfile
  bundler/lib/bundler/definition.rb
  bundler/spec/install/deploy_spec.rb
Labels: Bundler, bundler: bug fix

#4384 Restore the ability to manually install extension gems
  bundler/lib/bundler/stub_specification.rb
  bundler/spec/bundler/stub_specification_spec.rb
Labels: Bundler, bundler: bug fix

#4409 Fix sporadic warnings about `nil` gemspec on install/update and make those faster
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/rubygems_gem_installer.rb
  bundler/spec/install/gemfile/sources_spec.rb
Labels: Bundler, bundler: bug fix

#4417 Prepare rubygems 3.2.12 and bundler 2.2.12
  CHANGELOG.md
  Rakefile
  bundler/CHANGELOG.md
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/rubygems_gem_installer.rb
  bundler/lib/bundler/stub_specification.rb
  bundler/lib/bundler/version.rb
  bundler/spec/bundler/dsl_spec.rb
  bundler/spec/bundler/stub_specification_spec.rb
  bundler/spec/install/bundler_spec.rb
  bundler/spec/install/deploy_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/install/gemfile/path_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
  bundler/spec/install/gemspecs_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/runtime/inline_spec.rb
  bundler/spec/support/matchers.rb
  bundler/test_gems.rb.lock
  dev_gems.rb.lock
  lib/rubygems.rb
  rubygems-update.gemspec
  util/release.rb
Labels: Bundler, RubyGems

#4416 Add a note about private data in `bundle env` output
  .github/ISSUE_TEMPLATE/bundler-related-issue.md
Labels: Bundler

#4419 Cherry-pick recent changelogs from stable branch
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4303 Respect user configured default branch in README links in new generated gems
  bundler/lib/bundler/cli/gem.rb
  bundler/lib/bundler/templates/newgem/README.md.tt
  bundler/spec/commands/newgem_spec.rb
Labels: Bundler, bundler: enhancement

#4082 Support non-gnu libc linux platforms
  lib/rubygems/platform.rb
  test/rubygems/test_gem_platform.rb
Labels: RubyGems, rubygems: bug fix

#4422 Kill threads after we found a reachable host or timeout
  lib/rubygems/core_ext/tcpsocket_init.rb
Labels: RubyGems, rubygems: backport

#4418 Fix gems sometimes being pulled from irrelevant sources
  .github/workflows/ruby-core.yml
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/inline.rb
  bundler/lib/bundler/lockfile_parser.rb
  bundler/lib/bundler/plugin.rb
  bundler/lib/bundler/plugin/installer.rb
  bundler/lib/bundler/plugin/source_list.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/source_list.rb
  bundler/spec/bundler/plugin_spec.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/post_bundle_message_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/support/indexes.rb
  test/rubygems/test_gem.rb
Labels: Bundler, CI, RubyGems, bundler: bug fix

#4423 Prepare rubygems 3.2.13 and bundler 2.2.13
  .github/workflows/ruby-core.yml
  CHANGELOG.md
  bundler/CHANGELOG.md
  bundler/lib/bundler/cli/gem.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/inline.rb
  bundler/lib/bundler/lockfile_parser.rb
  bundler/lib/bundler/plugin.rb
  bundler/lib/bundler/plugin/installer.rb
  bundler/lib/bundler/plugin/source_list.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/source_list.rb
  bundler/lib/bundler/templates/newgem/README.md.tt
  bundler/lib/bundler/version.rb
  bundler/spec/bundler/plugin_spec.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/newgem_spec.rb
  bundler/spec/commands/post_bundle_message_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/support/indexes.rb
  bundler/test_gems.rb.lock
  dev_gems.rb.lock
  lib/rubygems.rb
  lib/rubygems/core_ext/tcpsocket_init.rb
  lib/rubygems/platform.rb
  rubygems-update.gemspec
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_platform.rb
Labels: Bundler, CI, RubyGems

#4362 Fix encoding issue on compact index updater
  bundler/lib/bundler/compact_index_client/updater.rb
  bundler/spec/bundler/compact_index_client/updater_spec.rb
Labels: Bundler, bundler: bug fix

#4424 Changelogs for rubygems 3.2.13 and bundler 2.2.13
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4064 Less wrapping of network errors
  lib/rubygems/remote_fetcher.rb
  test/rubygems/test_gem_remote_fetcher.rb
Labels: RubyGems, rubygems: enhancement

#4428 Make `rake` available to other gems' installers right after it's installed
  bundler/lib/bundler/installer/parallel_installer.rb
  bundler/spec/install/gems/resolving_spec.rb
  bundler/spec/install/gems/sudo_spec.rb
  bundler/spec/spec_helper.rb
  bundler/spec/support/builders.rb
Labels: Bundler

#4411 Add standard option alongside rubocop to `bundle gem`
  Manifest.txt
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/gem.rb
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-gem.1.ronn
  bundler/lib/bundler/templates/newgem/Gemfile.tt
  bundler/lib/bundler/templates/newgem/Rakefile.tt
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
  bundler/lib/bundler/templates/newgem/standard.yml.tt
  bundler/spec/bundler/gem_helper_spec.rb
  bundler/spec/commands/newgem_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler, bundler: enhancement

#4390 Improve `include_gems` matcher
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
  bundler/spec/realworld/fixtures/warbler/Gemfile.lock
  bundler/spec/support/helpers.rb
  bundler/spec/support/matchers.rb
Labels: Bundler, bundler: backport

#4431 Remove require test for ipv4_fallback_enabled
  test/rubygems/test_gem_remote_fetcher.rb
Labels: RubyGems

#4381 Lock GEM sources separately and fix locally installed specs confusing bundler
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/lockfile_parser.rb
  bundler/lib/bundler/plugin/api/source.rb
  bundler/lib/bundler/source.rb
  bundler/lib/bundler/source/metadata.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source_list.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/bundler/source_list_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/install/deploy_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gems/flex_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler, bundler: security fix

#4438 Changelogs for rubygems 3.2.14 and bundler 2.2.14
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4437 Prepare rubygems 3.2.14 and bundler 2.2.14
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
  CHANGELOG.md
  bundler/CHANGELOG.md
  bundler/lib/bundler/compact_index_client/updater.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/installer/parallel_installer.rb
  bundler/lib/bundler/lockfile_parser.rb
  bundler/lib/bundler/plugin/api/source.rb
  bundler/lib/bundler/source.rb
  bundler/lib/bundler/source/metadata.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source_list.rb
  bundler/lib/bundler/spec_set.rb
  bundler/lib/bundler/version.rb
  bundler/spec/bundler/compact_index_client/updater_spec.rb
  bundler/spec/bundler/source_list_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/install/deploy_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gems/flex_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
  bundler/spec/install/gems/sudo_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/realworld/fixtures/warbler/Gemfile.lock
  bundler/spec/spec_helper.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/matchers.rb
  bundler/test_gems.rb.lock
  dev_gems.rb.lock
  lib/rubygems.rb
  lib/rubygems/platform.rb
  lib/rubygems/remote_fetcher.rb
  rubygems-update.gemspec
  test/rubygems/test_gem_platform.rb
  test/rubygems/test_gem_remote_fetcher.rb
Labels: Bundler, CI, RubyGems

#4071 Fix bundler using git cache as the install location
  bundler/lib/bundler/source/git.rb
  bundler/spec/cache/git_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
Labels: Bundler, bundler: bug fix

#4449 Respect running ruby when resolving platforms
  bundler/lib/bundler/lazy_specification.rb
  bundler/spec/runtime/platform_spec.rb
Labels: Bundler, bundler: bug fix

#4447 Allow to run test suite from release tarball
  Rakefile
Labels: RubyGems

#4456 Don't generate duplicate redundant sources in the lockfile
  bundler/lib/bundler/source_list.rb
  bundler/spec/lock/lockfile_spec.rb
Labels: Bundler, bundler: enhancement

#4460 Prevent downgrades to untested rubygems versions
  lib/rubygems/commands/update_command.rb
  test/rubygems/test_gem_commands_update_command.rb
Labels: RubyGems, rubygems: enhancement

#4465 Revert fix to git gem caching
  bundler/lib/bundler/source/git.rb
  bundler/spec/cache/git_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
Labels: Bundler

#4459 Warn lockfiles with incorrect resolutions
  bundler/lib/bundler/installer/parallel_installer.rb
  bundler/spec/bundler/installer/parallel_installer_spec.rb
  bundler/spec/bundler/installer/spec_installation_spec.rb
  dev_gems.rb.lock
Labels: Bundler, bundler: enhancement

#4464 Fix missing require breaking `gem cert`
  lib/rubygems/security/trust_dir.rb
Labels: RubyGems, rubygems: bug fix

#4461 Add a hint about bundler installing executables for path gems
  bundler/lib/bundler/source/path.rb
  bundler/lib/bundler/source/path/installer.rb
  bundler/spec/install/gemfile/path_spec.rb
Labels: Bundler, bundler: enhancement

#4470 Prepare rubygems 3.2.15 and bundler 2.2.15
  CHANGELOG.md
  bundler/CHANGELOG.md
  bundler/lib/bundler/installer/parallel_installer.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/source/path.rb
  bundler/lib/bundler/source/path/installer.rb
  bundler/lib/bundler/source_list.rb
  bundler/lib/bundler/version.rb
  bundler/spec/bundler/installer/parallel_installer_spec.rb
  bundler/spec/bundler/installer/spec_installation_spec.rb
  bundler/spec/install/gemfile/path_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/runtime/platform_spec.rb
  bundler/test_gems.rb.lock
  dev_gems.rb.lock
  lib/rubygems.rb
  lib/rubygems/commands/update_command.rb
  lib/rubygems/security/trust_dir.rb
  rubygems-update.gemspec
  test/rubygems/test_gem_commands_update_command.rb
  test/rubygems/test_gem_remote_fetcher.rb
Labels: Bundler, RubyGems

#4471 Changelogs for rubygems 3.2.15 and bundler 2.2.15
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4473 Never downgrade top level gems when running `bundle update`
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
  bundler/lib/bundler/settings.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/path_spec.rb
Labels: Bundler, bundler: enhancement

#4474 Don't show duplicate entries in `bundle outdated` output
  bundler/lib/bundler/cli/outdated.rb
  bundler/spec/commands/outdated_spec.rb
Labels: Bundler, bundler: enhancement

#4472 Cherry pick changelogs when preparing branches
  util/release.rb
Labels: RubyGems

#4494 Small tweak to yank message
  bundler/lib/bundler/definition.rb
Labels: Bundler

#4492 Improve `bundle info` error when gem is on a "disabled" group
  bundler/lib/bundler/cli/common.rb
  bundler/spec/commands/info_spec.rb
  bundler/spec/commands/post_bundle_message_spec.rb
Labels: Bundler, bundler: enhancement

#4493 Update guides for the released version after releasing
  Rakefile
Labels: RubyGems, rubygems: backport

#4496 Deprecate `bundle cache --path`
  bundler/lib/bundler/cli.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler, bundler: deprecation

#4497 Fix incorrect logic for filtering metadata matching candidates
  bundler/lib/bundler/lazy_specification.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: Bundler, bundler: bug fix

#4498 Enable bundler-cache for GitHub Actions template
  bundler/lib/bundler/templates/newgem/github/workflows/main.yml.tt
Labels: Bundler, bundler: enhancement
