Repository rubygems/rubygems, pull requests merged in 2021-06, with the labels that each got.

#4628 Don't use `extra_rdoc_files` with md files in gemspec to make installing bundler with docs faster
  bundler/bundler.gemspec
Labels: Bundler, bundler: performance

#4639 Fix `bundle check` with scoped rubygems sources
  bundler/lib/bundler/cli/check.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/source.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source_list.rb
  bundler/spec/commands/check_spec.rb
Labels: Bundler, bundler: bug fix

#4645 Stop testing ruby-core CI in the stable branch
  .github/workflows/ruby-core.yml
Labels: Bundler, CI, RubyGems

#4648 Fix `bundle outdated` edge case
  bundler/lib/bundler/cli/outdated.rb
  bundler/spec/commands/outdated_spec.rb
Labels: Bundler, bundler: bug fix

#4653 Ignore any gemfiles in parent directories
  test/rubygems/helper.rb
  test/rubygems/test_gem_bundler_version_finder.rb
  test/rubygems/test_gem_dependency.rb
  test/rubygems/test_kernel.rb
Labels: RubyGems, rubygems: backport

#4657 Fix repeated `by` on CONTRIBUTING.md
  CONTRIBUTING.md
Labels: RubyGems

#4658 Add better specification policy error description
  lib/rubygems/specification_policy.rb
  test/rubygems/test_gem_specification.rb
Labels: RubyGems, rubygems: enhancement

#4663 Don't print bug report template on server side errors
  bundler/lib/bundler/friendly_errors.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/spec/install/global_cache_spec.rb
Labels: Bundler, bundler: enhancement

#4667 Verify plaform before installing to avoid potential remote code execution
  Manifest.txt
  lib/rubygems/installer.rb
  test/rubygems/packages/ill-formatted-platform-1.0.0.10.gem
  test/rubygems/test_gem_installer.rb
Labels: RubyGems, rubygems: security fix

#4668 Changelogs for rubygems 3.2.20 and bundler 2.2.20
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4669 Prepare rubygems 3.2.20 and bundler 2.2.20
  .github/workflows/ruby-core.yml
  .rubocop.yml
  CHANGELOG.md
  Manifest.txt
  bundler/CHANGELOG.md
  bundler/bundler.gemspec
  bundler/lib/bundler/cli/check.rb
  bundler/lib/bundler/cli/outdated.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/fetcher/index.rb
  bundler/lib/bundler/friendly_errors.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/source.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source_list.rb
  bundler/lib/bundler/version.rb
  bundler/spec/bundler/fetcher/index_spec.rb
  bundler/spec/commands/check_spec.rb
  bundler/spec/commands/outdated_spec.rb
  bundler/spec/install/global_cache_spec.rb
  bundler/tool/bundler/rubocop23_gems.rb.lock
  bundler/tool/bundler/rubocop_gems.rb.lock
  bundler/tool/bundler/test_gems.rb.lock
  dev_gems.rb.lock
  lib/rubygems.rb
  lib/rubygems/installer.rb
  lib/rubygems/specification_policy.rb
  lib/rubygems/test_case.rb
  rubygems-update.gemspec
  test/rubygems/packages/ill-formatted-platform-1.0.0.10.gem
  test/rubygems/test_gem_bundler_version_finder.rb
  test/rubygems/test_gem_dependency.rb
  test/rubygems/test_gem_installer.rb
  test/rubygems/test_gem_specification.rb
  test/rubygems/test_kernel.rb
  util/changelog.rb
Labels: Bundler, CI, RubyGems

#4665 Create credentials folder when setting API keys if not there yet
  lib/rubygems/config_file.rb
  test/rubygems/test_gem_commands_push_command.rb
  test/rubygems/test_gem_commands_signin_command.rb
  test/rubygems/test_gem_gemcutter_utilities.rb
Labels: RubyGems, rubygems: bug fix

#4671 Update TODO link in bundle gem template to https
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
Labels: Bundler, bundler: enhancement

#4670 Use a more limited number of threads when fetching in parallel from the Compact Index API
  bundler/lib/bundler/fetcher/compact_index.rb
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/settings.rb
Labels: Bundler, bundler: enhancement

#4647 Auto-update insecure lockfile to split GEM source sections whenever possible
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/source_list.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler, bundler: security fix

#4662 Add the most recent licenses from spdx.org
  Rakefile
  lib/rubygems/util/licenses.rb
  util/generate_spdx_license_list.rb
Labels: RubyGems, rubygems: enhancement

#4679 Fix typo in OpenSSL detection
  lib/rubygems/request.rb
Labels: RubyGems, rubygems: enhancement

#4677 Fix `bundle install --local` hitting the network when `cache_all_platforms` configured
  bundler/lib/bundler/cli/install.rb
  bundler/spec/commands/cache_spec.rb
Labels: Bundler, bundler: bug fix

#4683 Fix multisource lockfile warning message
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source_list.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: Bundler, bundler: backport

#4691 Rescue when RDoc is absent
  lib/rubygems/uninstaller.rb
Labels: RubyGems

#4689 Prepare rubygems 3.2.21 and bundler 2.2.21
  .github/workflows/install-rubygems.yml
  .github/workflows/truffleruby-bundler.yml
  .github/workflows/ubuntu-rubygems.yml
  CHANGELOG.md
  Rakefile
  bundler/CHANGELOG.md
  bundler/lib/bundler.rb
  bundler/lib/bundler/cli/install.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/fetcher/compact_index.rb
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source_list.rb
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
  bundler/lib/bundler/version.rb
  bundler/spec/commands/cache_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/quality_spec.rb
  bundler/tool/bundler/rubocop23_gems.rb.lock
  bundler/tool/bundler/rubocop_gems.rb.lock
  bundler/tool/bundler/test_gems.rb.lock
  dev_gems.rb.lock
  lib/rubygems.rb
  lib/rubygems/config_file.rb
  lib/rubygems/request.rb
  lib/rubygems/util/licenses.rb
  rubygems-update.gemspec
  setup.rb
  test/rubygems/test_gem_commands_push_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
  test/rubygems/test_gem_commands_signin_command.rb
  test/rubygems/test_gem_gemcutter_utilities.rb
  test/rubygems/test_require.rb
  util/generate_spdx_license_list.rb
Labels: Bundler, RubyGems

#4688 Changelogs for rubygems 3.2.21 and bundler 2.2.21
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: Bundler, RubyGems

#4695 Fixes for the edge case when openssl library is missing
  lib/rubygems/commands/cert_command.rb
  lib/rubygems/specification.rb
  test/rubygems/test_gem_ext_rake_builder.rb
Labels: RubyGems, rubygems: enhancement

#4692 Fix `--conservative` flag unexpectedly updating indirect dependencies
  bundler/lib/bundler/cli/lock.rb
  bundler/lib/bundler/cli/update.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-update.1.ronn
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/bundler/definition_spec.rb
  bundler/spec/commands/update_spec.rb
Labels: Bundler, bundler: bug fix

#4701 Fix some gems being unintentionally locked under multiple lockfile sections
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/install/gemfile/sources_spec.rb
Labels: Bundler, bundler: bug fix

#4700 Fix incorrect re-resolve edge case
  bundler/lib/bundler/definition.rb
  bundler/spec/install/gemfile/sources_spec.rb
Labels: Bundler, bundler: bug fix

#4703 Fix `getaddrinfo` errors not treated as fatal on non darwin platforms
  bundler/lib/bundler/fetcher/downloader.rb
  bundler/spec/bundler/fetcher/downloader_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/support/helpers.rb
Labels: Bundler, bundler: enhancement

#4708 Don't require bundler absolutely when running specs
  bundler/lib/bundler/cli/install.rb
  bundler/lib/bundler/current_ruby.rb
  bundler/lib/bundler/installer.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/install/global_cache_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/support/api_request_limit_hax.rb
  bundler/spec/support/hax.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/matchers.rb
  bundler/spec/support/path.rb
Labels: Bundler, bundler: backport

#4709 Prefer canonical qualified names for classes under Thread
  bundler/lib/bundler.rb
  bundler/lib/bundler/compact_index_client.rb
  bundler/lib/bundler/vendor/connection_pool/lib/connection_pool/monotonic_time.rb
  bundler/lib/bundler/vendor/connection_pool/lib/connection_pool/timed_stack.rb
  bundler/lib/bundler/worker.rb
  bundler/spec/support/artifice/compact_index_rate_limited.rb
  bundler/spec/support/artifice/endpoint.rb
  bundler/tool/turbo_tests/runner.rb
  lib/rubygems.rb
  lib/rubygems/core_ext/tcpsocket_init.rb
  lib/rubygems/installer.rb
  lib/rubygems/remote_fetcher.rb
  lib/rubygems/request/connection_pools.rb
  lib/rubygems/request/http_pool.rb
  lib/rubygems/request_set.rb
  lib/rubygems/specification.rb
  lib/rubygems/user_interaction.rb
Labels: Bundler, RubyGems

#4707 Fix `bundle doctor` crashing when finding a broken symlink
  bundler/lib/bundler/cli/doctor.rb
  bundler/spec/commands/doctor_spec.rb
  bundler/spec/spec_helper.rb
Labels: Bundler, bundler: bug fix

#4697 Allow setting `--otp` via `GEM_HOST_OTP_CODE`
  lib/rubygems/gemcutter_utilities.rb
  test/rubygems/test_gem_gemcutter_utilities.rb
Labels: RubyGems, rubygems: enhancement
