Repository rubygems/rubygems, pull requests merged in 2022-04, with the labels that each got.

#5444 Prefer `__dir__` to `__FILE__`
  .github/workflows/ubuntu-rubygems.yml
  .rubocop.yml
  .rubocop_bundler.yml
  Rakefile
  bundler/bin/bundle3
  bundler/exe/bundler
  bundler/lib/bundler.rb
  bundler/lib/bundler/build_metadata.rb
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/info.rb
  bundler/lib/bundler/cli/init.rb
  bundler/lib/bundler/cli/show.rb
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/shared_helpers.rb
  bundler/lib/bundler/source/metadata.rb
  bundler/lib/bundler/templates/Executable
  bundler/lib/bundler/templates/Executable.bundler
  bundler/lib/bundler/templates/Executable.standalone
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
  bundler/spec/commands/install_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/install/gemfile/path_spec.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
  bundler/spec/install/gems/standalone_spec.rb
  bundler/spec/install/gems/sudo_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  lib/rubygems.rb
  lib/rubygems/commands/setup_command.rb
  lib/rubygems/ext/ext_conf_builder.rb
  lib/rubygems/request.rb
  lib/rubygems/source/git.rb
  setup.rb
  test/rubygems/helper.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_command_manager.rb
  test/rubygems/test_gem_commands_help_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
  test/rubygems/test_gem_dependency_installer.rb
  test/rubygems/test_gem_ext_builder.rb
  test/rubygems/test_gem_ext_cargo_builder.rb
  test/rubygems/test_gem_ext_cargo_builder/custom_name/build.rb
  test/rubygems/test_gem_ext_cargo_builder/rust_ruby_example/build.rb
  test/rubygems/test_gem_ext_cmake_builder.rb
  test/rubygems/test_gem_source_git.rb
  test/rubygems/test_gem_specification.rb
  test/rubygems/test_project_sanity.rb
  test/rubygems/test_require.rb
  test/test_changelog_generator.rb
  util/create_encrypted_key.rb
Labels: rubygems: enhancement, bundler: enhancement

#5453 Don't install HEAD ruby at `ruby-core` workflow
  .github/workflows/ruby-core.yml
Labels: bundler: backport, rubygems: backport

#5455 Fix test failures if cargo not present
  test/rubygems/test_gem_ext_cargo_builder.rb
Labels: rubygems: backport

#5457 Run CI with latest JRuby
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
Labels: bundler: backport, rubygems: backport

#5456 Avoid another crash in test `teardown`
  test/rubygems/helper.rb
Labels: rubygems: backport

#5470 Fix formatting in docs
  lib/rubygems.rb
Labels: rubygems: documentation

#5472 Stop considering `RUBY_PATCHLEVEL` for resolution
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/resolver/spec_group.rb
  bundler/lib/bundler/ruby_version.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/source/metadata.rb
  bundler/spec/bundler/ruby_version_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
  lib/rubygems.rb
  lib/rubygems/specification.rb
  test/rubygems/helper.rb
  test/rubygems/test_gem.rb
Labels: rubygems: enhancement, bundler: enhancement

#5475 Less error swallowing when installing gems
  lib/rubygems/installer.rb
  test/rubygems/test_gem_installer.rb
Labels: rubygems: enhancement

#5474 Improve Ruby version resolution conflicts
  bundler/Rakefile
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/vendor/molinillo/lib/molinillo/dependency_graph.rb
  bundler/lib/bundler/vendor/molinillo/lib/molinillo/errors.rb
  bundler/lib/bundler/vendor/molinillo/lib/molinillo/gem_metadata.rb
  bundler/lib/bundler/vendor/tsort/lib/tsort.rb
  bundler/spec/install/gems/resolving_spec.rb
Labels: bundler: enhancement

#5481 Increase timeout when testing RubyGems on Windows and MacOS
  .github/workflows/macos-rubygems.yml
  .github/workflows/windows-rubygems.yml
Labels: rubygems: backport

#5486 Fix regression when resolving ruby constraints
  bundler/spec/commands/lock_spec.rb
  lib/rubygems.rb
  test/rubygems/helper.rb
  test/rubygems/test_gem.rb
Labels: rubygems: bug fix

#5427 Improve Bundler daily CI
  bundler/spec/commands/lock_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/gems/standalone_spec.rb
Labels: bundler: backport

#5496 Fix missing required rubygems version when using old APIs
  bundler/lib/bundler/endpoint_specification.rb
  bundler/spec/install/gemfile/sources_spec.rb
Labels: bundler: bug fix

#5497 Clarify description of owner-flags
  lib/rubygems/commands/owner_command.rb
Labels: rubygems: documentation
