Repository rubygems/rubygems, pull requests merged in 2022-09, with the labels that each got.

#5889 Support non gnu libc arm-linux-eabi platforms
  bundler/lib/bundler/rubygems_ext.rb
  lib/rubygems/platform.rb
  test/rubygems/test_gem_platform.rb
Labels: rubygems: enhancement

#5886 Introduce bundle-help(1) man
  Manifest.txt
  bundler/lib/bundler/man/bundle-help.1
  bundler/lib/bundler/man/bundle-help.1.ronn
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/bundle.1.ronn
  bundler/lib/bundler/man/index.txt
Labels: bundler: documentation

#5875 Fix resolution hanging on musl platforms
  bundler/lib/bundler/endpoint_specification.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/spec/realworld/edgecases_spec.rb
  bundler/spec/runtime/platform_spec.rb
Labels: bundler: bug fix

#5888 Completely remove "auto-sudo" feature
  bundler/Rakefile
  bundler/lib/bundler.rb
  bundler/lib/bundler/cli/install.rb
  bundler/lib/bundler/errors.rb
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-install.1.ronn
  bundler/lib/bundler/plugin/installer/rubygems.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/source/git.rb
  bundler/lib/bundler/source/path/installer.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/bundler/bundler_spec.rb
  bundler/spec/install/binstubs_spec.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/install/gems/sudo_spec.rb
  bundler/spec/plugins/source/example_spec.rb
  bundler/spec/spec_helper.rb
  bundler/spec/support/filters.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/sudo.rb
Labels: bundler: breaking change

#5902 Remove no longer needed `fiddle` hacks
  bundler/spec/commands/clean_spec.rb
  bundler/spec/install/gems/standalone_spec.rb
  bundler/spec/runtime/inline_spec.rb
  bundler/spec/runtime/setup_spec.rb
Labels: bundler: backport

#5895 Introduce bundle-version(1) man
  Manifest.txt
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-help.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-version.1
  bundler/lib/bundler/man/bundle-version.1.ronn
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/bundle.1.ronn
  bundler/lib/bundler/man/gemfile.5
  bundler/lib/bundler/man/index.txt
  bundler/spec/commands/help_spec.rb
Labels: bundler: documentation

#5896 Use a more accurate source code uri in gemspec
  bundler/bundler.gemspec
Labels: bundler: enhancement

#5884 Fix `gem info` with explicit `--version`
  lib/rubygems/query_utils.rb
  test/rubygems/test_gem_commands_info_command.rb
Labels: rubygems: bug fix

#5898 Small improvements to the release process
  POLICIES.md
  bundler/tool/bundler/release_gems.rb
  bundler/tool/bundler/release_gems.rb.lock
  util/release.rb
Labels: bundler: backport, rubygems: backport

#5912 Update Bundler new feature instructions
  bundler/doc/development/NEW_FEATURES.md
Labels: bundler: documentation

#5906 Mask the file mode when extracting files
  Manifest.txt
  lib/rubygems/package.rb
  test/rubygems/packages/Bluebie-legs-0.6.2.gem
  test/rubygems/test_gem_package.rb
Labels: rubygems: bug fix

#5915 Fix resolution on non-musl platforms
  lib/rubygems/resolver.rb
  test/rubygems/test_gem_resolver.rb
Labels: rubygems: bug fix

#5868 Further speed up Bundler by not sorting specs unnecessarily
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/gem_version_promoter.rb
  bundler/lib/bundler/index.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/spec_set.rb
Labels: bundler: performance

#5747 CI - windows-rubygems.yml - use x86_64-pc-windows-msvc target for mswin Ruby
  .github/workflows/windows-rubygems.yml
Labels: rubygems: backport

#5935 Try using default Rust in CI
  .github/workflows/macos-rubygems.yml
  .github/workflows/ubuntu-rubygems.yml
Labels: rubygems: backport

#5939 Fix `Gem::Platform.match` not handling String argument properly
  lib/rubygems/platform.rb
  test/rubygems/test_gem_platform.rb
Labels: rubygems: bug fix

#5955 Force "master" in tests to be used regardless of `init.defaultBranch` config
  test/rubygems/helper.rb
Labels: rubygems: backport

#5956 Improve RubyGems tests isolation
  test/rubygems/helper.rb
  test/rubygems/rubygems_plugin.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_require.rb
Labels: rubygems: backport

#5931 Add better error handling for permanent redirect responses
  lib/rubygems/gemcutter_utilities.rb
  test/rubygems/test_gem_commands_owner_command.rb
  test/rubygems/test_gem_commands_push_command.rb
  test/rubygems/test_gem_commands_signin_command.rb
  test/rubygems/test_gem_commands_yank_command.rb
  test/rubygems/test_gem_gemcutter_utilities.rb
  test/rubygems/utilities.rb
Labels: rubygems: enhancement

#5958 Prevent a "warning: assigned but unused variable - data"
  test/rubygems/utilities.rb
Labels: rubygems: backport

#5957 Fix generic arm platform matching against runtime arm platforms with eabi modifiers
  bundler/lib/bundler/rubygems_ext.rb
  lib/rubygems/platform.rb
  test/rubygems/test_gem_platform.rb
Labels: rubygems: bug fix
