Repository rubygems/rubygems, pull requests merged in 2022-12, with the labels that each got.

#4475 Make cloning git repos faster
  bundler/lib/bundler/env.rb
  bundler/lib/bundler/source/git.rb
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/bundler/env_spec.rb
  bundler/spec/bundler/source/git/git_proxy_spec.rb
  bundler/spec/cache/git_spec.rb
  bundler/spec/install/allow_offline_install_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/lock/git_spec.rb
  bundler/spec/support/filters.rb
  bundler/spec/support/path.rb
  bundler/spec/update/git_spec.rb
Labels: Bundler, bundler: performance

#6110 Fix display of previous gem version when previously downloaded already
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/install/bundler_spec.rb
Labels: bundler: bug fix

#6111 Bump vendored deps
  Rakefile
  lib/rubygems/optparse/lib/optparse.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/dependency_graph.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/errors.rb
  lib/rubygems/resolver/molinillo/lib/molinillo/gem_metadata.rb
  lib/rubygems/tsort/lib/tsort.rb
Labels: rubygems: enhancement

#6115 Remove special handling of some `LoadError` and `NoMethodError`
  bundler/lib/bundler/fetcher/downloader.rb
  bundler/lib/bundler/friendly_errors.rb
  bundler/spec/bundler/fetcher/downloader_spec.rb
  bundler/spec/bundler/friendly_errors_spec.rb
  bundler/spec/support/artifice/fail.rb
Labels: bundler: enhancement

#6130 Improve error message when changing Gemfile to a mistyped git ref
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/lock/git_spec.rb
Labels: bundler: enhancement

#6131 Fix unintentional downgrades when gemspec DSL is used
  bundler/lib/bundler/source_list.rb
  bundler/spec/commands/update_spec.rb
Labels: bundler: bug fix

#6132 Auto-heal lockfile when it's missing specs
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/installer/parallel_installer.rb
  bundler/spec/bundler/installer/parallel_installer_spec.rb
  bundler/spec/lock/lockfile_spec.rb
Labels: bundler: bug fix

#6133 Clean built artifacts after building extensions
  lib/rubygems/ext/builder.rb
  lib/rubygems/ext/ext_conf_builder.rb
  test/rubygems/test_gem_installer.rb
  test/rubygems/test_require.rb
Labels: rubygems: enhancement

#5258 Support for pre flag in `bundle update`/`bundle lock`
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/common.rb
  bundler/lib/bundler/gem_version_promoter.rb
  bundler/spec/bundler/gem_version_promoter_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/commands/update_spec.rb
Labels: bundler: enhancement

#6141 Use safe Marshal deserialization for dependency API response.
  bundler/lib/bundler.rb
  bundler/lib/bundler/fetcher/dependency.rb
  bundler/spec/bundler/bundler_spec.rb
  bundler/spec/bundler/fetcher/dependency_spec.rb
Labels: bundler: enhancement

#6134 Add `bundle lock --update --bundler`
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/lock.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: enhancement

#6148 Fix `bundle outdated` with both `--groups` and `--parseable` flags
  bundler/lib/bundler/cli/outdated.rb
  bundler/spec/bundler/cli_spec.rb
Labels: bundler: bug fix

#6154 Improve Bundler setup docs for development
  bundler/doc/development/SETUP.md
Labels: bundler: documentation

#6151 Validate Cargo.lock is present for Rust based extensions.
  lib/rubygems/specification_policy.rb
  test/rubygems/test_gem_specification.rb
Labels: rubygems: enhancement

#6152 Fix crash due to `BundlerVersionFinder` not defined
  lib/rubygems.rb
  lib/rubygems/dependency.rb
  test/rubygems/test_gem_bundler_version_finder.rb
  test/rubygems/test_gem_dependency.rb
  test/rubygems/test_kernel.rb
  test/rubygems/test_require.rb
Labels: rubygems: bug fix

#6169 Fix Bundler not choosing the platform specific version for libv8-node and other allowlisted gems
  Manifest.txt
  bundler/lib/bundler.rb
  bundler/lib/bundler/dependency.rb
  bundler/lib/bundler/force_platform.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/support/hax.rb
  bundler/spec/support/matchers.rb
Labels: bundler: bug fix

#6184 Don't unlock dependencies of a gemspec when its version changes
  bundler/lib/bundler/definition.rb
  bundler/spec/install/gemfile/path_spec.rb
Labels: bundler: bug fix

#6093 In README generated by `bundle gem`, do not fill rubygems.org install commands with the gem name automatically
  bundler/lib/bundler/templates/newgem/README.md.tt
Labels: bundler: security

#6186 Restore annotated git tag support
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/lock/git_spec.rb
Labels: bundler: bug fix

#6187 Allow Bundler to run on old RubyGems + Ruby 2.7 without warnings
  bundler/exe/bundle
Labels: bundler: enhancement

#6189 Fix dependencies scoped to other platforms making resolver fail
  bundler/lib/bundler/resolver.rb
  bundler/spec/install/gemfile/platform_spec.rb
Labels: bundler: bug fix

#6180 Add global flag (`-C`) to change execution directory
  lib/rubygems/command.rb
  lib/rubygems/command_manager.rb
  lib/rubygems/commands/build_command.rb
  test/rubygems/test_gem_command_manager.rb
  test/rubygems/test_gem_commands_build_command.rb
Labels: rubygems: enhancement

#6208 Remove unused VCR cassettes
  .github/workflows/bundler.yml
  .github/workflows/daily-bundler.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/realworld-bundler.yml
  .github/workflows/truffleruby-bundler.yml
  .github/workflows/windows-bundler.yml
  bundler/.gitignore
  bundler/Rakefile
  bundler/spec/support/artifice/vcr.rb
  bundler/spec/support/artifice/vcr_cassettes/realworld/rubygems.org/gems/redis-4.4.0.gem/GET/request
  bundler/spec/support/artifice/vcr_cassettes/realworld/rubygems.org/gems/redis-4.4.0.gem/GET/response
Labels: bundler: backport

#6216 Fix a typo in test_gem_installer.rb
  test/rubygems/test_gem_installer.rb
Labels: rubygems: backport

#6215 Speed up resolution by properly merging incompatibility ranges
  bundler/lib/bundler/vendor/pub_grub/lib/pub_grub/version_constraint.rb
  bundler/spec/realworld/edgecases_spec.rb
Labels: bundler: performance
