Repository rubygems/rubygems, pull requests merged in 2022-01, with the labels that each got.

#5250 Fix `rake build:checksum` writing checksum of package path, not package contents
  bundler/lib/bundler/gem_helper.rb
  bundler/spec/bundler/gem_helper_spec.rb
Labels: bundler: bug fix

#5228 Fix longstanding `gem install` failure on JRuby
  lib/rubygems/stub_specification.rb
  test/rubygems/test_gem_stub_specification.rb
Labels: rubygems: bug fix

#5259 Exclude bin directory for newgem template
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
Labels: bundler: enhancement

#5260 Use thor-1.2.1
  bundler/Rakefile
  bundler/lib/bundler/vendor/thor/lib/thor/actions/inject_into_file.rb
  bundler/lib/bundler/vendor/thor/lib/thor/version.rb
Labels: bundler: enhancement

#5262 Fix `gem install <non-existent-gem> --force` crash
  lib/rubygems/resolver/installer_set.rb
  test/rubygems/test_gem_commands_install_command.rb
Labels: rubygems: bug fix

#5242 Let `gem fetch` understand `<gem>:<version>` syntax and `--[no-]suggestions` flag
  lib/rubygems/commands/fetch_command.rb
  test/rubygems/test_gem_commands_fetch_command.rb
Labels: rubygems: enhancement

#5268 Markup `Gem::Specification` documentation with RDoc notations
  lib/rubygems/specification.rb
Labels: rubygems: documentation

#5182 Make `bundle update --bundler` actually lock to the latest bundler version (even if not yet installed)
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/update.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/lockfile_generator.rb
  bundler/lib/bundler/self_manager.rb
  bundler/spec/bundler/cli_spec.rb
  bundler/spec/commands/binstubs_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/support/artifice/vcr_cassettes/realworld/index.rubygems.org/info/bundler/GET/request
  bundler/spec/support/artifice/vcr_cassettes/realworld/index.rubygems.org/info/bundler/GET/response
  bundler/spec/support/artifice/vcr_cassettes/realworld/rubygems.org/gems/bundler-2.3.4.gem/GET/request
  bundler/spec/support/artifice/vcr_cassettes/realworld/rubygems.org/gems/bundler-2.3.4.gem/GET/response
  release_gems.rb.lock
Labels: Bundler, bundler: enhancement

#5266 Don't activate `yaml` gem from RubyGems
  lib/rubygems.rb
  lib/rubygems/package.rb
  lib/rubygems/package/old.rb
  lib/rubygems/psych_additions.rb
  lib/rubygems/safe_yaml.rb
  lib/rubygems/security.rb
  lib/rubygems/specification.rb
  test/rubygems/helper.rb
  test/rubygems/test_gem_package.rb
  util/changelog.rb
Labels: rubygems: enhancement

#5275 Let `Version#<=>` accept a String
  lib/rubygems/version.rb
  test/rubygems/test_gem_version.rb
Labels: rubygems: enhancement

#5173 Use `Fiddle` in `bundle doctor` to check for dynamic library presence
  bundler/lib/bundler/cli/doctor.rb
  bundler/spec/commands/doctor_spec.rb
Labels: Bundler, bundler: enhancement

#5284 Lock standard.yml to the required ruby version
  bundler/lib/bundler/templates/newgem/standard.yml.tt
Labels: bundler: enhancement

#2929 Support `--enable-load-relative` inside binstubs
  lib/rubygems/installer.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_installer.rb
Labels: rubygems: enhancement

#5285 Fix `gem update --system` for already installed version of `rubygems-update`
  lib/rubygems/commands/update_command.rb
  test/rubygems/test_gem_commands_update_command.rb
Labels: rubygems: bug fix

#5291 Fix regression with old marshaled specs having null `required_rubygems_version`
  bundler/lib/bundler/remote_specification.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
Labels: bundler: bug fix

#5294 Normalize end alignment style with Bundler
  .rubocop.yml
  lib/rubygems/basic_specification.rb
  lib/rubygems/bundler_version_finder.rb
  lib/rubygems/command.rb
  lib/rubygems/commands/cleanup_command.rb
  lib/rubygems/commands/pristine_command.rb
  lib/rubygems/commands/push_command.rb
  lib/rubygems/commands/rdoc_command.rb
  lib/rubygems/commands/setup_command.rb
  lib/rubygems/commands/specification_command.rb
  lib/rubygems/commands/update_command.rb
  lib/rubygems/config_file.rb
  lib/rubygems/doctor.rb
  lib/rubygems/gem_runner.rb
  lib/rubygems/install_update_options.rb
  lib/rubygems/package.rb
  lib/rubygems/platform.rb
  lib/rubygems/query_utils.rb
  lib/rubygems/remote_fetcher.rb
  lib/rubygems/request_set/lockfile.rb
  lib/rubygems/source.rb
  lib/rubygems/source_list.rb
  lib/rubygems/spec_fetcher.rb
  lib/rubygems/specification.rb
  lib/rubygems/specification_policy.rb
  lib/rubygems/stub_specification.rb
  lib/rubygems/uninstaller.rb
  lib/rubygems/user_interaction.rb
  lib/rubygems/version.rb
  test/rubygems/helper.rb
  test/rubygems/utilities.rb
Labels: rubygems: backport

#5293 Don't use deprecated `Gem::Dependency.new` with a Regexp
  lib/rubygems/commands/dependency_command.rb
  lib/rubygems/commands/list_command.rb
  lib/rubygems/commands/query_command.rb
  lib/rubygems/commands/search_command.rb
  lib/rubygems/query_utils.rb
  test/rubygems/test_gem_command_manager.rb
Labels: rubygems: backport

#5273 Create minitest file to underscored path in "bundle gem" command with dashed gem name
  bundler/lib/bundler/cli/gem.rb
  bundler/lib/bundler/templates/newgem/test/minitest/test_newgem.rb.tt
  bundler/spec/commands/newgem_spec.rb
Labels: bundler: bug fix

#5301 Forbid downgrading past the originally shipped version on Ruby 3.1
  lib/rubygems/commands/update_command.rb
Labels: rubygems: enhancement

#5309 Fix CI
  bundler/spec/commands/remove_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
Labels: bundler: backport

#5306 Use `Gem::Platform.local` instead of `RUBY_PLATFORM` when displaying local platform
  bundler/lib/bundler/cli/platform.rb
  bundler/lib/bundler/env.rb
  bundler/spec/other/platform_spec.rb
Labels: bundler: enhancement

#5304 Fix `force_ruby_platform` ignored when lockfile includes current specific platform
  bundler/lib/bundler/definition.rb
  bundler/spec/runtime/platform_spec.rb
Labels: bundler: bug fix

#5302 Fix edge case where gems were incorrectly removed from the lockfile
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/resolver.rb
  bundler/spec/commands/binstubs_spec.rb
  bundler/spec/commands/cache_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/runtime/inline_spec.rb
  bundler/spec/support/hax.rb
Labels: bundler: bug fix

#5283 Test against Ruby 3.1
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/macos-rubygems.yml
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
  .github/workflows/windows-rubygems.yml
  bundler/spec/commands/clean_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/install/gems/standalone_spec.rb
Labels: bundler: backport, rubygems: backport

#5315 Update contribution labels
  CONTRIBUTING.md
Labels: rubygems: backport

#5324 Fix ruby-core CI
  .github/workflows/bundler.yml
  .github/workflows/daily-bundler.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/ruby-core.yml
  .github/workflows/truffleruby-bundler.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/windows-bundler.yml
  CONTRIBUTING.md
  Rakefile
  bundler/doc/development/SETUP.md
  bundler/spec/support/path.rb
  bundler/tool/bundler/dev_gems.rb
  bundler/tool/bundler/dev_gems.rb.lock
  bundler/tool/bundler/release_gems.rb
  bundler/tool/bundler/release_gems.rb.lock
  util/release.rb
  util/rubocop
Labels: bundler: backport, rubygems: backport

#5321 Remove encoding pragma from specification.rb
  lib/rubygems/specification.rb
Labels: rubygems: backport
