Repository rubygems/rubygems, pull requests merged in 2022-11, with the labels that each got.

#5922 Add 'call for update' to RubyGems install command.
  Manifest.txt
  lib/rubygems/commands/install_command.rb
  lib/rubygems/config_file.rb
  lib/rubygems/defaults.rb
  lib/rubygems/update_suggestion.rb
  test/rubygems/helper.rb
  test/rubygems/test_gem_commands_install_command.rb
  test/rubygems/test_gem_update_suggestion.rb
Labels: rubygems: feature

#6041 Remove support for deprecated OS
  bundler/lib/bundler/vendor/thor/lib/thor/shell/basic.rb
  lib/rubygems/platform.rb
  test/rubygems/test_gem_platform.rb
Labels: rubygems: breaking change

#6049 Speed up JRuby Rails test
  .github/workflows/install-rubygems.yml
Labels: rubygems: backport

#5978 Map 'universal' to the real arch in Bundler for prebuilt gem selection
  bundler/lib/bundler/rubygems_ext.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/support/hax.rb
  bundler/spec/support/helpers.rb
Labels: bundler: enhancement

#6050 Fix '--force' option documentation of 'bundle clean'
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-clean.1.ronn
Labels: bundler: documentation

#6071 Fx link in bundle-platform man page
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-platform.1.ronn
Labels: bundler: documentation
