Repository rubygems/rubygems, pull requests merged in 2022-05, with the labels that each got.

#5503 Speed up `bundler/setup` time
  bundler/lib/bundler/definition.rb
  bundler/spec/install/gemfile/platform_spec.rb
Labels: bundler: performance

#5513 Update man page for `require` option in `bundle add` command
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-add.1.ronn
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
Labels: bundler: documentation

#5514 Fix typo in documentation
  bundler/lib/bundler.rb
Labels: bundler: documentation

#5527 Make Windows RubyGems workflow a little bit less flaky
  .github/workflows/windows-rubygems.yml
Labels: rubygems: backport

#5525 Fix error message when locked version of a gem does not support running Ruby
  bundler/lib/bundler/lazy_specification.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
  bundler/spec/install/yanked_spec.rb
  bundler/spec/support/helpers.rb
Labels: bundler: bug fix

#5521 Fully lock rake version in CI
  .github/workflows/bundler.yml
  .github/workflows/daily-bundler.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/truffleruby-bundler.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/windows-bundler.yml
  bundler/bin/rake
  bundler/spec/support/rubygems_ext.rb
Labels: bundler: backport

#5531 Use fixed Java on Windows in another place where it causes issues
  .github/workflows/install-rubygems.yml
Labels: rubygems: backport

#5530 Fix confusing inline mode install output
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/installer/gem_installer.rb
  bundler/lib/bundler/plugin/installer/git.rb
  bundler/lib/bundler/plugin/installer/rubygems.rb
  bundler/lib/bundler/source.rb
  bundler/lib/bundler/source/git.rb
  bundler/lib/bundler/source/path.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/bundler/installer/gem_installer_spec.rb
  bundler/spec/bundler/source_spec.rb
  bundler/spec/runtime/inline_spec.rb
Labels: bundler: bug fix

#5533 Improve `bundler/setup` performance again
  bundler/lib/bundler/spec_set.rb
Labels: bundler: performance

#5539 Enable `Style/SpaceBeforeBlockBraces` cop
  .rubocop.yml
  .rubocop_bundler.yml
  bundler/lib/bundler/cli/common.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/gem_helpers.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/shared_helpers.rb
  bundler/lib/bundler/source/git.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/runtime/inline_spec.rb
  bundler/spec/support/rubygems_ext.rb
  lib/rubygems.rb
  lib/rubygems/commands/pristine_command.rb
  lib/rubygems/commands/setup_command.rb
  lib/rubygems/commands/specification_command.rb
  lib/rubygems/installer.rb
  lib/rubygems/local_remote_options.rb
  lib/rubygems/query_utils.rb
  lib/rubygems/spec_fetcher.rb
  lib/rubygems/specification.rb
  test/rubygems/helper.rb
  test/rubygems/package/tar_test_case.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_commands_contents_command.rb
  test/rubygems/test_gem_commands_install_command.rb
  test/rubygems/test_gem_request_set_lockfile_parser.rb
  test/rubygems/test_gem_resolver_installer_set.rb
  test/rubygems/test_gem_specification.rb
  test/rubygems/test_require.rb
  test/rubygems/test_rubygems.rb
Labels: bundler: backport, rubygems: backport

#5554 Fix CI
  bundler/Rakefile
  bundler/spec/spec_helper.rb
  bundler/spec/support/path.rb
  bundler/spec/support/sudo.rb
Labels: bundler: backport

#5551 Fix locale dependent spec failure
  bundler/spec/runtime/setup_spec.rb
Labels: bundler: backport

#5563 Show exception cause in bug report template
  bundler/lib/bundler/friendly_errors.rb
Labels: bundler: enhancement

#5564 Show better error when previous installation fails to be removed
  bundler/lib/bundler/errors.rb
  bundler/lib/bundler/rubygems_gem_installer.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: enhancement

#5566 Fix rubygems update when non default `--install-dir` is configured
  lib/rubygems/commands/update_command.rb
  test/rubygems/test_gem_commands_update_command.rb
Labels: rubygems: bug fix

#5580 Ignore `Errno::EROFS` errors when creating `bundler.lock`
  bundler/lib/bundler/process_lock.rb
  bundler/spec/install/process_lock_spec.rb
Labels: bundler: bug fix

#5581 Give better conflict resolution advice
  bundler/lib/bundler/resolver.rb
  bundler/spec/install/gems/flex_spec.rb
Labels: bundler: bug fix
