Repository rubygems/rubygems, pull requests merged in 2022-02, with the labels that each got.

#5328 Point to ruby-core repo in CI again
  .github/workflows/ruby-core.yml
Labels: bundler: backport, rubygems: backport

#3966 Add Reverse Dependencies section to info command
  bundler/lib/bundler/cli/info.rb
  bundler/spec/commands/info_spec.rb
Labels: Bundler, bundler: enhancement

#5329 Port ruby-core patch
  test/rubygems/test_rubygems.rb
Labels: rubygems: backport

#5277 Don't activate `yaml` gem from Bundler
  Manifest.txt
  bundler/lib/bundler.rb
  bundler/lib/bundler/fetcher.rb
  bundler/lib/bundler/psyched_yaml.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/spec/bundler/fetcher_spec.rb
  bundler/spec/bundler/rubygems_integration_spec.rb
  bundler/spec/commands/inject_spec.rb
  bundler/spec/install/gems/standalone_spec.rb
  bundler/spec/spec_helper.rb
  bundler/spec/support/helpers.rb
Labels: bundler: enhancement

#5322 Expect to receive a non-keywords hash
  bundler/spec/bundler/rubygems_integration_spec.rb
  bundler/tool/bundler/dev_gems.rb.lock
Labels: bundler: backport

#4152 Fix `bundle config` inside an application saving configuration globally
  bundler/lib/bundler/cli/config.rb
  bundler/spec/commands/config_spec.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/install/gemfile/groups_spec.rb
  bundler/spec/realworld/parallel_spec.rb
  bundler/spec/support/helpers.rb
Labels: Bundler, bundler: bug fix

#5303 Document 128 magic number
  bundler/spec/commands/exec_spec.rb
  bundler/spec/support/helpers.rb
Labels: bundler: backport

#5335 Don't silently persist `BUNDLE_WITH` and `BUNDLE_WITHOUT` envs locally
  bundler/lib/bundler/cli/install.rb
  bundler/lib/bundler/settings.rb
  bundler/spec/install/gemfile/groups_spec.rb
Labels: bundler: bug fix

#5342 Fix typo in multiple gemfiles warning
  bundler/lib/bundler/shared_helpers.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: bundler: bug fix

#5344 Fix corrupted lockfile when running `bundle check` and having to re-resolve locally
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/source_map.rb
  bundler/spec/commands/check_spec.rb
Labels: bundler: bug fix

#5346 Add clarification for bundle-config "with" option
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
Labels: bundler: documentation

#5372 Resolve cleaned-up error with temporary gemhome
  test/rubygems/test_gem_commands_setup_command.rb
Labels: rubygems: enhancement
