Repository rubygems/rubygems, pull requests merged in 2022-08, with the labels that each got.

#5796 Fix `bundle outdated` crash in debug mode
  bundler/lib/bundler/cli/outdated.rb
  bundler/spec/commands/outdated_spec.rb
Labels: bundler: bug fix

#5784 Don't discard candidates matching Ruby metadata
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/gem_helpers.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
Labels: bundler: bug fix

#5804 Fix arguments for bundle-config(1) docs
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
Labels: bundler: documentation

#5805 Don't deduplicate materialization unnecessarily
  bundler/lib/bundler/spec_set.rb
Labels: bundler: backport

#5793 Consistently ignore patchlevel when reporting `bundle platform --ruby`
  bundler/lib/bundler/cli/platform.rb
  bundler/spec/commands/platform_spec.rb
Labels: bundler: enhancement

#5794 Warn (rather than crash) when setting `nil` specification versions
  lib/rubygems/specification.rb
  lib/rubygems/version.rb
  test/rubygems/test_gem_requirement.rb
  test/rubygems/test_gem_specification.rb
  test/rubygems/test_gem_version.rb
Labels: rubygems: enhancement

#5795 Fix platform matching for index specs
  lib/rubygems/resolver/index_specification.rb
  test/rubygems/test_gem_resolver_index_specification.rb
  test/rubygems/test_gem_resolver_installer_set.rb
Labels: rubygems: bug fix

#5798 Fix `bundle outdated --strict` showing too many outdated gems
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/outdated.rb
  bundler/spec/commands/outdated_spec.rb
Labels: bundler: bug fix

#5801 Don't create broken symlinks when a gem includes them, but print a warning instead
  lib/rubygems/installer.rb
  lib/rubygems/package.rb
  test/rubygems/test_gem_installer.rb
  test/rubygems/test_gem_package.rb
Labels: rubygems: enhancement

#5813 Update Bundler support policies to match what we do these days
  bundler/doc/POLICIES.md
Labels: bundler: documentation

#5814 Fix unused variable warning in RubyGems tests
  test/rubygems/test_gem_resolver_installer_set.rb
Labels: rubygems: backport

#5807 Automatically remove "ruby" from lockfile if incomplete
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: bug fix

#5811 Include backtrace with crashes by default
  lib/rubygems/config_file.rb
  test/rubygems/test_gem_config_file.rb
Labels: rubygems: enhancement

#5812 Fix regression where yanked gems are now unintentionally updated when other gems are unlocked
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/source_list.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/install/yanked_spec.rb
  bundler/spec/resolver/basic_spec.rb
Labels: bundler: bug fix

#5820 Fix `gem install` with `--platform` flag not matching simulated platform correctly
  lib/rubygems/resolver/installer_set.rb
  test/rubygems/test_gem_resolver_installer_set.rb
Labels: rubygems: bug fix

#5821 Always consider installed specs for resolution, even if prereleases
  lib/rubygems/request_set.rb
  lib/rubygems/resolver/installer_set.rb
  test/rubygems/test_gem_resolver_installer_set.rb
Labels: rubygems: bug fix

#5819 Enable `Layout/MultilineOperationIndentation` with default style
  .rubocop.yml
  .rubocop_bundler.yml
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/fetcher.rb
  bundler/lib/bundler/ruby_dsl.rb
  lib/rubygems.rb
  lib/rubygems/basic_specification.rb
  lib/rubygems/commands/cert_command.rb
  lib/rubygems/commands/fetch_command.rb
  lib/rubygems/commands/install_command.rb
  lib/rubygems/commands/pristine_command.rb
  lib/rubygems/commands/uninstall_command.rb
  lib/rubygems/commands/update_command.rb
  lib/rubygems/doctor.rb
  lib/rubygems/package.rb
  lib/rubygems/package/tar_header.rb
  lib/rubygems/platform.rb
  lib/rubygems/resolver/installer_set.rb
  lib/rubygems/specification.rb
  test/rubygems/test_gem_package_tar_reader.rb
  test/rubygems/test_require.rb
Labels: bundler: backport, rubygems: backport

#5832 Fix Ruby platform incorrectly removed on `bundle update`
  bundler/lib/bundler/definition.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: bug fix

#5840 Fix crash when incomplete locked specifications are found in transitive dependencies
  Manifest.txt
  bundler/lib/bundler.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/gem_version_promoter.rb
  bundler/lib/bundler/incomplete_specification.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/install/gems/resolving_spec.rb
Labels: bundler: bug fix

#5826 Restore previous performance of private RubyGems servers
  Manifest.txt
  bundler/lib/bundler.rb
  bundler/lib/bundler/endpoint_specification.rb
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/match_metadata.rb
  bundler/lib/bundler/match_remote_metadata.rb
  bundler/lib/bundler/remote_specification.rb
  bundler/lib/bundler/resolver/spec_group.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/support/artifice/compact_index_api_missing.rb
Labels: bundler: enhancement

#5850 Fix `bundle platform` crash when there's a lockfile with no Ruby locked
  bundler/lib/bundler/cli/platform.rb
  bundler/spec/commands/platform_spec.rb
Labels: bundler: bug fix

#5848 Fix edge case where `bundler/inline` unintentionally skips install
  bundler/lib/bundler/inline.rb
  bundler/spec/runtime/inline_spec.rb
Labels: bundler: bug fix

#5847 Fix conservative update downgrading top level gems
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/update_spec.rb
Labels: bundler: bug fix

#5853 Introduce bundle-plugin(1) man
  Manifest.txt
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-plugin.1.ronn
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/bundle.1.ronn
  bundler/lib/bundler/man/index.txt
  bundler/spec/plugins/install_spec.rb
Labels: bundler: documentation

#5854 Improve `bundle config` command synopsis
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
Labels: bundler: documentation

#5856 Bundler: re-format bundle-config.1 synposis
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
Labels: bundler: backport

#5852 Make `gem install` support non gnu libc linux
  lib/rubygems/platform.rb
  test/rubygems/test_gem_platform.rb
  test/rubygems/test_gem_resolver.rb
Labels: rubygems: enhancement

#5855 Disallow both `--branch` and `--ref` at the same time in bundle-plugin
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-plugin.1.ronn
  bundler/lib/bundler/plugin.rb
  bundler/spec/plugins/install_spec.rb
Labels: bundler: enhancement

#5861 Improve `Bundler.rm_rf` error message
  bundler/lib/bundler.rb
  bundler/spec/bundler/bundler_spec.rb
Labels: bundler: enhancement

#5862 Bundler: avoid use of "can not" in spec literals
  bundler/spec/commands/init_spec.rb
  bundler/spec/commands/remove_spec.rb
Labels: bundler: backport

#5864 Explain cancelled CLI deprecations clearly
  bundler/UPGRADING.md
Labels: bundler: documentation

#5866 Bundler: fix HTML layout in bundle-config and bundle-plugin
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-plugin.1.ronn
Labels: bundler: backport

#4488 Backport non gnu libc linux support from RubyGems
  bundler/lib/bundler/rubygems_ext.rb
  bundler/spec/resolver/platform_spec.rb
  bundler/spec/support/indexes.rb
Labels: Bundler, bundler: enhancement

#5874 Fix another regression affecting the sorbet family of gems
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/resolver.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: bug fix

#5824 Properly Handle Optional gemspec fields
  bundler/lib/bundler/match_remote_metadata.rb
  bundler/spec/bundler/endpoint_specification_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/tool/bundler/release_gems.rb.lock
  bundler/tool/bundler/rubocop23_gems.rb.lock
  bundler/tool/bundler/rubocop24_gems.rb.lock
  bundler/tool/bundler/rubocop_gems.rb.lock
  bundler/tool/bundler/standard23_gems.rb.lock
  bundler/tool/bundler/standard24_gems.rb.lock
  bundler/tool/bundler/standard_gems.rb.lock
Labels: bundler: enhancement

#5872 Make `#to_lock` consistent between `Gem::Dependency` and `Bundler::Dependency`
  bundler/lib/bundler/dependency.rb
  bundler/lib/bundler/lockfile_generator.rb
  bundler/spec/bundler/dependency_spec.rb
Labels: bundler: enhancement

#5650 Add platform alias `:windows` to Gemfile DSL
  bundler/lib/bundler/current_ruby.rb
  bundler/lib/bundler/dependency.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
  bundler/spec/runtime/platform_spec.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/platforms.rb
Labels: bundler: enhancement

#5881 Improve lockfile dependency unlocking
  Manifest.txt
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/gem_version_promoter.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/resolver/base.rb
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/bundler/gem_version_promoter_spec.rb
  bundler/spec/install/gems/flex_spec.rb
  bundler/spec/quality_spec.rb
Labels: bundler: enhancement

#5885 Let `Dir.tmpdir` use the standard path for tests
  test/rubygems/helper.rb
Labels: rubygems: backport
