Repository rubygems/rubygems, pull requests merged in 2022-10, with the labels that each got.

#5961 Revert "Cleaup unnecessary code"
  test/rubygems/rubygems_plugin.rb
  test/rubygems/test_gem.rb
Labels: rubygems: backport

#5947 Fix `bundle init` not respecting umask in generated gem's Gemfile
  bundler/lib/bundler/cli/init.rb
  bundler/spec/commands/init_spec.rb
  bundler/spec/support/path.rb
Labels: bundler: bug fix

#5964 Make sure RSpec diffs don't omit the different part
  bundler/spec/spec_helper.rb
Labels: bundler: backport

#5965 Fix little UI issue when bundler shows duplicated gems in a list
  bundler/lib/bundler/definition.rb
  bundler/spec/bundler/definition_spec.rb
Labels: bundler: enhancement

#5979 Make rubocop script use in-tree Bundler
  util/rubocop
Labels: bundler: backport, rubygems: backport

#5975 Fix incorrect materialization on Windows
  .github/workflows/install-rubygems.yml
  bundler/lib/bundler/gem_helpers.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/remote_specification.rb
  bundler/spec/bundler/remote_specification_spec.rb
Labels: bundler: bug fix

#5982 Use SHA256 in test certificates
  test/rubygems/alternate_cert.pem
  test/rubygems/alternate_cert_32.pem
  test/rubygems/alternate_key.pem
  test/rubygems/child_cert.pem
  test/rubygems/child_cert_32.pem
  test/rubygems/child_key.pem
  test/rubygems/encrypted_private_key.pem
  test/rubygems/expired_cert.pem
  test/rubygems/future_cert.pem
  test/rubygems/future_cert_32.pem
  test/rubygems/grandchild_cert.pem
  test/rubygems/grandchild_cert_32.pem
  test/rubygems/grandchild_key.pem
  test/rubygems/invalid_issuer_cert.pem
  test/rubygems/invalid_issuer_cert_32.pem
  test/rubygems/invalid_key.pem
  test/rubygems/invalid_signer_cert.pem
  test/rubygems/invalid_signer_cert_32.pem
  test/rubygems/invalidchild_cert.pem
  test/rubygems/invalidchild_cert_32.pem
  test/rubygems/invalidchild_key.pem
  test/rubygems/private_key.pem
  test/rubygems/public_cert.pem
  test/rubygems/public_cert_32.pem
  test/rubygems/public_key.pem
  test/rubygems/test_gem_security.rb
  test/rubygems/test_gem_security_signer.rb
  test/rubygems/wrong_key_cert.pem
  test/rubygems/wrong_key_cert_32.pem
  util/create_certs.rb
Labels: rubygems: backport

#5993 Fix `github` DSL docs to mention they use https protocol over git under the hood
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-console.1
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-help.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-version.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
  bundler/lib/bundler/man/gemfile.5.ronn
Labels: bundler: documentation

#6001 Followed up CVE-2022-39253 for bundler examples
  bundler/spec/cache/git_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/update/git_spec.rb
Labels: bundler: backport

#6002 Allow upcoming JRuby to pass keywords to Kernel#warn
  lib/rubygems/core_ext/kernel_warn.rb
Labels: rubygems: enhancement

#6013 Fix bad unfreeze recommendation
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/update_spec.rb
Labels: bundler: bug fix

#6007 Bring docs for gemfile(5) manpage up to date
  bundler/lib/bundler/man/gemfile.5
  bundler/lib/bundler/man/gemfile.5.ronn
Labels: bundler: documentation

#6015 Properly sort specs when materializing
  bundler/lib/bundler/lazy_specification.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/support/artifice/compact_index_precompiled_before.rb
Labels: bundler: bug fix

#6024 Run specs with JRuby 9.3.9.0
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
Labels: bundler: backport, rubygems: backport
