Repository rubygems/rubygems, pull requests merged in 2022-03, with the labels that each got.

#5337 Suggest quicker `bundle add` for installation in `README.md` generated by `bundle gem`
  bundler/lib/bundler/templates/newgem/README.md.tt
Labels: bundler: enhancement

#5353 Add newline to validate_platforms! message when platform is missing
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: enhancement

#5386 Fix regression when activating gem executables caused by Bundler monkey patches to RubyGems
  .github/workflows/ubuntu-lint.yml
  bundler/Rakefile
  bundler/lib/bundler/plugin/api/source.rb
  bundler/lib/bundler/rubygems_ext.rb
Labels: bundler: bug fix

#5397 Remove extra closing bracket in version warning
  bundler/exe/bundle
Labels: bundler: enhancement

#5396 Unhide RDoc documentation from top level `Gem` module
  lib/rubygems/compatibility.rb
Labels: rubygems: documentation

#5400 Report Github Actions CI provider within user agent string
  bundler/lib/bundler/fetcher.rb
Labels: bundler: enhancement

#5399 [DOC] Enable Gem::Package example
  lib/rubygems/package.rb
Labels: rubygems: documentation

#5175 Add cargo builder for rust extensions
  .github/workflows/daily-rubygems.yml
  .github/workflows/macos-rubygems.yml
  .github/workflows/ruby-core.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-rubygems.yml
  Manifest.txt
  lib/rubygems/ext.rb
  lib/rubygems/ext/builder.rb
  lib/rubygems/ext/cargo_builder.rb
  test/rubygems/test_gem_ext_cargo_builder.rb
  test/rubygems/test_gem_ext_cargo_builder/custom_name/.gitignore
  test/rubygems/test_gem_ext_cargo_builder/custom_name/Cargo.lock
  test/rubygems/test_gem_ext_cargo_builder/custom_name/Cargo.toml
  test/rubygems/test_gem_ext_cargo_builder/custom_name/build.rb
  test/rubygems/test_gem_ext_cargo_builder/custom_name/custom_name.gemspec
  test/rubygems/test_gem_ext_cargo_builder/custom_name/src/lib.rs
  test/rubygems/test_gem_ext_cargo_builder/rust_ruby_example/.gitignore
  test/rubygems/test_gem_ext_cargo_builder/rust_ruby_example/Cargo.lock
  test/rubygems/test_gem_ext_cargo_builder/rust_ruby_example/Cargo.toml
  test/rubygems/test_gem_ext_cargo_builder/rust_ruby_example/build.rb
  test/rubygems/test_gem_ext_cargo_builder/rust_ruby_example/rust_ruby_example.gemspec
  test/rubygems/test_gem_ext_cargo_builder/rust_ruby_example/src/lib.rs
Labels: RubyGems

#5398 Improve RDoc setup
  bundler/.document
Labels: rubygems: documentation

#5424 Avoid crash in test teardown
  test/rubygems/helper.rb
Labels: rubygems: backport

#5426 Unskip one spec that's actually passing
  bundler/spec/install/gems/compact_index_spec.rb
Labels: bundler: backport

#5425 Test against Ruby 3.1.1
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/macos-rubygems.yml
  .github/workflows/older-rubygems-bundler.yml
  .github/workflows/ubuntu-rubygems.yml
  .github/workflows/windows-bundler.yml
  .github/workflows/windows-rubygems.yml
  bundler/spec/commands/update_spec.rb
  bundler/spec/support/artifice/vcr_cassettes/realworld/index.rubygems.org/info/bundler/GET/request
  bundler/spec/support/artifice/vcr_cassettes/realworld/index.rubygems.org/info/bundler/GET/response
  bundler/spec/support/artifice/vcr_cassettes/realworld/rubygems.org/gems/bundler-2.3.10.gem/GET/request
  bundler/spec/support/artifice/vcr_cassettes/realworld/rubygems.org/gems/bundler-2.3.10.gem/GET/response
  bundler/spec/support/artifice/vcr_cassettes/realworld/rubygems.org/gems/bundler-2.3.4.gem/GET/response
Labels: bundler: backport, rubygems: backport

#5441 Update bundler documentation to reflect bundle config scope changes
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
Labels: bundler: documentation
