Repository rubygems/rubygems, pull requests merged in 2022-07, with the labels that each got.

#5607 Make sure RubyGems prints no warnings when loading plugins
  .github/workflows/install-rubygems.yml
  lib/rubygems/gem_runner.rb
  lib/rubygems/installer.rb
  lib/rubygems/specification.rb
  test/rubygems/test_gem_commands_pristine_command.rb
  test/rubygems/test_gem_specification.rb
Labels: rubygems: bug fix

#5679 Fix crash when updating vendor cache of default gems
  bundler/lib/bundler/runtime.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/cache/gems_spec.rb
Labels: bundler: bug fix

#5676 Add more descriptive messages when `gem update` fails to update some gems
  lib/rubygems/commands/update_command.rb
  test/rubygems/test_gem_commands_update_command.rb
Labels: rubygems: enhancement

#5655 Make platform `universal-mingw32` match "x64-mingw-ucrt"
  bundler/spec/resolver/platform_spec.rb
  lib/rubygems/platform.rb
  test/rubygems/test_gem_platform.rb
Labels: rubygems: enhancement

#5692 Test with truffleruby 22.1
  .github/workflows/install-rubygems.yml
  .github/workflows/truffleruby-bundler.yml
  .github/workflows/ubuntu-rubygems.yml
Labels: bundler: backport, rubygems: backport

#5694 Fix TruffleRuby no longer installing some lockfiles correctly
  Manifest.txt
  bundler/lib/bundler/dependency.rb
  bundler/lib/bundler/force_platform.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/spec/runtime/platform_spec.rb
Labels: bundler: bug fix

#5695 Speed up `bundler/setup` by using the raw `Gemfile.lock` information without extra processing whenever possible
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/lockfile_parser.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/runtime/setup_spec.rb
Labels: bundler: performance

#5711 Fix TruffleRuby no longer able to install lockfiles generated with other implementations
  Manifest.txt
  bundler/lib/bundler.rb
  bundler/lib/bundler/dependency.rb
  bundler/lib/bundler/force_platform.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/runtime/platform_spec.rb
Labels: bundler: bug fix

#5716 Fix `gem update --system` crash while regenerating binstubs
  lib/rubygems/commands/setup_command.rb
  lib/rubygems/specification.rb
Labels: rubygems: backport

#5709 Fix misleading error if compact index cannot be copied
  bundler/lib/bundler/compact_index_client/updater.rb
  bundler/spec/install/gems/compact_index_spec.rb
Labels: bundler: bug fix

#5722 Use https protocol for URLs for config mirror in bundler man
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
Labels: bundler: documentation

#5726 Show a proper error if extension dir is not writable
  bundler/lib/bundler/rubygems_gem_installer.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: bug fix

#5730 bundler: fix typo in inline RuboCop config
  bundler/spec/support/hax.rb
Labels: bundler: backport

#5703 Stop using `/dev/null` for silent ui for WASI platform
  lib/rubygems/user_interaction.rb
  test/rubygems/test_gem_silent_ui.rb
Labels: rubygems: enhancement

#5729 Improve error message when gems cannot be found to include the source for each gem
  bundler/lib/bundler/definition.rb
  bundler/spec/install/yanked_spec.rb
Labels: bundler: enhancement

#5728 Fix upgrading RubyGems with a customized `Gem.default_dir`
  lib/rubygems/commands/setup_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
Labels: rubygems: enhancement

#5742 Fix casing typo when resetting `RbConfig::CONFIG["ENABLE_SHARED"]` in tests
  test/rubygems/helper.rb
Labels: rubygems: backport

#5732 Improve global source(s) documentation
  bundler/lib/bundler/man/gemfile.5
  bundler/lib/bundler/man/gemfile.5.ronn
Labels: bundler: documentation

#5737 Fix `ruby setup.rb` with `--destdir` writing outside of `--destdir`
  lib/rubygems/commands/setup_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
Labels: rubygems: bug fix

#5746 Fix yet another TruffleRuby platform selection regression
  bundler/lib/bundler/lazy_specification.rb
  bundler/spec/support/builders.rb
Labels: bundler: bug fix

#5753 Remove bundle show from obsolete commands
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/bundle.1.ronn
Labels: bundler: documentation

#5590 Display mfa warnings on `gem signin`
  lib/rubygems/gemcutter_utilities.rb
  test/rubygems/test_gem_commands_signin_command.rb
Labels: rubygems: enhancement

#5760 Move mswin to daily CI
  .github/workflows/daily-rubygems.yml
  .github/workflows/windows-rubygems.yml
Labels: rubygems: backport

#5070 Don't corrupt lockfile when user moves a gem that's already in the lockfile to an incorrect source by mistake
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/remote_specification.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/yanked_spec.rb
  bundler/spec/resolver/basic_spec.rb
  bundler/spec/support/indexes.rb
Labels: Bundler, bundler: enhancement

#5765 Add deprecation notice of `bundle viz` to man pages
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle-viz.1.ronn
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/bundle.1.ronn
Labels: bundler: documentation

#5774 Use main as default branch for Bundler specs
  bundler/spec/bundler/gem_helper_spec.rb
  bundler/spec/cache/git_spec.rb
  bundler/spec/commands/info_spec.rb
  bundler/spec/commands/open_spec.rb
  bundler/spec/commands/pristine_spec.rb
  bundler/spec/commands/remove_spec.rb
  bundler/spec/commands/show_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/install/git_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/plugins/source/example_spec.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/support/builders.rb
  bundler/spec/update/git_spec.rb
Labels: bundler: backport

#5773 Completely drop base parameter from index
  bundler/lib/bundler/index.rb
  bundler/lib/bundler/resolver.rb
Labels: bundler: backport

#5769 Prevent random crash when autoloading `Pathname`
  bundler/lib/bundler/rubygems_gem_installer.rb
Labels: bundler: enhancement

#5767 Add `ignore_funding_requests` config flag
  bundler/lib/bundler/cli/common.rb
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
  bundler/spec/install/gems/fund_spec.rb
Labels: bundler: enhancement

#5776 Add deprecation notice of bundle inject
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-inject.1.ronn
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/bundle.1.ronn
Labels: bundler: documentation

#5759 Add `Bundler.settings[:only]` to install gems of the specified groups
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/settings.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: enhancement

#5766 Fix `ruby` DSL requirement matching for head and prerelease rubies
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/ruby_version.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/source/metadata.rb
  bundler/spec/bundler/ruby_version_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/gemfile/ruby_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
  bundler/spec/install/gemspecs_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/other/platform_spec.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/platforms.rb
Labels: bundler: bug fix

#5775 Add deprecation notice of bundle console
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/bundle.1.ronn
Labels: bundler: documentation

#5761 Implement `bundle install --prefer-local`
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-install.1.ronn
  bundler/spec/commands/install_spec.rb
Labels: bundler: enhancement

#5785 Add package/pack aliases to man pages for cache
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-cache.1.ronn
Labels: bundler: documentation

#5783 Remove `bundle cache` from deprecated commands list, and consistently link to `bundle cache` in man pages
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/bundle.1.ronn
Labels: bundler: documentation

#5762 Make `--standalone` play nice with `--local`
  bundler/lib/bundler/cli/install.rb
  bundler/lib/bundler/installer/standalone.rb
  bundler/spec/install/gems/standalone_spec.rb
Labels: bundler: enhancement

#5788 Improve `bundle platform` man page
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-platform.1.ronn
Labels: bundler: documentation
