Repository rubygems/rubygems, pull requests merged in 2023-12, with the labels that each got.

#7240 Stream output from ext builds when --verbose
  lib/rubygems/ext/builder.rb
Labels: rubygems: enhancement

#7244 Fix installing from source with same default bundler version already installed
  .github/workflows/install-rubygems.yml
  lib/rubygems/commands/setup_command.rb
Labels: rubygems: bug fix

#7250 Resolve `ruby file: ".ruby-version"` relative to containing Gemfile
  bundler/lib/bundler/ruby_dsl.rb
  bundler/spec/bundler/ruby_dsl_spec.rb
Labels: Bundler, bundler: bug fix

#7242 Improve default gem handling by treating default gems as any other gem
  bundler/lib/bundler/cli/common.rb
  bundler/lib/bundler/cli/info.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/cache/gems_spec.rb
  bundler/spec/commands/open_spec.rb
  bundler/spec/runtime/setup_spec.rb
Labels: bundler: breaking change

#7264 Add 3.4 as a supported ruby version in Gemfile DSL
  bundler/lib/bundler/dependency.rb
  bundler/spec/bundler/dependency_spec.rb
Labels: bundler: enhancement

#7270 Save array allocation for every dependency in Gemfile
  bundler/lib/bundler/dsl.rb
Labels: bundler: performance

#7288 Fix `ruby` Gemfile DSL with `file:` parameter no longer working
  bundler/lib/bundler/dsl.rb
  bundler/spec/install/gemfile/ruby_spec.rb
Labels: bundler: bug fix

#7289 Fix Sinatra warning during specs
  tool/bundler/release_gems.rb.lock
  tool/bundler/test_gems.rb
  tool/bundler/test_gems.rb.lock
Labels: bundler: backport

#7283 Checksum::Store mutex
  bundler/lib/bundler/checksum.rb
  bundler/spec/bundler/lockfile_parser_spec.rb
Labels: bundler: backport

#7306 Fix incorrect re-resolve messages
  bundler/lib/bundler/definition.rb
  bundler/spec/bundler/definition_spec.rb
  bundler/spec/lock/lockfile_spec.rb
Labels: bundler: bug fix

#7305 Avoid vendored thor gem polluting the global namespace
  Manifest.txt
  bundler/lib/bundler/vendor/thor/lib/thor/shell/color.rb
  bundler/lib/bundler/vendor/thor/lib/thor/shell/html.rb
  bundler/lib/bundler/vendor/thor/lib/thor/shell/lcs_diff.rb
  tool/automatiek/thor-v1.3.0.patch
  tool/automatiek/vendor.rb
Labels: bundler: enhancement

#7307 Fix incorrect lockfiles being generated in some situations
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/remote_specification.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/support/artifice/helpers/compact_index.rb
  bundler/spec/support/artifice/helpers/endpoint.rb
Labels: bundler: bug fix

#7310 Fix `bundle update --bundler` when latest version does not support current ruby
  bundler/lib/bundler/self_manager.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/support/artifice/vcr_cassettes/realworld/rubygems.org/gems/bundler-2.3.10.gem/GET/request
  bundler/spec/support/artifice/vcr_cassettes/realworld/rubygems.org/gems/bundler-2.3.10.gem/GET/response
  bundler/spec/support/builders.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/path.rb
Labels: bundler: bug fix

#7241 Support dynamic library loading with extension .so or .o
  lib/rubygems.rb
  lib/rubygems/basic_specification.rb
  test/rubygems/test_gem_specification.rb
Labels: rubygems: enhancement

#7319 Fix incorrect error when Gemfile overrides a gemspec development dependency
  bundler/lib/bundler/dependency.rb
  bundler/lib/bundler/dsl.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: bug fix

#7324 Fix resolution when different platform specific gems have different dependencies
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/support/rubygems_ext.rb
  tool/bundler/dev_gems.rb.lock
Labels: bundler: bug fix

#7335 Always avoid "Updating rubygems-update" message
  lib/rubygems/commands/update_command.rb
  test/rubygems/test_gem_commands_update_command.rb
Labels: rubygems: enhancement

#7334 Make `gem update --system` respect ruby version constraints
  lib/rubygems/commands/update_command.rb
  test/rubygems/test_gem_commands_update_command.rb
Labels: rubygems: bug fix
