Repository rubygems/rubygems, pull requests merged in 2023-07, with the labels that each got.

#6784 Fix another incorrect removal of "ruby" platform from lockfile when changing path sources
  bundler/lib/bundler/definition.rb
  bundler/spec/install/gemfile/path_spec.rb
Labels: bundler: bug fix

#6804 Avoid printing "Using ..." messages when version has not changed
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/source.rb
  bundler/spec/commands/update_spec.rb
Labels: bundler: enhancement

#6810 Avoid unnecessary work for private local gem installation
  lib/rubygems/resolver/installer_set.rb
  test/rubygems/test_gem_dependency_installer.rb
Labels: rubygems: performance

#6814 Fix `bundler/setup` unintendedly writing to the filesystem
  bundler/lib/bundler/source/git.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/install/git_spec.rb
Labels: bundler: bug fix

#6774 Add poller to fetch WebAuthn OTP
  Manifest.txt
  lib/rubygems/gemcutter_utilities.rb
  lib/rubygems/gemcutter_utilities/webauthn_listener.rb
  lib/rubygems/gemcutter_utilities/webauthn_listener/response.rb
  lib/rubygems/gemcutter_utilities/webauthn_poller.rb
  lib/rubygems/webauthn_listener.rb
  lib/rubygems/webauthn_listener/response.rb
  test/rubygems/multifactor_auth_utilities.rb
  test/rubygems/test_gem_commands_owner_command.rb
  test/rubygems/test_gem_commands_push_command.rb
  test/rubygems/test_gem_commands_yank_command.rb
  test/rubygems/test_gem_gemcutter_utilities.rb
  test/rubygems/test_webauthn_listener.rb
  test/rubygems/test_webauthn_listener_response.rb
  test/rubygems/test_webauthn_poller.rb
Labels: rubygems: enhancement

#6843 Update Magnus version in Rust extension gem template
  bundler/lib/bundler/templates/newgem/ext/newgem/Cargo.toml.tt
  bundler/lib/bundler/templates/newgem/ext/newgem/src/lib.rs.tt
Labels: bundler: enhancement
