Repository rubygems/rubygems, pull requests merged in 2023-02, with the labels that each got.

#6327 Preserve relative path sources in standalone setup
  bundler/lib/bundler/installer/standalone.rb
  bundler/spec/install/gems/standalone_spec.rb
Labels: bundler: bug fix

#6331 Introduce to specify deprecated version for rubygems_deprecate_command.
  lib/rubygems/deprecate.rb
  test/rubygems/test_gem_command_manager.rb
Labels: rubygems: backport

#6329 Fix inconsistent behavior of zero byte files in archive
  lib/rubygems/package/tar_reader/entry.rb
  test/rubygems/test_gem_package_tar_reader_entry.rb
Labels: rubygems: bug fix

#6346 Add Ruby 3.2 and 3.3 platforms to Gemfile DSL
  bundler/lib/bundler/current_ruby.rb
  bundler/lib/bundler/dependency.rb
  bundler/spec/bundler/dependency_spec.rb
  bundler/spec/bundler/dsl_spec.rb
Labels: bundler: enhancement

#6357 Improve wording of unmet dependencies warning
  bundler/lib/bundler/installer/parallel_installer.rb
  bundler/spec/bundler/installer/parallel_installer_spec.rb
Labels: bundler: enhancement

#6355 Avoid crashing when installing from a corrupted lockfile
  bundler/lib/bundler/installer/parallel_installer.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/support/helpers.rb
Labels: bundler: enhancement

#6359 Sync with pub_grub main branch
  bundler/lib/bundler/vendor/pub_grub/lib/pub_grub/static_package_source.rb
  bundler/lib/bundler/vendor/pub_grub/lib/pub_grub/version_constraint.rb
  bundler/lib/bundler/vendor/pub_grub/lib/pub_grub/version_solver.rb
  bundler/spec/install/gems/resolving_spec.rb
Labels: bundler: backport

#6356 Restore better error message when locked ref does not exist
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/lock/git_spec.rb
Labels: bundler: enhancement

#6365 Fix crash in pub grub involving empty ranges
  bundler/lib/bundler/vendor/pub_grub/lib/pub_grub/version_range.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/support/helpers.rb
Labels: bundler: bug fix

#6366 Improve solve failure explanations by using better wording
  bundler/lib/bundler/vendor/pub_grub/lib/pub_grub/incompatibility.rb
  bundler/lib/bundler/vendor/pub_grub/lib/pub_grub/version_range.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/install/gems/flex_spec.rb
Labels: bundler: enhancement

#6046 Add `--gemfile` flag to `bundle init` to configure gemfile name to generate
  Manifest.txt
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/init.rb
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-console.1
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-help.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-init.1.ronn
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-version.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
  bundler/lib/bundler/templates/gems.rb
  bundler/spec/commands/init_spec.rb
  bundler/spec/quality_spec.rb
Labels: bundler: enhancement

#6377 Test with Ruby 3.2.1
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/realworld-bundler.yml
  .github/workflows/rubygems.yml
  .github/workflows/system-rubygems-bundler.yml
  .github/workflows/ubuntu-lint.yml
Labels: bundler: backport, rubygems: backport
