Repository rubygems/rubygems, pull requests merged in 2023-06, with the labels that each got.

#6702 Always rely on `$LOAD_PATH` when jumping from `exe/` to `lib/`
  bundler/exe/bundle
Labels: bundler: enhancement

#6699 Fix inline mode with multiple sources
  bundler/lib/bundler/definition.rb
  bundler/spec/runtime/inline_spec.rb
Labels: bundler: bug fix

#6694 Make `LockfileParser` usable with just a lockfile
  bundler/lib/bundler/source/rubygems.rb
Labels: bundler: enhancement

#6722 Bump pub grub to latest
  bundler/lib/bundler/vendor/pub_grub/lib/pub_grub/version_solver.rb
Labels: bundler: enhancement

#6710 Clarify what the `rubygems-update` gem is for, and link to source code and guides
  rubygems-update.gemspec
Labels: rubygems: documentation

#6723 Stop publishing Gemfile in default gem template
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
  bundler/spec/commands/newgem_spec.rb
Labels: bundler: enhancement

#6734 Autoload shellwords when it's needed.
  Manifest.txt
  lib/rubygems/ext/builder.rb
  lib/rubygems/ext/cargo_builder.rb
  lib/rubygems/ext/rake_builder.rb
  lib/rubygems/shellwords.rb
Labels: rubygems: bug fix

#6213 Fix `bundle lock --update --bundler`
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/lockfile_generator.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/support/builders.rb
Labels: bundler: bug fix

#6751 Suppress Content-Type warnings
  test/rubygems/utilities.rb
Labels: rubygems: backport

#6761 Update command to test local gem command changes
  CONTRIBUTING.md
Labels: rubygems: documentation

#6786 Fix git source lockfile instability
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/source/git.rb
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/bundler/env_spec.rb
  bundler/spec/bundler/source/git/git_proxy_spec.rb
  bundler/spec/install/git_spec.rb
Labels: bundler: bug fix
