Repository rubygems/rubygems, pull requests merged in 2023-03, with the labels that each got.

#6400 Auto-heal on corrupted lockfile with missing deps
  bundler/lib/bundler/installer/parallel_installer.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/lock/lockfile_spec.rb
Labels: bundler: enhancement

#6423 Auto-heal corrupted `Gemfile.lock` with no specs
  bundler/lib/bundler/spec_set.rb
  bundler/spec/lock/lockfile_spec.rb
Labels: bundler: enhancement

#6420 Use proper memoized var name for Gem.state_home.
  lib/rubygems/defaults.rb
  test/rubygems/test_gem.rb
Labels: rubygems: bug fix

#6413 Fix `gems.rb` lockfile for bundler version lookup in template
  bundler/lib/bundler/templates/Executable.bundler
  bundler/spec/commands/binstubs_spec.rb
Labels: bundler: bug fix

#6344 Simplify the gem package file filter in the gemspec template
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
Labels: bundler: enhancement

#6426 Enable `Layout/DefEndAlignment`
  .rubocop.yml
  test/rubygems/test_gem_commands_exec_command.rb
Labels: rubygems: backport

#6427 Fix several warnings when running RubyGems tests
  test/rubygems/test_gem_commands_exec_command.rb
Labels: rubygems: backport

#6425 Remove hardcoded "master" branch references
  lib/rubygems/request_set/gem_dependency_api.rb
  lib/rubygems/source/git.rb
  test/rubygems/helper.rb
  test/rubygems/test_gem_request_set_gem_dependency_api.rb
  test/rubygems/test_gem_request_set_lockfile_parser.rb
  test/rubygems/test_gem_resolver_git_set.rb
  test/rubygems/test_gem_resolver_git_specification.rb
  test/rubygems/test_gem_source.rb
  test/rubygems/test_gem_source_git.rb
  test/rubygems/test_gem_source_installed.rb
  test/rubygems/test_gem_source_lock.rb
  test/rubygems/test_gem_source_vendor.rb
Labels: rubygems: enhancement

#6428 Better suggestion when `bundler/setup` fails due to missing gems and Gemfile is not the default
  bundler/lib/bundler/setup.rb
  bundler/spec/commands/exec_spec.rb
Labels: bundler: enhancement

#6431 Fix gemspec file filter
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
Labels: bundler: backport

#6390 Add TarReader::Entry#seek to seek within the tar file entry
  lib/rubygems/package/tar_reader.rb
  lib/rubygems/package/tar_reader/entry.rb
  test/rubygems/package/tar_test_case.rb
  test/rubygems/test_gem_package.rb
  test/rubygems/test_gem_package_tar_reader.rb
  test/rubygems/test_gem_package_tar_reader_entry.rb
Labels: rubygems: enhancement

#6088 Respect --no-install option for git: sources
  bundler/lib/bundler/source/git.rb
  bundler/spec/cache/git_spec.rb
Labels: bundler: bug fix

#6442 Don't consider platform specific candidates when `force_ruby_platform` set
  bundler/lib/bundler/resolver.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: bug fix

#6441 Don't ignore pre-releases when there's only one candidate
  bundler/lib/bundler/resolver.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: enhancement

#6352 Use `RbSys::ExtensionTask` when creating new rust gems
  bundler/lib/bundler/templates/newgem/Gemfile.tt
  bundler/lib/bundler/templates/newgem/Rakefile.tt
  bundler/lib/bundler/templates/newgem/github/workflows/main.yml.tt
  bundler/spec/commands/newgem_spec.rb
  bundler/tool/bundler/dev_gems.rb.lock
  bundler/tool/bundler/rubocop_gems.rb.lock
  bundler/tool/bundler/standard_gems.rb.lock
  bundler/tool/bundler/test_gems.rb.lock
Labels: Bundler, bundler: enhancement, rust

#6458 Avoid expiring git sources when unnecessary
  Manifest.txt
  bundler/lib/bundler.rb
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/source/git.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/uri_normalizer.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: enhancement

#6087 Use latest JRuby in CI
  .github/workflows/bundler.yml
  .github/workflows/daily-bundler.yml
  .github/workflows/daily-rubygems.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/realworld-bundler.yml
  .github/workflows/ruby-core.yml
  .github/workflows/rubygems.yml
  .github/workflows/system-rubygems-bundler.yml
  .github/workflows/truffleruby-bundler.yml
  .github/workflows/ubuntu-lint.yml
Labels: bundler: backport, rubygems: backport

#6459 When running `bundle lock --update <name>`, checkout locked revision of unrelated git sources directly
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: enhancement

#6475 Fix duplicated specs in some error messages
  bundler/lib/bundler/spec_set.rb
  bundler/spec/bundler/definition_spec.rb
  bundler/spec/commands/check_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/commands/outdated_spec.rb
  bundler/spec/commands/platform_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/deploy_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/install/global_cache_spec.rb
  bundler/spec/install/yanked_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/runtime/platform_spec.rb
  bundler/spec/support/platforms.rb
Labels: bundler: enhancement

#6481 Fix `gem uninstall` with `--install-dir`
  lib/rubygems/commands/uninstall_command.rb
  lib/rubygems/core_ext/kernel_require.rb
  test/rubygems/test_gem_commands_uninstall_command.rb
Labels: rubygems: bug fix

#6493 Don't recommend `--full-index` on errors
  bundler/lib/bundler/fetcher/dependency.rb
  bundler/lib/bundler/remote_specification.rb
  bundler/lib/bundler/shared_helpers.rb
  bundler/spec/bundler/fetcher/dependency_spec.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/lock/lockfile_spec.rb
Labels: bundler: security

#6512 Fix flaky when making materialized specs uniq
  bundler/lib/bundler/endpoint_specification.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/lockfile_parser.rb
  bundler/lib/bundler/remote_specification.rb
Labels: bundler: backport

#6490 Fix `$LOAD_PATH` in rake and ext_conf builder
  lib/rubygems/ext/builder.rb
  lib/rubygems/ext/ext_conf_builder.rb
  lib/rubygems/ext/rake_builder.rb
Labels: rubygems: bug fix

#6495 Fix incorrect removal of ruby platform when auto-healing corrupted lockfiles
  Manifest.txt
  bundler/lib/bundler.rb
  bundler/lib/bundler/incomplete_specification.rb
  bundler/lib/bundler/resolver/base.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/support/platforms.rb
Labels: bundler: bug fix

#6532 Restore "enumerability" of `SpecSet`
  Manifest.txt
  bundler/lib/bundler.rb
  bundler/lib/bundler/incomplete_specification.rb
  bundler/lib/bundler/resolver/base.rb
  bundler/lib/bundler/spec_set.rb
Labels: bundler: bug fix

#6540 Fix incorrect ruby platform removal from lockfile when adding Gemfile dependencies
  bundler/lib/bundler/definition.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: bug fix

#6543 Fix installing plugins in frozen mode
  bundler/lib/bundler/plugin/installer.rb
  bundler/spec/plugins/install_spec.rb
Labels: bundler: bug fix

#6535 Fix some unnecessary top level dependency downgrades
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/resolver/base.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: bug fix

#6541 Generate native gems with `-fvisibility=hidden`
  bundler/lib/bundler/templates/newgem/ext/newgem/extconf-c.rb.tt
  bundler/lib/bundler/templates/newgem/ext/newgem/newgem.c.tt
  bundler/lib/bundler/templates/newgem/rubocop.yml.tt
Labels: bundler: enhancement

#6552 Fix resolver hangs when dealing with an incomplete lockfile
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/resolver/base.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: bug fix
