Repository rubygems/rubygems, pull requests merged in 2023-11, with the labels that each got.

#7077 Fix regression when installing native extensions on universal rubies
  bundler/lib/bundler/rubygems_ext.rb
  bundler/spec/bundler/specifications/foo.gemspec
  bundler/spec/bundler/stub_specification_spec.rb
Labels: bundler: bug fix

#5700 Make lockfiles generated on macOS include a lock for Linux by default
  bundler/lib/bundler/current_ruby.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/gem_helpers.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/lockfile_parser.rb
  bundler/lib/bundler/resolver/spec_group.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/bundler/spec_set_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/support/platforms.rb
Labels: bundler: enhancement

#7139 Make sure to `require "rubygems"` explicitly
  bundler/lib/bundler/rubygems_ext.rb
  bundler/spec/runtime/requiring_spec.rb
  bundler/spec/runtime/setup_spec.rb
Labels: bundler: enhancement

#7155 Test with Truffleruby 23
  .github/workflows/install-rubygems.yml
  .github/workflows/rubygems.yml
  .github/workflows/truffleruby-bundler.yml
Labels: bundler: backport, rubygems: backport

#7170 Fix invalid platform removal missing adjacent platforms
  bundler/lib/bundler/definition.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: bug fix

#7189 Simplify remembered flags deprecation message
  bundler/lib/bundler/cli.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: bundler: enhancement

#7190 Fix `bundle install --system` deprecation advice
  bundler/lib/bundler/cli.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: bundler: bug fix

#7191 Stop remembering cli flags like `--jobs` or `--retry` in configuration
  bundler/lib/bundler/settings.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: enhancement
