Repository rubygems/rubygems, pull requests merged in 2023-08, with the labels that each got.

#6857 Fix `rake blog:publish` task
  Rakefile
Labels: rubygems: backport

#6858 Bring release tasks up to date in documentation
  POLICIES.md
  bundler/doc/playbooks/RELEASING.md
Labels: bundler: backport

#6864 Speedup building docs when updating rubygems
  rubygems-update.gemspec
Labels: rubygems: performance

#6850 Fix git source conservativeness
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/source/git.rb
  bundler/lib/bundler/source_list.rb
  bundler/spec/lock/lockfile_spec.rb
Labels: bundler: bug fix

#6869 Don't fallback to old dependency API when bad credentials are configured
  bundler/lib/bundler/fetcher/compact_index.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/support/artifice/compact_index_strict_basic_authentication.rb
  bundler/spec/support/artifice/endpoint_strict_basic_authentication.rb
Labels: bundler: enhancement

#6871 Show better error when PAT can't authenticate to a private server
  bundler/lib/bundler/fetcher.rb
  bundler/lib/bundler/fetcher/downloader.rb
  bundler/lib/bundler/fetcher/index.rb
  bundler/spec/bundler/fetcher/downloader_spec.rb
  bundler/spec/bundler/fetcher/index_spec.rb
Labels: bundler: enhancement

#6885 Small follow up to automatic generation of license update PRs
  .github/workflows/weekly-update.yml
  Rakefile
Labels: rubygems: backport

#6876 Add `file` option to `ruby` method in Gemfile
  bundler/lib/bundler/man/gemfile.5
  bundler/lib/bundler/man/gemfile.5.ronn
  bundler/lib/bundler/ruby_dsl.rb
  bundler/spec/bundler/ruby_dsl_spec.rb
Labels: bundler: enhancement

#6892 Resolve ruby version file relative to bundle root
  bundler/lib/bundler/ruby_dsl.rb
  bundler/spec/bundler/ruby_dsl_spec.rb
Labels: bundler: bug fix

#6916 Don't use full indexes unnecessarily on legacy Gemfiles
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/install/gemfile/sources_spec.rb
Labels: bundler: performance

#6918 Fix standalone install crashing when using legacy gemfiles with multiple global sources
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/install/gemfile/sources_spec.rb
Labels: bundler: bug fix
