Repository rubygems/rubygems, pull requests merged in 2023-10, with the labels that each got.

#7021 Don't re-resolve with prereleases if unlocked gem has no prereleases
  bundler/lib/bundler/resolver.rb
  bundler/spec/realworld/edgecases_spec.rb
  bundler/spec/resolver/basic_spec.rb
  bundler/spec/support/indexes.rb
Labels: bundler: bug fix

#7020 Re-resolve when lockfile is invalid
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/installer/parallel_installer.rb
  bundler/spec/bundler/installer/parallel_installer_spec.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: bug fix

#6925 Prevent gem activation in standalone mode
  bundler/lib/bundler/installer/standalone.rb
  bundler/spec/install/gems/standalone_spec.rb
Labels: bundler: enhancement

#7033 Update man page of `bundle exec` to reflect default true of flag `--keep-file-descriptors`
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-console.1
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-exec.1.ronn
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-help.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-version.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
Labels: bundler: documentation

#7035 Raise an error when adding a gem incompatible with some locked platform
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/resolver/package.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
Labels: bundler: bug fix

#7002 Avoid duplicates -rbundler/setup in RUBYOPT with Ruby preview
  bundler/lib/bundler/shared_helpers.rb
  bundler/spec/bundler/shared_helpers_spec.rb
Labels: bundler: enhancement

#7034 Make the `lock` command not be affected by the `frozen` setting
  bundler/lib/bundler/cli/lock.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: bug fix

#7045 Improve formatting and global source information in `bundle plugin` man page
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-plugin.1.ronn
Labels: bundler: documentation

#6936 Fix force_ruby_platform: when the lockfile only locks the ruby platform
  bundler/lib/bundler/spec_set.rb
  bundler/spec/install/gemfile/force_ruby_platform_spec.rb
Labels: bundler: bug fix

#7063 Allow explicitly uninstalling multiple versions of same gem
  lib/rubygems/commands/uninstall_command.rb
  test/rubygems/test_gem_commands_uninstall_command.rb
Labels: rubygems: bug fix

#7104 Avoid regexp match on every call to `Gem::Platform.local`
  lib/rubygems/platform.rb
Labels: rubygems: performance

#7113 Don't show bug report template when GEM_HOME has no writable bit
  bundler/lib/bundler/rubygems_gem_installer.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: bug fix

#7030 Give better error when previous installation folder is insecure to remove
  bundler/lib/bundler.rb
  bundler/lib/bundler/errors.rb
  bundler/lib/bundler/installer/gem_installer.rb
  bundler/lib/bundler/rubygems_gem_installer.rb
  bundler/spec/bundler/bundler_spec.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: enhancement

#6218 Get `Gem::Specification#extensions_dir` documented
  bundler/lib/bundler/rubygems_ext.rb
  lib/rubygems/specification.rb
Labels: rubygems: documentation

#7001 Only remove bundler plugin gem when it's inside the cache
  bundler/lib/bundler/plugin.rb
  bundler/lib/bundler/plugin/index.rb
  bundler/spec/plugins/uninstall_spec.rb
Labels: bundler: bug fix
