Repository rubygems/rubygems, pull requests merged in 2023-01, with the labels that each got.

#6220 Remove stray word in `bundle config` man page.
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/man/bundle-console.1
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-help.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-version.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
Labels: bundler: documentation

#6229 Increase Windows timeout in CI
  .github/workflows/bundler.yml
Labels: bundler: backport

#6146 Enhance `bundle open` command to allow opening subdir/file of gem
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/open.rb
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-open.1.ronn
  bundler/spec/commands/open_spec.rb
Labels: bundler: enhancement

#6225 Fallback to selecting installable candidates if possible when materializing specs
  bundler/lib/bundler/lazy_specification.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: bug fix

#6233 When auto-removing RUBY platform don't add specific platform if not needed
  bundler/lib/bundler/definition.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: bug fix

#6234 Cleanup unnecessary gems when removing lockfile platforms
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: bug fix

#6240 Fix version ranges incorrectly handling platforms
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/resolver/candidate.rb
  bundler/lib/bundler/vendor/pub_grub/lib/pub_grub/version_range.rb
  bundler/lib/bundler/vendor/pub_grub/lib/pub_grub/version_union.rb
  bundler/spec/bundler/resolver/candidate_spec.rb
  bundler/spec/resolver/platform_spec.rb
  bundler/spec/support/builders.rb
Labels: bundler: bug fix

#6241 Fix pointing GitHub sources to PRs
  bundler/lib/bundler/dsl.rb
  bundler/spec/bundler/dsl_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/realworld/git_spec.rb
  bundler/spec/support/artifice/vcr_cassettes/realworld/rubygems.org/gems/io-console-0.6.0.gem/GET/request
  bundler/spec/support/artifice/vcr_cassettes/realworld/rubygems.org/gems/io-console-0.6.0.gem/GET/response
Labels: bundler: bug fix

#6247 Merge MacOS and Ubuntu workflows for testing RubyGems
  .github/workflows/macos-rubygems.yml
  .github/workflows/rubygems.yml
Labels: rubygems: backport

#6243 Tag specs that use the internet as realworld
  CONTRIBUTING.md
  bundler/spec/commands/add_spec.rb
  bundler/spec/commands/binstubs_spec.rb
  bundler/spec/commands/clean_spec.rb
  bundler/spec/commands/viz_spec.rb
  bundler/spec/install/gems/standalone_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/runtime/inline_spec.rb
Labels: bundler: backport

#6249 Merge Windows RubyGems workflow into main workflow
  .github/workflows/rubygems.yml
  .github/workflows/windows-rubygems.yml
Labels: rubygems: backport

#6250 Test Bundler against bundled RubyGems for each Ruby
  .github/workflows/realworld-bundler.yml
  .github/workflows/system-rubygems-bundler.yml
Labels: bundler: backport

#6230 Add Ruby 3.2 to CI
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/realworld-bundler.yml
  .github/workflows/rubygems.yml
  .github/workflows/system-rubygems-bundler.yml
  .github/workflows/ubuntu-lint.yml
Labels: bundler: backport, rubygems: backport

#6219 Let resolver deal with legacy gems with equivalent version and different dependencies
  bundler/lib/bundler/resolver.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: bug fix

#6217 Improve documentation about `Kernel` monkeypatches
  lib/rubygems.rb
  lib/rubygems/core_ext/kernel_gem.rb
  lib/rubygems/core_ext/kernel_require.rb
  lib/rubygems/core_ext/kernel_warn.rb
Labels: rubygems: documentation

#6253 Enable full RSpec backtraces
  bundler/.rspec
Labels: bundler: backport

#6252 Skip setting `BUNDLER_SETUP` on Ruby 2.6
  bundler/lib/bundler/shared_helpers.rb
  bundler/spec/bundler/shared_helpers_spec.rb
Labels: bundler: bug fix

#6261 Fix another case of not properly falling back to ruby variant when materializing
  bundler/lib/bundler/lazy_specification.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: bug fix

#6246 Optimistically exclude prereleases from initial resolution
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/resolver/base.rb
  bundler/lib/bundler/resolver/package.rb
  bundler/spec/bundler/gem_version_promoter_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/realworld/edgecases_spec.rb
  bundler/spec/support/indexes.rb
Labels: bundler: bug fix

#6270 Properly handle incompatibilities on platform specific gems
  bundler/lib/bundler/resolver/candidate.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: bug fix

#6266 Fix platform specific gems removed from the lockfile
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/installer.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: bug fix

#6289 Clean test output
  test/rubygems/test_require.rb
Labels: rubygems: backport

#6284 Update bundle-exec man page to not use deprecated `Bundler.with_clean_env`
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-exec.1.ronn
Labels: bundler: documentation

#6285 Fix packages for external platforms being introduced in lockfile when Bundler retries resolution
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/resolver/base.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/support/indexes.rb
Labels: bundler: bug fix

#6291 Relax slow perf spec
  bundler/spec/realworld/slow_perf_spec.rb
Labels: bundler: backport

#6282 Fix `bundler/inline` not resolving properly if gems not preinstalled
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/runtime/inline_spec.rb
Labels: bundler: bug fix

#6305 Fix `bundler/inline` not skipping installation when gems already there, when used more than once
  bundler/lib/bundler/inline.rb
  bundler/spec/runtime/inline_spec.rb
Labels: bundler: bug fix

#6312 Don't warn on `bundle binstubs --standalone --all`
  bundler/lib/bundler/cli/binstubs.rb
  bundler/spec/commands/binstubs_spec.rb
Labels: bundler: enhancement

#6298 Include directory in CargoBuilder install path
  Manifest.txt
  lib/rubygems/ext/builder.rb
  lib/rubygems/ext/cargo_builder.rb
  lib/rubygems/specification_policy.rb
  test/rubygems/test_gem_ext_cargo_builder.rb
  test/rubygems/test_gem_ext_cargo_builder/custom_name/build.rb
  test/rubygems/test_gem_ext_cargo_builder/custom_name/custom_name.gemspec
  test/rubygems/test_gem_ext_cargo_builder/custom_name/ext/custom_name_lib/Cargo.lock
  test/rubygems/test_gem_ext_cargo_builder/custom_name/ext/custom_name_lib/Cargo.toml
  test/rubygems/test_gem_ext_cargo_builder/custom_name/ext/custom_name_lib/src/lib.rs
  test/rubygems/test_gem_ext_cargo_builder/custom_name/lib/custom_name.rb
  test/rubygems/test_gem_ext_cargo_builder/rust_ruby_example/build.rb
  test/rubygems/test_gem_ext_cargo_builder_unit.rb
Labels: rubygems: bug fix

#6317 Add test for old lockfile with new ruby version
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: backport

#6306 Fix `bundler/inline` not properly installing gems with extensions when used more than once
  bundler/lib/bundler/inline.rb
  bundler/spec/runtime/inline_spec.rb
Labels: bundler: bug fix

#6319 Allow `require` decorations be disabled
  Manifest.txt
  Rakefile
  lib/rubygems.rb
  lib/rubygems/core_ext/kernel_require.rb
  test/rubygems/bundler_test_gem.rb
  test/rubygems/test_gem.rb
Labels: rubygems: enhancement

#6316 Include links to pull requests in changelog
  .changelog.yml
  CHANGELOG.md
Labels: rubygems: documentation

#6308 Don't undo require decorations made by other gems
  bundler/lib/bundler/installer/standalone.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/spec/runtime/setup_spec.rb
Labels: bundler: bug fix

#6321 Fix flaky on Ruby 3.2 + Windows and speed up some specs
  bundler/spec/commands/exec_spec.rb
Labels: bundler: backport
