Repository rubygems/rubygems, pull requests merged in 2023-09, with the labels that each got.

#6947 Fixed false positive SymlinkError in symbolic link directory
  lib/rubygems/package.rb
  test/rubygems/test_gem_package.rb
Labels: rubygems: bug fix

#6989 Allow standalone mode to work on a Windows edge case
  bundler/lib/bundler/installer/standalone.rb
Labels: bundler: bug fix

#6992 Fix `bundle lock --minor --update <dep>` edge case
  bundler/lib/bundler/gem_version_promoter.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: bug fix

#6980 Fix `bundle install` when older revisions of git source
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/install/git_spec.rb
Labels: bundler: enhancement

#5128 Avoid error reporting relative path when validating frozen
  bundler/lib/bundler/cli/check.rb
  bundler/lib/bundler/cli/install.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/env.rb
  bundler/lib/bundler/installer/standalone.rb
  bundler/lib/bundler/lockfile_parser.rb
  bundler/lib/bundler/shared_helpers.rb
  bundler/spec/install/deploy_spec.rb
  bundler/spec/lock/lockfile_spec.rb
Labels: Bundler, bundler: bug fix

#7008 Fix invalid links in documentation.
  lib/rubygems.rb
  lib/rubygems/ext/cargo_builder.rb
  lib/rubygems/resolver/api_specification.rb
  lib/rubygems/version.rb
Labels: rubygems: documentation

#7011 Abort `setup.rb` if Ruby is too old
  setup.rb
Labels: rubygems: enhancement

#6926 Update SPDX list and warn on deprecated identifiers.
  lib/rubygems/specification_policy.rb
  lib/rubygems/util/licenses.rb
  test/rubygems/test_gem_commands_build_command.rb
  test/rubygems/test_gem_specification.rb
  tool/generate_spdx_license_list.rb
Labels: rubygems: enhancement

#7019 Remove PR not yet backported from changelog
  bundler/CHANGELOG.md
Labels: bundler: backport
