Repository rubygems/rubygems, pull requests merged in 2023-05, with the labels that each got.

#6684 Show an error when trying to update bundler in frozen mode
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/lockfile_parser.rb
  bundler/spec/commands/update_spec.rb
Labels: bundler: enhancement

#6685 Make `frozen` setting take precedence over `deployment` setting
  bundler/lib/bundler.rb
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/update_spec.rb
Labels: bundler: enhancement

#6701 Fix CI timeouts
  bundler/spec/support/helpers.rb
Labels: bundler: backport

#6700 Make some specs locale independent
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/lock/git_spec.rb
Labels: bundler: backport

#6673 Load plugin immediately
  lib/rubygems/installer.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_commands_pristine_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
  test/rubygems/test_gem_installer.rb
  test/rubygems/test_gem_uninstaller.rb
Labels: rubygems: enhancement
