Repository rubygems/rubygems, pull requests merged in 2024-06, with the labels that each got.

#7714 Relax readline prompt test
  bundler/spec/commands/info_spec.rb
  bundler/spec/commands/show_spec.rb
Labels: bundler: skip changelog

#7703 Fix `bundle exec` no longer working in truffleruby after explicit `require` of `pathname` was removed
  bundler/lib/bundler/shared_helpers.rb
  bundler/spec/bundler/bundler_spec.rb
  bundler/spec/bundler/env_spec.rb
  bundler/spec/bundler/gem_helper_spec.rb
  bundler/spec/bundler/plugin_spec.rb
  bundler/spec/cache/git_spec.rb
  bundler/spec/commands/check_spec.rb
  bundler/spec/commands/init_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/list_spec.rb
  bundler/spec/commands/newgem_spec.rb
  bundler/spec/commands/open_spec.rb
  bundler/spec/commands/remove_spec.rb
  bundler/spec/install/gemfile/eval_gemfile_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/runtime/gem_tasks_spec.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/support/build_metadata.rb
  bundler/spec/support/env.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/options.rb
  bundler/spec/support/path.rb
  bundler/spec/support/rubygems_ext.rb
  bundler/spec/support/rubygems_version_manager.rb
  bundler/spec/support/subprocess.rb
  bundler/spec/update/git_spec.rb
Labels: bundler: bug fix

#7721 Move mswin to daily CI
  .github/workflows/daily-rubygems.yml
  .github/workflows/rubygems.yml
Labels: rubygems: skip changelog

#7704 Fix duplicated config keys generated when `fallback_timeout` uri option is used
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/yaml_serializer.rb
  bundler/spec/commands/config_spec.rb
  bundler/spec/support/filters.rb
  lib/rubygems/yaml_serializer.rb
Labels: bundler: bug fix

#7725 Don't validate local gemspecs twice unnecessarily
  bundler/lib/bundler/source/git.rb
  bundler/lib/bundler/source/path.rb
  bundler/spec/install/gemspecs_spec.rb
Labels: bundler: enhancement

#7719 Auto switch to locked bundler version even when using binstubs
  bundler/lib/bundler.rb
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/self_manager.rb
  bundler/lib/bundler/setup.rb
  bundler/spec/runtime/self_management_spec.rb
Labels: bundler: enhancement

#7720 Keep credentials in lockfile if they are already there
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/lock/lockfile_spec.rb
Labels: bundler: enhancement

#7738 Fix test description
  bundler/spec/plugins/hook_spec.rb
Labels: bundler: skip changelog

#7734 Revert compact index info checksums to splitting parser
  bundler/lib/bundler/compact_index_client/parser.rb
  bundler/spec/bundler/compact_index_client/parser_spec.rb
Labels: bundler: skip changelog

#7731 Fix slow and incorrect resolution when adding `sorbet` to a Gemfile and the lockfile only includes "RUBY" in the platforms section
  bundler/lib/bundler/definition.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/subprocess.rb
Labels: bundler: bug fix

#7743 Fix another sort stability issue
  lib/rubygems/basic_specification.rb
  lib/rubygems/specification.rb
  test/rubygems/test_require.rb
Labels: rubygems: skip changelog

#7747 Never remove executables that may belong to a default gem
  lib/rubygems/uninstaller.rb
  test/rubygems/helper.rb
  test/rubygems/test_gem_commands_uninstall_command.rb
Labels: rubygems: bug fix

#7748 Don't print bug report template when bin dir is not writable
  bundler/lib/bundler/rubygems_gem_installer.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: bug fix

#7746 Fix funding metadata not being printed in some situations
  bundler/lib/bundler/endpoint_specification.rb
  bundler/spec/install/gems/fund_spec.rb
Labels: bundler: bug fix

#7754 Sync with ruby-core
  bundler/spec/bundler/dsl_spec.rb
Labels: bundler: skip changelog

#7758 Fix `bundle fund` when the gemfile contains optional groups
  bundler/lib/bundler/cli/fund.rb
  bundler/spec/commands/fund_spec.rb
Labels: bundler: bug fix

#7770 Fix `bundle update <gem_name>` edge case
  bundler/lib/bundler/definition.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: bug fix

#7767 Fix credentials being readded when re-resolving without a full unlock
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/lock/lockfile_spec.rb
Labels: bundler: bug fix

#7707 Allow bundle command in new gems with invalid metadata
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/spec/bundler/rubygems_integration_spec.rb
  bundler/spec/commands/exec_spec.rb
  lib/rubygems/specification.rb
  lib/rubygems/specification_policy.rb
  test/rubygems/test_gem_specification.rb
Labels: bundler: enhancement

#7780 Support `--no-test`, `--no-ci`, and `--no-linter` options
  bundler/lib/bundler/cli/gem.rb
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-gem.1.ronn
  bundler/spec/commands/newgem_spec.rb
Labels: bundler: enhancement

#7796 Don't print warning about nil versions being discouraged during tests
  test/rubygems/test_gem_specification.rb
Labels: rubygems: skip changelog

#7794 Print a proper error when bin dir does not have writable permission bit
  bundler/lib/bundler/rubygems_gem_installer.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: bug fix

#7453 Fix some flaky test failures on Windows
  .github/workflows/bundler.yml
  .github/workflows/realworld-bundler.yml
  .github/workflows/system-rubygems-bundler.yml
  Rakefile
  bin/rake
  bundler/spec/spec_helper.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/rubygems_ext.rb
Labels: bundler: skip changelog
