Repository rubygems/rubygems, pull requests merged in 2024-03, with the labels that each got.

#7048 Deprecate `bundle plugin install --local-git=`
  bundler/lib/bundler/cli/plugin.rb
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-plugin.1.ronn
  bundler/lib/bundler/plugin/installer.rb
  bundler/spec/bundler/plugin/installer_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/plugins/install_spec.rb
Labels: bundler: deprecation

#7516 Fix incorrect `bundle update --bundler` message
  bundler/lib/bundler/self_manager.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source_list.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/commands/post_bundle_message_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/install/gems/flex_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
  bundler/spec/install/yanked_spec.rb
Labels: bundler: bug fix

#7518 Respect global umask when writing regular files
  lib/rubygems/package.rb
  test/rubygems/test_gem.rb
Labels: rubygems: security

#7529 Improve validation of `bundle plugin install` options
  bundler/lib/bundler/plugin/installer.rb
  bundler/spec/plugins/install_spec.rb
Labels: bundler: enhancement

#7537 Fix resolver to properly intersect Arrays of `Gem::Resolver::Activation` objects
  lib/rubygems/resolver/spec_specification.rb
  test/rubygems/helper.rb
Labels: rubygems: bug fix

#6960 Allow installing plugins from path via CLI
  Manifest.txt
  bundler/lib/bundler/cli/plugin.rb
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-console.1
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-help.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-plugin.1.ronn
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-version.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
  bundler/lib/bundler/plugin/installer.rb
  bundler/lib/bundler/plugin/installer/path.rb
  bundler/lib/bundler/plugin/source_list.rb
  bundler/spec/plugins/install_spec.rb
Labels: bundler: enhancement

#7539 Allow FormatError to take either String or Gem for source
  lib/rubygems/package.rb
Labels: rubygems: bug fix

#4913 Add "gem rebuild" command.
  Manifest.txt
  lib/rubygems/command_manager.rb
  lib/rubygems/commands/build_command.rb
  lib/rubygems/commands/rebuild_command.rb
  lib/rubygems/gemspec_helpers.rb
  test/rubygems/test_gem_commands_rebuild_command.rb
Labels: RubyGems

#7544 add test case to ensure updating with multiple sources + caching maintains the right lockfile
  bundler/spec/commands/update_spec.rb
Labels: bundler: skip changelog
