Repository rubygems/rubygems, pull requests merged in 2024-02, with the labels that each got.

#7446 Add missing Windows job to CI
  .github/workflows/bundler.yml
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/install/gems/native_extensions_spec.rb
  bundler/spec/support/builders.rb
Labels: bundler: skip changelog

#7452 Remove no longer necessary `ruby/setup-ruby-pkgs` action
  .github/workflows/rubygems.yml
Labels: rubygems: skip changelog

#7422 Change gem login message to clear up that username can be also used
  lib/rubygems/gemcutter_utilities.rb
  test/rubygems/test_gem_commands_owner_command.rb
  test/rubygems/test_gem_commands_push_command.rb
  test/rubygems/test_gem_commands_yank_command.rb
Labels: rubygems: enhancement

#7439 feature: deep copy requirements in Gem::Specification and Gem::Requirement
  lib/rubygems/requirement.rb
  lib/rubygems/specification.rb
  test/rubygems/test_gem_requirement.rb
  test/rubygems/test_gem_specification.rb
Labels: rubygems: enhancement

#7449 Add `gitlab:` git source shorthand
  bundler/lib/bundler/dsl.rb
  bundler/spec/bundler/dsl_spec.rb
Labels: bundler: enhancement

#5010 Warn on empty or open required_ruby_version specification attribute.
  lib/rubygems/specification_policy.rb
  test/rubygems/specifications/rubyforge-0.0.1.gemspec
  test/rubygems/test_gem_commands_build_command.rb
  test/rubygems/test_gem_specification.rb
Labels: RubyGems, rubygems: enhancement
