Repository rubygems/rubygems, pull requests merged in 2024-04, with the labels that each got.

#7527 Fix resolver error message when it runs out of versions due to `--strict --patch` filtering out everything
  bundler/lib/bundler/gem_version_promoter.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/resolver/candidate.rb
  bundler/spec/bundler/gem_version_promoter_spec.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: bug fix

#7571 Fix installing plugins via relative paths
  bundler/lib/bundler/plugin/installer.rb
  bundler/lib/bundler/plugin/installer/path.rb
  bundler/spec/plugins/install_spec.rb
Labels: bundler: bug fix

#7557 Add `--glob` flag to `bundle add`
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/dependency.rb
  bundler/lib/bundler/injector.rb
  bundler/spec/commands/add_spec.rb
Labels: bundler: enhancement

#7570 Improve release docs
  POLICIES.md
  Rakefile
  bundler/doc/README.md
  bundler/doc/playbooks/RELEASING.md
Labels: bundler: skip changelog, rubygems: skip changelog

#7560 Never write credentials to lockfiles
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/man/bundle-console.1
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-help.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-version.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source_list.rb
  bundler/spec/install/deploy_spec.rb
  bundler/spec/lock/lockfile_spec.rb
Labels: bundler: security

#7583 Fix issue installing gems with linux-musl variant on non musl linux
  bundler/lib/bundler/spec_set.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: bug fix

#3439 Add plugin hooks for Bundler.require
  bundler/lib/bundler.rb
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/plugin/events.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/runtime.rb
  bundler/spec/plugins/hook_spec.rb
Labels: status: triage, Bundler

#7602 Remove stuff upstreamed to turbo_tests
  bundler/bin/parallel_rspec
  tool/turbo_tests_windows_patch.rb
  tool/windows_json_rows_formatter.rb
Labels: bundler: skip changelog

#7601 Properly resolve aliases when `bundle help` is run
  bundler/lib/bundler/cli.rb
  bundler/spec/commands/help_spec.rb
Labels: bundler: bug fix

#7574 Don't upcase Windows ENV before backing it up
  bundler/lib/bundler/environment_preserver.rb
  bundler/spec/runtime/inline_spec.rb
  bundler/spec/runtime/with_unbundled_env_spec.rb
Labels: bundler: bug fix

#6561 Add auto_install support to require "bundler/setup"
  bundler/lib/bundler.rb
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/setup.rb
  bundler/spec/runtime/setup_spec.rb
Labels: bundler: enhancement

#7613 Clarify `bundle check` behaviour in docs
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-check.1.ronn
Labels: bundler: documentation

#7607 Fix `bundle update` not working on an out of sync lockfile
  bin/rake
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/update_spec.rb
Labels: bundler: bug fix

#7612 Fix circular require warning
  bundler/spec/runtime/setup_spec.rb
  lib/rubygems/deprecate.rb
  lib/rubygems/package.rb
Labels: bundler: bug fix

#7558 Make sure `bundle update <specific_gems>` can always update to the latest resolvable version of each requested gem
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: bug fix

#7568 Add a limit to the size of the metadata and checksums files in a gem package.
  lib/rubygems/package.rb
Labels: rubygems: security

#7618 Use latest rubies in CI
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/realworld-bundler.yml
  .github/workflows/rubygems.yml
  .github/workflows/system-rubygems-bundler.yml
  .github/workflows/truffleruby-bundler.yml
  .github/workflows/ubuntu-lint.yml
Labels: bundler: skip changelog, rubygems: skip changelog
