Repository rubygems/rubygems, pull requests merged in 2024-05, with the labels that each got.

#7623 Rename credential email to identifier in WebAuthn poller
  lib/rubygems/gemcutter_utilities/webauthn_poller.rb
  test/rubygems/test_webauthn_poller.rb
Labels: rubygems: bug fix

#7460 Warn if RubyGems version explicitly set in gemspec does not match running version
  bundler/spec/support/builders.rb
  lib/rubygems/package.rb
  lib/rubygems/specification.rb
  lib/rubygems/specification_policy.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_specification.rb
Labels: rubygems: enhancement

#7634 Test with JRuby 9.4.7.0 and workaround CI issues
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/rubygems.yml
Labels: bundler: skip changelog, rubygems: skip changelog

#7633 Clarify Bundler support policy
  bundler/doc/POLICIES.md
Labels: bundler: documentation

#7648 Recommend `bin/rake` over `rake` in contributing docs
  .devcontainer/devcontainer.json
  .github/workflows/daily-rubygems.yml
  .github/workflows/realworld-bundler.yml
  .github/workflows/rubygems.yml
  .github/workflows/ubuntu-lint.yml
  CONTRIBUTING.md
Labels: bundler: documentation, rubygems: documentation

#7647 Fix crash caused by RubyGems `require` gem activation logic running before Bundler can properly register its own monkeypatches
  Rakefile
  bundler/lib/bundler/constants.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/shared_helpers.rb
Labels: bundler: bug fix

#7642 Fix error when Bundler installation is corrupted
  bundler/lib/bundler/errors.rb
  bundler/lib/bundler/source/metadata.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: bug fix

#6456 Fix plugins uninstallation for user installed gems
  lib/rubygems/uninstaller.rb
  test/rubygems/test_gem_uninstaller.rb
Labels: rubygems: bug fix

#7484 Use a constant empty tar header to avoid extra allocations
  lib/rubygems/package/tar_header.rb
  test/rubygems/test_gem_package_tar_header.rb
Labels: rubygems: performance

#7654 Try fix flaky test failures
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/rubygems_integration.rb
Labels: bundler: skip changelog

#7658 Fix the update_rubygems inconsistency (--disable-gems)
  exe/update_rubygems
Labels: rubygems: enhancement

#7631 Fix issue when plugin stubs would sometimes not be properly removed by `gem uninstall`
  Manifest.txt
  lib/rubygems/specification.rb
  lib/rubygems/specification_record.rb
  lib/rubygems/uninstaller.rb
  test/rubygems/helper.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_ci_detector.rb
  test/rubygems/test_gem_specification.rb
  test/rubygems/test_gem_uninstaller.rb
Labels: rubygems: bug fix

#7653 Deprecate Bundler constants
  bundler/lib/bundler/cli/install.rb
  bundler/lib/bundler/constants.rb
  bundler/lib/bundler/rubygems_ext.rb
  lib/rubygems.rb
Labels: bundler: deprecation

#7659 Fix regression when caching gems from secondary sources
  bundler/lib/bundler/spec_set.rb
  bundler/spec/commands/cache_spec.rb
Labels: bundler: bug fix

#7645 Fix `gem uninstall --user-install` for symlinked HOME
  lib/rubygems/commands/uninstall_command.rb
  lib/rubygems/uninstaller.rb
  test/rubygems/test_gem_uninstaller.rb
Labels: rubygems: bug fix

#7660 Fix binstubs sometimes not getting regenerated when `--destdir` is given
  lib/rubygems/commands/pristine_command.rb
  lib/rubygems/commands/setup_command.rb
  lib/rubygems/dependency.rb
  lib/rubygems/installer.rb
  lib/rubygems/specification.rb
  lib/rubygems/specification_record.rb
  test/rubygems/test_gem_commands_setup_command.rb
Labels: rubygems: bug fix

#7649 Fix for gems not downloading from git via http
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/bundler/source/git/git_proxy_spec.rb
Labels: bundler: enhancement

#7682 Rework `bundle gem` specs so that they work on Windows
  bundler/spec/commands/newgem_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/support/helpers.rb
Labels: bundler: skip changelog

#7668 Clarify BUNDLE_USER_CONFIG is a file
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
Labels: bundler: documentation

#7673 Improve default gem handling by treating default gems as any other gem
  bundler/lib/bundler/installer/gem_installer.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/bundler/installer/gem_installer_spec.rb
  bundler/spec/cache/gems_spec.rb
  bundler/spec/commands/open_spec.rb
  bundler/spec/runtime/setup_spec.rb
Labels: bundler: enhancement

#7664 Fix `gem pristine` sometimes failing to pristine user installed gems
  lib/rubygems/basic_specification.rb
  lib/rubygems/commands/pristine_command.rb
  lib/rubygems/specification_record.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_commands_pristine_command.rb
Labels: rubygems: bug fix

#7687 Don't let `bundle config` report a path without a Gemfile as "local app"
  bundler/lib/bundler.rb
  bundler/lib/bundler/settings.rb
  bundler/spec/bundler/settings_spec.rb
  bundler/spec/commands/config_spec.rb
Labels: bundler: bug fix

#7700 Fix Windows CI that got silently broken recently
  bin/rake.cmd
  bundler/spec/support/rubygems_ext.rb
  lib/rubygems/specification.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_commands_update_command.rb
Labels: rubygems: skip changelog

#7667 Fix `gem uninstall` unresolved specifications warning
  lib/rubygems/stub_specification.rb
  lib/rubygems/uninstaller.rb
  test/rubygems/test_gem_commands_uninstall_command.rb
  test/rubygems/test_gem_uninstaller.rb
Labels: rubygems: bug fix

#7683 Raise a friendly error whenever commands executed by test suite take more than a minute
  bundler/spec/commands/update_spec.rb
  bundler/spec/support/command_execution.rb
  bundler/spec/support/helpers.rb
Labels: bundler: skip changelog
