Repository rubygems/rubygems, pull requests merged in 2024-10, with the labels that each got.

#8080 Fix error in one source when fetching dependency APIs clearing results from all sources
  lib/rubygems/resolver/api_set.rb
  lib/rubygems/resolver/best_set.rb
  test/rubygems/test_gem_resolver_api_set.rb
Labels: rubygems: bug fix

#8100 Port ruby core changes about pretty printing hashes
  bundler/spec/bundler/endpoint_specification_spec.rb
  bundler/spec/install/gems/compact_index_spec.rb
  test/rubygems/test_gem_dependency.rb
  test/rubygems/test_require.rb
Labels: bundler: skip changelog, rubygems: skip changelog

#8101 Fix `bundle.bat` re-execution
  bundler/lib/bundler/self_manager.rb
Labels: bundler: bug fix

#8114 Make CI more stable
  bundler/spec/support/helpers.rb
  bundler/spec/support/subprocess.rb
Labels: bundler: skip changelog, rubygems: skip changelog

#8122 Forward-port typofix
  bundler/lib/bundler/dsl.rb
Labels: bundler: skip changelog

#8121 Fix plugin command loading
  .github/workflows/install-rubygems.yml
  lib/rubygems/command_manager.rb
Labels: rubygems: bug fix

#8118 Allow `gem pristine` to reset default gems too
  lib/rubygems/commands/pristine_command.rb
  test/rubygems/test_gem_commands_pristine_command.rb
Labels: rubygems: enhancement

#8113 Fix a `gem install` crash during "done installing" hooks
  lib/rubygems/specification_record.rb
  test/rubygems/test_gem_dependency_installer.rb
Labels: rubygems: bug fix

#8126 docs: fix spelling
  tool/create_certs.rb
Labels: rubygems: skip changelog

#8127 Remove unused variable
  test/rubygems/test_gem_dependency_installer.rb
Labels: rubygems: skip changelog

#8104 Fix bundler sometimes crashing because of trying to use a version of psych compiled for a different Ruby
  .github/workflows/install-rubygems.yml
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/source/git.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/stub_specification.rb
  bundler/spec/install/gems/standalone_spec.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/helpers.rb
  lib/rubygems/basic_specification.rb
  lib/rubygems/dependency.rb
  test/rubygems/test_gem_commands_exec_command.rb
  test/rubygems/test_gem_installer.rb
  test/rubygems/test_gem_specification.rb
  test/rubygems/test_gem_stub_specification.rb
  test/rubygems/test_require.rb
Labels: bundler: bug fix

#8117 Fix `gem pristine etc` resetting gem twice sometimes
  lib/rubygems/basic_specification.rb
  lib/rubygems/stub_specification.rb
  test/rubygems/test_gem_stub_specification.rb
Labels: rubygems: enhancement

#8130 Only pristine executables for default gems
  lib/rubygems/commands/pristine_command.rb
  test/rubygems/test_gem_commands_pristine_command.rb
Labels: rubygems: skip changelog

#8133 Check that the binstub was actually reset
  test/rubygems/test_gem_commands_pristine_command.rb
Labels: rubygems: skip changelog

#8123 Fix `gem install` on NFS shares
  bundler/lib/bundler/rubygems_ext.rb
  lib/rubygems.rb
Labels: rubygems: bug fix

#8131 Fix duplicated specs when they have been previously activated
  lib/rubygems/specification_record.rb
  test/rubygems/test_gem.rb
Labels: rubygems: bug fix

#8132 Fix `gem contents` for default gems
  lib/rubygems/commands/contents_command.rb
  test/rubygems/test_gem_commands_contents_command.rb
Labels: rubygems: bug fix

#8147 Prevent some test suite warnings about missing extensions
  bundler/lib/bundler/rubygems_ext.rb
  lib/rubygems/basic_specification.rb
Labels: bundler: skip changelog, rubygems: skip changelog

#8150 Prevent `._*` files in packages generated from macOS
  Rakefile
Labels: rubygems: enhancement

#8152 Add missing comma in documentation
  lib/rubygems/specification.rb
Labels: rubygems: documentation

#8148 Fix `bundle check` sometimes locking gems under the wrong source
  bundler/lib/bundler/cli/check.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/lockfile_generator.rb
  bundler/lib/bundler/resolver/base.rb
  bundler/spec/commands/check_spec.rb
  bundler/spec/resolver/basic_spec.rb
Labels: bundler: bug fix

#7999 Handle two `gemspec` usages in same Gemfile with same dep and compatible requirements
  bundler/lib/bundler/dsl.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: bug fix

#8163 Clarify `bundle install --quiet` documentation
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-console.1
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-help.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-install.1.ronn
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-version.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
Labels: bundler: documentation

#8157 Add `bundle add` `--quiet` option
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/add.rb
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-add.1.ronn
  bundler/spec/commands/add_spec.rb
Labels: bundler: enhancement

#8164 Remove `x64-mingw32` from our lockfiles
  tool/bundler/dev_gems.rb.lock
  tool/bundler/lint_gems.rb.lock
  tool/bundler/test_gems.rb.lock
  tool/bundler/vendor_gems.rb.lock
Labels: bundler: skip changelog, rubygems: skip changelog

#8171 Change one `bundle check` spec to not touch the network
  bundler/spec/commands/check_spec.rb
Labels: bundler: skip changelog

#8170 Rename bundler inline's `install` parameter and clarify docs
  bundler/lib/bundler/inline.rb
Labels: bundler: documentation

#8165 Fix running `bundler` (with a final `r`) in a `bundle exec` context
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/shared_helpers.rb
  bundler/lib/bundler/source/metadata.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/runtime/setup_spec.rb
Labels: bundler: bug fix

#8168 Improve several permission errors
  bundler/lib/bundler.rb
  bundler/lib/bundler/process_lock.rb
  bundler/lib/bundler/settings.rb
  bundler/lib/bundler/shared_helpers.rb
  bundler/spec/bundler/definition_spec.rb
  bundler/spec/bundler/settings_spec.rb
  bundler/spec/bundler/shared_helpers_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/install/process_lock_spec.rb
  lib/rubygems.rb
Labels: bundler: enhancement

#8169 Print a proper error when there's a previous empty installation path with bad permissions
  bundler/lib/bundler/rubygems_gem_installer.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: bug fix

#8084 Speed up suggested gems
  lib/rubygems/spec_fetcher.rb
  test/rubygems/test_gem_spec_fetcher.rb
Labels: rubygems: performance

#7896 Add a `--normalize-platforms` flag to `bundle lock`
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/cli/lock.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/spec_set.rb
  tool/bundler/dev_gems.rb.lock
  tool/bundler/lint_gems.rb.lock
  tool/bundler/release_gems.rb.lock
  tool/bundler/rubocop_gems.rb.lock
  tool/bundler/standard_gems.rb.lock
  tool/bundler/test_gems.rb.lock
  tool/bundler/vendor_gems.rb.lock
Labels: bundler: enhancement

#8193 Indent github workflow steps for generated gems
  bundler/lib/bundler/templates/newgem/github/workflows/main.yml.tt
Labels: bundler: enhancement

#8177 Remove confusing `bundle config` documentation
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
Labels: bundler: documentation

#8172 Fix `gem update --system` leaving old default bundler executables around
  lib/rubygems/commands/setup_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
Labels: rubygems: enhancement

#7872 Make `--enable-load-relative` binstubs prolog work when Ruby is not installed in the same directory as the binstub
  .github/workflows/install-rubygems.yml
  lib/rubygems/installer.rb
Labels: rubygems: bug fix

#7610 Update `--ext=rust` to support compiling the native extension from source
  bundler/lib/bundler/templates/newgem/Gemfile.tt
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
  bundler/spec/commands/newgem_spec.rb
Labels: bundler: bug fix

#7639 Add useful error message for plugin load
  bundler/lib/bundler/plugin.rb
  bundler/spec/bundler/plugin_spec.rb
Labels: bundler: enhancement
