Repository rubygems/rubygems, pull requests merged in 2024-12, with the labels that each got.

#8313 Normalize command flag documentation and make sure all flags are documented
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-add.1.ronn
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-binstubs.1.ronn
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-cache.1.ronn
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-check.1.ronn
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-doctor.1.ronn
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-exec.1.ronn
  bundler/lib/bundler/man/bundle-fund.1
  bundler/lib/bundler/man/bundle-fund.1.ronn
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-gem.1.ronn
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-info.1.ronn
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-init.1.ronn
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-inject.1.ronn
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-install.1.ronn
  bundler/lib/bundler/man/bundle-list.1.ronn
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-lock.1.ronn
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-open.1.ronn
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-outdated.1.ronn
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-show.1.ronn
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-update.1.ronn
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle-viz.1.ronn
  bundler/spec/other/cli_man_pages_spec.rb
  bundler/spec/spec_helper.rb
Labels: bundler: documentation

#8320 Fix restarting with locked version when `$PROGRAM_NAME` has been changed
  bundler/lib/bundler/self_manager.rb
  bundler/spec/runtime/self_management_spec.rb
Labels: bundler: bug fix

#8321 Fix `gem info` tagging some non default gems as default
  lib/rubygems/query_utils.rb
  test/rubygems/test_gem_commands_info_command.rb
Labels: rubygems: bug fix

#8326 Fix `bundle lock --add-checksums` when gems are already installed
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: bug fix

#8335 Test with Ruby 3.4.0.rc1
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/realworld-bundler.yml
  .github/workflows/rubygems.yml
  .github/workflows/system-rubygems-bundler.yml
  .github/workflows/ubuntu-lint.yml
Labels: bundler: skip changelog, rubygems: skip changelog

#8337 Fix missing `Gem::Uri.redact` on some Ruby 3.1 versions
  .github/workflows/system-rubygems-bundler.yml
  bundler/lib/bundler/rubygems_ext.rb
Labels: bundler: bug fix

#8341 Bump truffleruby to 24.1.1 in CI
  .github/workflows/install-rubygems.yml
  .github/workflows/rubygems.yml
  .github/workflows/truffleruby-bundler.yml
  .github/workflows/ubuntu-lint.yml
Labels: bundler: skip changelog, rubygems: skip changelog

#8305 Fix Gem::SafeMarshal buffer overrun when given lengths larger than fit into a byte
  lib/rubygems/safe_marshal/reader.rb
  lib/rubygems/safe_marshal/visitors/to_ruby.rb
  test/rubygems/test_gem_safe_marshal.rb
Labels: rubygems: security

#8343 Restart using `Process.argv0` only if `$PROGRAM_NAME` is not a script
  bundler/lib/bundler/self_manager.rb
  bundler/spec/runtime/self_management_spec.rb
Labels: bundler: bug fix

#8340 Skip rdoc hooks and their tests on newer rdoc versions
  lib/rubygems/rdoc.rb
  lib/rubygems/uninstaller.rb
  test/rubygems/test_gem_commands_install_command.rb
  test/rubygems/test_gem_commands_update_command.rb
Labels: rubygems: enhancement

#8352 Fixup #8350 with rake man:build
  bundler/lib/bundler/man/bundle-lock.1
Labels: bundler: skip changelog

#8355 Fix serialized metadata including an empty `@original_platform` attribute
  lib/rubygems/specification.rb
  test/rubygems/test_gem_specification.rb
Labels: rubygems: bug fix

#8361 Fix `bundle outdated <GEM>` failing if not all gems are installed
  bundler/lib/bundler/cli/outdated.rb
  bundler/spec/commands/outdated_spec.rb
Labels: bundler: bug fix

#8367 Remove no longer existing paths from rubocop exclusions
  .rubocop.yml
Labels: rubygems: skip changelog

#8356 Add support for mise version manager file
  bundler/lib/bundler/ruby_dsl.rb
  bundler/spec/bundler/ruby_dsl_spec.rb
Labels: bundler: enhancement

#8371 Bump nokogiri in dev gems for faster setup in Ruby 3.4
  tool/bundler/dev_gems.rb.lock
Labels: bundler: skip changelog
