Repository rubygems/rubygems, pull requests merged in 2024-07, with the labels that each got.

#7800 Make it clearer that `add_dependency` is the main way to add non-development dependencies
  lib/rubygems/specification.rb
Labels: rubygems: documentation

#7803 Fix `bundle lock --add-platform <current_platform>` doing nothing
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: bug fix

#7801 Only allow valid values for `--test`, `--ci`, and `--linter` options
  bundler/lib/bundler/cli.rb
  bundler/spec/commands/newgem_spec.rb
Labels: bundler: bug fix

#7806 Protect creating binstubs with a file lock
  lib/rubygems.rb
  lib/rubygems/installer.rb
Labels: rubygems: bug fix

#7830 Restrict generic `arm` to only match 32-bit arm
  .github/workflows/rubygems.yml
  bundler/lib/bundler/rubygems_ext.rb
  lib/rubygems/platform.rb
  test/rubygems/test_gem_platform.rb
Labels: rubygems: bug fix

#7841 Protect creating RubyGems binstubs with a file lock
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/rubygems_gem_installer.rb
Labels: bundler: bug fix

#7839 Test using latest rubies
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/realworld-bundler.yml
  .github/workflows/rubygems.yml
  .github/workflows/system-rubygems-bundler.yml
  .github/workflows/ubuntu-lint.yml
  bundler/spec/install/gems/standalone_spec.rb
  bundler/spec/runtime/setup_spec.rb
Labels: bundler: skip changelog, rubygems: skip changelog

#7847 Fix debugging line left around in CI workflow
  .github/workflows/bundler.yml
Labels: bundler: skip changelog

#7838 Minor Bundler spec improvements
  bundler/spec/commands/cache_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/install/gemfile/force_ruby_platform_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/runtime/platform_spec.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/matchers.rb
Labels: bundler: skip changelog

#7833 Fix generic platform gems getting incorrectly removed from lockfile
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/gem_helpers.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/resolver/base.rb
  bundler/lib/bundler/resolver/candidate.rb
  bundler/lib/bundler/resolver/package.rb
  bundler/lib/bundler/resolver/spec_group.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/bundler/resolver/candidate_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: bug fix

#7845 Fix bad error messages when using `bundle add` with frozen mode set
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/injector.rb
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/runtime.rb
  bundler/spec/commands/add_spec.rb
  bundler/spec/install/deploy_spec.rb
Labels: bundler: bug fix

#7848 Fix another case of `bundle lock --add-platform` doing nothing
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: bug fix

#7863 Test with Ruby 3.3.4
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/realworld-bundler.yml
  .github/workflows/rubygems.yml
  .github/workflows/system-rubygems-bundler.yml
  .github/workflows/ubuntu-lint.yml
Labels: bundler: skip changelog, rubygems: skip changelog

#7708 Use `caller_locations` instead of splitting `caller`
  bundler/lib/bundler/env.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/spec/support/builders.rb
  lib/rubygems/specification.rb
Labels: rubygems: performance, bundler: performance

#7866 Fix gemspec `require_paths` validation
  bundler/lib/bundler/installer/standalone.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/spec/install/gems/standalone_spec.rb
  bundler/spec/realworld/edgecases_spec.rb
  lib/rubygems/specification.rb
  test/rubygems/test_gem_specification.rb
Labels: rubygems: bug fix

#7870 Fix standalone script when default gems with extensions are used
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/stub_specification.rb
  bundler/spec/install/gems/standalone_spec.rb
  bundler/spec/support/builders.rb
Labels: bundler: bug fix

#7864 Fix platform removal regression when `platforms:` used in the Gemfile
  bundler/lib/bundler/definition.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: bug fix

#7871 Fix unused variable warning when running RubyGems tests
  test/rubygems/test_gem_remote_fetcher_local_ssl_server.rb
Labels: rubygems: skip changelog

#7857 Fix line comment issue for hash when loading gemrc
  bundler/lib/bundler/yaml_serializer.rb
  lib/rubygems/yaml_serializer.rb
  test/rubygems/test_gem_config_file.rb
Labels: rubygems: bug fix

#7805 Enable lockfile checksums on Bundler 3 when there's no previous lockfile
  bundler/lib/bundler/definition.rb
  bundler/spec/bundler/definition_spec.rb
  bundler/spec/cache/gems_spec.rb
  bundler/spec/commands/check_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/gemfile/gemspec_spec.rb
  bundler/spec/install/gemfile/install_if_spec.rb
  bundler/spec/install/gemfile/path_spec.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/install/gems/flex_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/plugins/source/example_spec.rb
  bundler/spec/runtime/platform_spec.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/checksums.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/path.rb
  bundler/spec/update/git_spec.rb
Labels: bundler: enhancement

#7867 Explicitly encode Gem::Dependency to yaml
  bundler/lib/bundler/rubygems_ext.rb
  lib/rubygems/dependency.rb
Labels: rubygems: enhancement, bundler: enhancement

#4469 Fix git source cache being used as the install location
  bundler/lib/bundler/plugin/api/source.rb
  bundler/lib/bundler/runtime.rb
  bundler/lib/bundler/source/git.rb
  bundler/spec/cache/git_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
Labels: Bundler, bundler: bug fix

#7888 Port ruby-core tweak to a new test
  bundler/spec/commands/exec_spec.rb
Labels: bundler: skip changelog

#7853 Generate gems.rb from Gemfile.tt template for `bundle-gem`
  bundler/lib/bundler/cli/gem.rb
  bundler/spec/commands/newgem_spec.rb
Labels: bundler: bug fix

#7894 Fix `bundle check` exit code when gem git source is not checked out
  bundler/lib/bundler/cli/check.rb
  bundler/spec/commands/check_spec.rb
Labels: bundler: bug fix

#7890 Make test env resilient to ruby version changes
  bundler/spec/cache/gems_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/gemfile/force_ruby_platform_spec.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/path.rb
Labels: bundler: skip changelog

#7887 Allow smoother breaking changes in test env
  bundler/spec/support/path.rb
  bundler/spec/support/rubygems_ext.rb
Labels: bundler: skip changelog

#7879 Always leave default gem executables around
  lib/rubygems/uninstaller.rb
  test/rubygems/test_gem_commands_uninstall_command.rb
Labels: rubygems: bug fix

#7892 Fix `gem list` regression when a regular gem shadows a default one
  lib/rubygems/query_utils.rb
  test/rubygems/test_gem_commands_list_command.rb
Labels: rubygems: bug fix

#7891 Print better log message when current platform is not present in the lockfile
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: enhancement

#7795 Fix truffleruby removing gems from lockfile
  .github/workflows/ubuntu-lint.yml
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/force_platform.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
  tool/bundler/dev_gems.rb.lock
  tool/bundler/release_gems.rb.lock
  tool/bundler/rubocop_gems.rb.lock
  tool/bundler/standard_gems.rb.lock
Labels: bundler: bug fix

#7908 Remove some `file_uri_for` calls
  bundler/spec/cache/git_spec.rb
Labels: bundler: skip changelog
