Repository rubygems/rubygems, pull requests merged in 2024-09, with the labels that each got.

#7985 Fix some errors about a previous installation folder that's unsafe to remove, when there's no need to remove it
  bundler/lib/bundler/errors.rb
  bundler/lib/bundler/rubygems_gem_installer.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: enhancement

#7931 Avoid another race condition of open mode
  lib/rubygems.rb
Labels: rubygems: bug fix

#7994 Standardize pretty-print output for `Gem::Source` and subclasses
  lib/rubygems/source.rb
  lib/rubygems/source/git.rb
  lib/rubygems/source/installed.rb
  lib/rubygems/source/local.rb
  lib/rubygems/source/specific_file.rb
  test/rubygems/test_gem_source_git.rb
  test/rubygems/test_gem_source_installed.rb
  test/rubygems/test_gem_source_local.rb
  test/rubygems/test_gem_source_specific_file.rb
Labels: rubygems: enhancement

#7993 Load gemspecs in the context of its parent also when using local overrides
  bundler/lib/bundler/source/git.rb
  bundler/spec/install/gemfile/git_spec.rb
Labels: bundler: bug fix

#5903 Improve `bundle add` man page
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-add.1.ronn
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-console.1
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-help.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-version.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
Labels: bundler: documentation

#7939 Remove temporary `.lock` files unintentionally left around by gem installer
  lib/rubygems.rb
  lib/rubygems/installer.rb
  test/rubygems/test_gem_installer.rb
Labels: rubygems: bug fix

#8006 Fix `gem install does-not-exist` being super slow
  lib/rubygems/commands/install_command.rb
  lib/rubygems/exceptions.rb
  lib/rubygems/resolver/best_set.rb
  lib/rubygems/source.rb
  test/rubygems/test_gem_resolver_best_set.rb
  test/rubygems/test_gem_source.rb
  test/rubygems/test_gem_source_subpath_problem.rb
Labels: rubygems: performance

#8007 Fix `gem fetch` always exiting with zero status code
  lib/rubygems/commands/fetch_command.rb
  test/rubygems/test_gem_commands_fetch_command.rb
Labels: rubygems: bug fix

#7982 Make `gem exec` use the standard GEM_HOME
  lib/rubygems/commands/exec_command.rb
  test/rubygems/test_gem_commands_exec_command.rb
Labels: rubygems: bug fix

#8013 Don't include hook templates in cached git source
  bundler/lib/bundler/source/git.rb
  bundler/spec/cache/git_spec.rb
Labels: bundler: enhancement

#8009 Unlock parallel_tests
  tool/bundler/dev_gems.rb
  tool/bundler/dev_gems.rb.lock
Labels: bundler: skip changelog

#8003 Raise original errors when unexpected errors happen during Gemfile evaluation
  bundler/lib/bundler.rb
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/errors.rb
  bundler/lib/bundler/ruby_version.rb
  bundler/spec/bundler/ruby_dsl_spec.rb
  bundler/spec/install/gemfile_spec.rb
Labels: bundler: enhancement

#7977 Fix `bundle exec rake install` failing when gem local gem has extensions
  bundler/lib/bundler/rubygems_ext.rb
  bundler/spec/runtime/gem_tasks_spec.rb
  lib/rubygems/resolver/activation_request.rb
Labels: rubygems: bug fix, bundler: bug fix

#8031 Spec improvements
  bundler/spec/commands/update_spec.rb
  bundler/spec/support/hax.rb
  bundler/spec/support/helpers.rb
Labels: bundler: skip changelog

#8022 Remove temporary `.lock` files unintentionally left around by gem installer
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/rubygems_gem_installer.rb
  bundler/spec/commands/install_spec.rb
  lib/rubygems.rb
  lib/rubygems/installer.rb
Labels: bundler: bug fix

#8027 Fix `bundle install --local` hitting the network when default gems are included
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/installer/gem_installer.rb
  bundler/lib/bundler/installer/parallel_installer.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/bundler/installer/gem_installer_spec.rb
  bundler/spec/cache/gems_spec.rb
Labels: bundler: bug fix

#8041 Don't try to install locked bundler when `--local` is passed
  bundler/lib/bundler/cli/install.rb
  bundler/spec/runtime/self_management_spec.rb
Labels: bundler: enhancement

#8051 Disallow RubyGems warnings during Bundler test suite
  bundler/spec/commands/binstubs_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/bundler_spec.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/helpers.rb
Labels: bundler: skip changelog

#8052 Fix `bundle outdated` with `--group` option
  bundler/lib/bundler/cli/outdated.rb
  bundler/spec/commands/outdated_spec.rb
Labels: bundler: bug fix

#8047 Ensure refs directory in cached git source
  bundler/lib/bundler/source/git.rb
  bundler/spec/cache/git_spec.rb
Labels: bundler: bug fix

#8045 Don't try to auto-install dev versions of Bundler not available remotely
  bundler/lib/bundler/self_manager.rb
  bundler/spec/runtime/self_management_spec.rb
Labels: bundler: enhancement

#8055 Fix `bundler/inline` overwriting lockfiles
  bundler/lib/bundler/definition.rb
  bundler/spec/runtime/inline_spec.rb
Labels: bundler: bug fix

#8059 Fix `bundler/inline` resetting ENV changes
  bundler/lib/bundler.rb
  bundler/lib/bundler/inline.rb
  bundler/spec/runtime/env_helpers_spec.rb
  bundler/spec/runtime/inline_spec.rb
Labels: bundler: bug fix

#8071 Warning about PATH in `--user-install` mode is only necessary for gems with executables
  lib/rubygems/installer.rb
  test/rubygems/installer_test_case.rb
  test/rubygems/test_gem_installer.rb
Labels: rubygems: enhancement

#8072 Fix `gem cleanup` warning when two versions of psych installed
  lib/rubygems/commands/cleanup_command.rb
  lib/rubygems/specification.rb
  test/rubygems/test_gem_specification.rb
  test/rubygems/test_require.rb
Labels: rubygems: bug fix

#8076 Fix old cache format detection when application is not source controlled
  bundler/lib/bundler/source/git.rb
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/cache/git_spec.rb
Labels: bundler: bug fix

#8073 Fix `stub.activated?` sometimes returning false after activation under bundler
  bundler/lib/bundler/stub_specification.rb
  bundler/spec/bundler/stub_specification_spec.rb
Labels: bundler: bug fix

#8079 Fix bug report template printed when changing a path source to a git source in frozen mode
  bundler/lib/bundler/source/path.rb
  bundler/spec/install/deploy_spec.rb
Labels: bundler: bug fix

#8074 Fix `Gem::MissingSpecVersionError#to_s` not showing exception message
  lib/rubygems/command_manager.rb
  lib/rubygems/errors.rb
  test/rubygems/rubygems/commands/ins_command.rb
  test/rubygems/rubygems/commands/interrupt_command.rb
  test/rubygems/rubygems_plugin.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_command_manager.rb
  test/rubygems/test_gem_commands_help_command.rb
Labels: rubygems: enhancement
