Repository rubygems/rubygems, pull requests merged in 2024-08, with the labels that each got.

#7915 Fix `bundle update <indirect_dep>` failing to upgrade when versions present in two different sources
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/outdated_spec.rb
  bundler/spec/commands/remove_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/prereleases_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/support/builders.rb
Labels: bundler: bug fix

#7916 Don't remove existing platform gems when PLATFORMS section is badly indented
  bundler/lib/bundler/lockfile_parser.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: enhancement

#7935 Change new gem README template to have copyable code blocks
  bundler/lib/bundler/templates/newgem/README.md.tt
Labels: bundler: documentation

#7926 Regenerate previous git application caches that didn't include bare repos
  bundler/lib/bundler/source/git.rb
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/cache/git_spec.rb
Labels: bundler: bug fix

#7942 Add better error when trying to develop RubyGems with an unsupported Ruby version
  bundler/spec/support/rubygems_ext.rb
Labels: bundler: skip changelog

#7949 Fix `gem uninstall <name>:<version>` failing on shadowed default gems
  lib/rubygems/commands/uninstall_command.rb
  test/rubygems/test_gem_commands_uninstall_command.rb
Labels: rubygems: bug fix

#7950 Restore support for passing relative paths to `git:` sources
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/install/allow_offline_install_spec.rb
  bundler/spec/install/git_spec.rb
Labels: bundler: bug fix

#7951 Fix several issues with the `--prefer-local` flag
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/resolver/base.rb
  bundler/lib/bundler/resolver/package.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: bug fix

#7955 Fix error message when Bundler refuses to install due to frozen being set without a lockfile
  bundler/lib/bundler/cli/install.rb
  bundler/spec/install/deploy_spec.rb
Labels: bundler: bug fix

#7961 Don't break if extra calls to File.writable? happen
  bundler/spec/bundler/bundler_spec.rb
Labels: bundler: skip changelog

#7957 Emit progress to stderr when `--print` is passed to `bundle lock`
  bundler/lib/bundler/cli/lock.rb
  bundler/lib/bundler/retry.rb
  bundler/lib/bundler/ui/shell.rb
  bundler/lib/bundler/ui/silent.rb
  bundler/spec/bundler/retry_spec.rb
  bundler/spec/bundler/ui/shell_spec.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: enhancement

#7964 Add some documentation about backwards compatibility
  bundler/doc/POLICIES.md
Labels: bundler: documentation

#7960 Fix `gem exec rails new project` failing on Ruby 3.2
  .github/workflows/install-rubygems.yml
  Manifest.txt
  lib/rubygems/vendor/net-http/lib/net/https.rb
  lib/rubygems/vendor/optparse/lib/optparse.rb
  lib/rubygems/vendor/resolv/lib/resolv.rb
  lib/rubygems/vendor/securerandom/.document
  lib/rubygems/vendor/securerandom/LICENSE.txt
  lib/rubygems/vendor/securerandom/lib/random/formatter.rb
  lib/rubygems/vendor/securerandom/lib/securerandom.rb
  tool/automatiek/net-http-persistent-v4.0.2.patch
  tool/automatiek/vendor.rb
  tool/bundler/vendor_gems.rb
  tool/bundler/vendor_gems.rb.lock
Labels: bundler: bug fix

#7967 Reject unknown platforms when running `bundle lock --add-platform`
  bundler/lib/bundler/cli/lock.rb
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-console.1
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-help.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-version.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
  bundler/lib/bundler/man/gemfile.5.ronn
  bundler/spec/commands/lock_spec.rb
Labels: bundler: enhancement

#7973 Don't blow up when explicit version is removed from some git sources
  bundler/lib/bundler/source/git.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/install/git_spec.rb
Labels: bundler: bug fix
