Repository rubygems/rubygems, pull requests merged in 2024-01, with the labels that each got.

#7354 Fix latest release dates
  CHANGELOG.md
  bundler/CHANGELOG.md
Labels: bundler: backport, rubygems: backport

#7368 include MatchMetadata in Bundler::LazySpecification
  bundler/lib/bundler/lazy_specification.rb
Labels: bundler: backport

#7395 Fix rake runtime dependency warning for rake based extension
  lib/rubygems/specification_policy.rb
  test/rubygems/test_gem_specification.rb
Labels: rubygems: bug fix

#6137 Deprecate `sitedir` parameter to `Gem::Ext::Builder.make`
  lib/rubygems/ext/builder.rb
  lib/rubygems/ext/ext_conf_builder.rb
  test/rubygems/test_gem_ext_builder.rb
  test/rubygems/test_gem_installer.rb
Labels: rubygems: deprecation

#7383 Let `Bundler.with_original_env` properly restore env variables originally empty
  bundler/lib/bundler/environment_preserver.rb
  bundler/spec/bundler/environment_preserver_spec.rb
Labels: bundler: bug fix

#7342 Improve gem login scope selection
  lib/rubygems/gemcutter_utilities.rb
  test/rubygems/test_gem_commands_signin_command.rb
  test/rubygems/test_gem_gemcutter_utilities.rb
Labels: rubygems: enhancement

#7047 Refactor lockfile generation and deprecate `Definition#lock` with explicit lockfile
  bundler/lib/bundler.rb
  bundler/lib/bundler/cli/lock.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/injector.rb
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/runtime.rb
  bundler/spec/bundler/definition_spec.rb
Labels: bundler: deprecation

#7440 Fix some flaky test failures on Windows
  bundler/spec/support/command_execution.rb
  bundler/spec/support/helpers.rb
Labels: bundler: skip changelog

#7445 Test with latest truffleruby and remove unnecessary skips
  .github/workflows/install-rubygems.yml
  .github/workflows/rubygems.yml
  .github/workflows/truffleruby-bundler.yml
  test/rubygems/test_gem_safe_marshal.rb
Labels: bundler: skip changelog, rubygems: skip changelog

#7441 Fix musl platform not being added to the lockfile
  bundler/lib/bundler/spec_set.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: bug fix

#7448 macos-14 runners are now available
  .github/workflows/bundler.yml
  .github/workflows/realworld-bundler.yml
  .github/workflows/rubygems.yml
Labels: bundler: skip changelog, rubygems: skip changelog
