Repository rubygems/rubygems, pull requests merged in 2025-02, with the labels that each got.

#8457 Auto-heal empty installation directory
  bundler/lib/bundler/cli/info.rb
  bundler/lib/bundler/cli/show.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/spec/commands/info_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/show_spec.rb
Labels: bundler: enhancement

#8467 Add `irb` to a Gemfile for a newly created gem
  bundler/lib/bundler/templates/newgem/Gemfile.tt
Labels: bundler: enhancement

#8245 Allocate strings from Requirement match only once
  lib/rubygems/requirement.rb
Labels: rubygems: performance

#8471 Keep platform variants in `vendor/cache` even if incompatible with the current Ruby version
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/commands/cache_spec.rb
Labels: bundler: bug fix

#8480 Fix some invalid options to `gem` DSL not getting reported as invalid
  bundler/lib/bundler/dsl.rb
  bundler/spec/install/gemfile_spec.rb
Labels: bundler: enhancement

#8481 Fix incorrect error message when running `bundle update` in frozen mode
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/update_spec.rb
Labels: bundler: bug fix

#8484 Fix `bundle install --prefer-local` sometimes installing very old versions
  bundler/lib/bundler/resolver.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: bug fix

#8482 Fix legacy Windows `:platform` values no longer working
  bundler/lib/bundler/current_ruby.rb
  bundler/spec/bundler/current_ruby_spec.rb
  bundler/spec/commands/cache_spec.rb
  bundler/spec/support/filters.rb
Labels: bundler: skip changelog

#8483 Raise error when lockfile is missing deps in frozen mode
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/errors.rb
  bundler/spec/lock/lockfile_spec.rb
Labels: bundler: bug fix

#8459 Fix `bundle install` output sometimes getting interleaved
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/spec_set.rb
Labels: bundler: bug fix

#8486 Make Bundler never instantiate development dependencies
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/dependency.rb
  bundler/lib/bundler/dsl.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: enhancement

#8491 Fix regression when running `bundle update <foo>` would sometimes downgrade a top level dependency
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/gems/flex_spec.rb
Labels: bundler: bug fix

#8504 JRuby test updates
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/rubygems.yml
  test/rubygems/helper.rb
Labels: bundler: skip changelog, rubygems: skip changelog

#8494 Fix lockfile platforms inconveniently added on JRuby
  .github/workflows/ubuntu-lint.yml
  bundler/lib/bundler/definition.rb
Labels: bundler: enhancement

#8510 Bump rubies tested in CI
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/read-only.yml
  .github/workflows/realworld-bundler.yml
  .github/workflows/ruby-core.yml
  .github/workflows/rubygems.yml
  .github/workflows/ubuntu-lint.yml
Labels: bundler: skip changelog, rubygems: skip changelog

#8503 Fix resolver issue due to ill-defined version ranges being created
  bundler/lib/bundler/resolver.rb
  bundler/spec/resolver/basic_spec.rb
Labels: bundler: bug fix

#8519 Allow noop `bundle install` to work on read-only or protected folders
  bundler/lib/bundler/errors.rb
  bundler/lib/bundler/plugin/index.rb
  bundler/lib/bundler/shared_helpers.rb
  bundler/spec/install/process_lock_spec.rb
Labels: bundler: enhancement

#8520 Modify `bundle doctor` to not report issue when files aren't writable:
  bundler/lib/bundler/cli/doctor.rb
  bundler/spec/commands/doctor_spec.rb
Labels: bundler: bug fix

#8523 Improve log messages when lockfile platforms are added
  bundler/lib/bundler/cli/lock.rb
  bundler/lib/bundler/definition.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/lock_spec.rb
Labels: bundler: enhancement

#5920 Give a better error when trying to write the lock file on a read-only filesystem
  bundler/lib/bundler/definition.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/support/hax.rb
Labels: bundler: enhancement
