Repository rubygems/rubygems, pull requests merged in 2025-09, with the labels that each got.

#8938 Make `gem sources` output more clear
  lib/rubygems/commands/sources_command.rb
  lib/rubygems/defaults.rb
  test/rubygems/helper.rb
  test/rubygems/test_gem.rb
  test/rubygems/test_gem_commands_sources_command.rb
Labels: rubygems: enhancement

#8949 Test with JRuby 10.0.2.0
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/rubygems.yml
  .github/workflows/ubuntu-lint.yml
Labels: bundler: skip changelog, rubygems: skip changelog

#8950 Remove Ruby 3.1 specific workaround from CI workflow
  .github/workflows/rubygems.yml
Labels: rubygems: skip changelog

#8460 Improve error message when the same source is specified through `gemspec` and `path`
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/source/gemspec.rb
  bundler/lib/bundler/source/path.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: enhancement

#8948 Fix "did you mean" suggestions for unknown commands
  .github/workflows/ruby-core.yml
  lib/rubygems/exceptions.rb
  test/rubygems/test_gem_command_manager.rb
Labels: rubygems: bug fix

#8957 Remove implementation of `deployment`, `capistrano` and `vlad` entrypoints
  bundler/lib/bundler/capistrano.rb
  bundler/lib/bundler/deployment.rb
  bundler/lib/bundler/vlad.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: bundler: breaking change

#8977 Make `bundle remove --install` raise an error
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-remove.1.ronn
  bundler/spec/commands/remove_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: bundler: breaking change

#8981 Switch `lockfile_checksums` to be `true` by default
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/settings.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/support/checksums.rb
Labels: bundler: breaking change

#8976 Completely forbid passing `--ext` to `bundle gem` without a value
  bundler/lib/bundler/cli.rb
  bundler/spec/commands/newgem_spec.rb
  bundler/spec/other/major_deprecation_spec.rb
Labels: bundler: breaking change

#8979 Make `--local-git` flag to `bundle plugin install` raise an error
  bundler/lib/bundler/cli/plugin.rb
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-plugin.1.ronn
  bundler/lib/bundler/plugin/installer.rb
  bundler/spec/other/major_deprecation_spec.rb
  bundler/spec/plugins/install_spec.rb
Labels: bundler: breaking change
