Repository rubygems/rubygems, pull requests merged in 2025-05, with the labels that each got.

#8665 Fix doctor command parsing of otool output
  bundler/lib/bundler/cli/doctor/diagnose.rb
  bundler/spec/commands/doctor_spec.rb
Labels: bundler: enhancement

#8675 Restore original branch if LoadError happens during prepare_release task
  tool/release.rb
Labels: bundler: skip changelog, rubygems: skip changelog

#8680 Use a working setup-ruby action on Windows to get CI green
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
Labels: bundler: skip changelog, rubygems: skip changelog

#8685 Reenable skipped specs in truffleruby since they should be fixed
  test/rubygems/test_gem_safe_marshal.rb
  test/rubygems/test_gem_specification.rb
Labels: rubygems: skip changelog

#8690 Switch back to ntkme's fork for setup-ruby action
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
Labels: bundler: skip changelog, rubygems: skip changelog

#8688 Test with JRuby 10
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/rubygems.yml
  .github/workflows/ubuntu-lint.yml
  bundler/spec/bundler/friendly_errors_spec.rb
  bundler/spec/commands/ssl_spec.rb
  bundler/spec/install/gems/dependency_api_fallback_spec.rb
  bundler/spec/install/gems/gemfile_source_header_spec.rb
  bundler/spec/install/gems/mirror_probe_spec.rb
  bundler/spec/realworld/fixtures/warbler/Gemfile
  bundler/spec/realworld/fixtures/warbler/Gemfile.lock
  bundler/spec/support/builders.rb
  bundler/spec/support/helpers.rb
Labels: bundler: skip changelog, rubygems: skip changelog

#8700 Bump ruby/setup-ruby from 1.238.0 to 1.241.0
  .github/workflows/bundler.yml
  .github/workflows/daily-bundler.yml
  .github/workflows/daily-rubygems.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/realworld-bundler.yml
  .github/workflows/rubygems.yml
  .github/workflows/system-rubygems-bundler.yml
  .github/workflows/truffleruby-bundler.yml
  .github/workflows/ubuntu-lint.yml
Labels: bundler: skip changelog, rubygems: skip changelog

#8648 Fix `--prerelease` flag to `gem install` sometimes not respected
  lib/rubygems/resolver/best_set.rb
  lib/rubygems/resolver/source_set.rb
  lib/rubygems/source.rb
  test/rubygems/test_gem_commands_install_command.rb
  test/rubygems/test_gem_resolver_best_set.rb
Labels: rubygems: bug fix

#8705 Enforce a basic style in GitHub Actions workflow files
  .github/dependabot.yml
  .github/workflows/bundler.yml
  .github/workflows/daily-bundler.yml
  .github/workflows/daily-rubygems.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/lint.txt
  .github/workflows/realworld-bundler.yml
  .github/workflows/scorecards.yml
  .github/workflows/spell.yml
  .github/workflows/system-rubygems-bundler.yml
  .github/workflows/ubuntu-lint.yml
  .github/workflows/weekly-update.yml
  .gitignore
  .rubocop.yml
  .yamllint.yml
Labels: bundler: skip changelog, rubygems: skip changelog

#8713 Fix workflow syntax
  .github/workflows/realworld-bundler.yml
  .github/workflows/system-rubygems-bundler.yml
Labels: bundler: skip changelog

#8727 Fix default branch CI
  .github/workflows/ubuntu-lint.yml
Labels: bundler: skip changelog, rubygems: skip changelog

#8735 Remove hardcoded version of rake from Bundler tests
  bundler/spec/commands/check_spec.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/path.rb
Labels: bundler: skip changelog

#8736 Remove unnecessary duplicate `x64-mingw-ucrt` entry in spec
  bundler/spec/runtime/platform_spec.rb
Labels: bundler: skip changelog
