Repository rubygems/rubygems, pull requests merged in 2025-06, with the labels that each got.

#8733 Deprecate `x64-mingw32` in favour of `x64-mingw-ucrt`
  bundler/lib/bundler/lockfile_parser.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/spec/bundler/lockfile_parser_spec.rb
Labels: bundler: deprecation

#8711 Fix heading ranks in documentation
  .changelog.yml
  .github/workflows/ubuntu-lint.yml
  CHANGELOG.md
  bin/mdl
  bundler/.changelog.yml
  bundler/CHANGELOG.md
  bundler/README.md
  doc/bundler/POLICIES.md
  doc/bundler/documentation/WRITING.md
  lib/rubygems/commands/setup_command.rb
  test/rubygems/test_gem_commands_setup_command.rb
  tool/bundler/lint_gems.rb
  tool/bundler/lint_gems.rb.lock
  tool/changelog.rb
Labels: bundler: documentation, rubygems: documentation

#8741 Cache git sources with commit SHA refs
  bundler/lib/bundler/source/git/git_proxy.rb
  bundler/spec/bundler/source/git/git_proxy_spec.rb
Labels: bundler: performance

#8666 Validate lockfile dependencies with bundle install
  bundler/lib/bundler/cli/install.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/lockfile_parser.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: enhancement

#8757 Fix `gem pristine` not recompiling extensions sometimes
  lib/rubygems/commands/pristine_command.rb
  test/rubygems/test_gem_commands_pristine_command.rb
Labels: rubygems: bug fix

#8759 Fix typos making some lists in documentation render incorrectly
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/man/bundle-console.1
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-env.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-fund.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-gem.1.ronn
  bundler/lib/bundler/man/bundle-help.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-issue.1
  bundler/lib/bundler/man/bundle-licenses.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-version.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
Labels: bundler: documentation

#8760 Fix redefinition warnings when using modern RubyGems with old Bundler
  Manifest.txt
  lib/rubygems.rb
  lib/rubygems/bundler_integration.rb
Labels: rubygems: skip changelog

#8764 Fix `gem install` sometimes compiling the wrong source files
  lib/rubygems/request_set.rb
  test/rubygems/helper.rb
  test/rubygems/test_gem_commands_install_command.rb
  test/rubygems/test_gem_dependency_installer.rb
  test/rubygems/test_gem_installer.rb
Labels: rubygems: bug fix

#8769 Etc exemption on Windows is no longer necessary
  bundler/spec/runtime/setup_spec.rb
Labels: bundler: skip changelog

#8770 Fix rdoc issues when running `gem` commands in a `bundle exec` context
  bundler/lib/bundler/rubygems_integration.rb
  bundler/spec/commands/exec_spec.rb
Labels: bundler: bug fix

#8777 Deprecate unused `Bundler::SpecSet` methods
  bundler/lib/bundler/spec_set.rb
  bundler/spec/resolver/basic_spec.rb
Labels: bundler: deprecation

#8774 Fix flaky test failures in mirror probing specs
  bundler/spec/install/gems/mirror_probe_spec.rb
  bundler/spec/support/artifice/compact_index_mirror_down.rb
  bundler/spec/support/artifice/helpers/endpoint.rb
  bundler/spec/support/hax.rb
Labels: bundler: skip changelog

#8783 Fix `--bindir <foo>` flag to gem install failing when `<foo>` is not in the default GEM_HOME and its parent directory does not exist yet
  lib/rubygems/installer.rb
  test/rubygems/installer_test_case.rb
  test/rubygems/test_gem_commands_install_command.rb
Labels: rubygems: bug fix

#7375 Refactor setting ENV and ruby flags when shelling out during specs
  bundler/lib/bundler/self_manager.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/runtime/env_helpers_spec.rb
  bundler/spec/runtime/requiring_spec.rb
  bundler/spec/runtime/self_management_spec.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/spec_helper.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/path.rb
Labels: bundler: skip changelog

#8781 Fix `Bundler.original_env['GEM_HOME']` when Bundler is trampolined
  bundler/lib/bundler/self_manager.rb
  bundler/spec/runtime/self_management_spec.rb
Labels: bundler: bug fix
