Repository rubygems/rubygems, pull requests merged in 2025-03, with the labels that each got.

#8547 Use shorthand hash syntax for bundle add
  bundler/lib/bundler/cli/inject.rb
  bundler/lib/bundler/injector.rb
  bundler/spec/commands/add_spec.rb
  bundler/spec/commands/inject_spec.rb
Labels: bundler: enhancement

#8549 Fix `gem rdoc` not working with newer versions of rdoc
  .github/workflows/install-rubygems.yml
  lib/rubygems/rdoc.rb
  test/rubygems/test_gem_rdoc.rb
Labels: rubygems: bug fix

#8450 Fix daily Bundler CI
  bundler/spec/commands/console_spec.rb
  bundler/spec/commands/newgem_spec.rb
  bundler/spec/commands/platform_spec.rb
  bundler/spec/support/builders.rb
  tool/bundler/rubocop_gems.rb
  tool/bundler/rubocop_gems.rb.lock
  tool/bundler/standard_gems.rb
  tool/bundler/standard_gems.rb.lock
Labels: bundler: skip changelog

#8551 Prefer `FileUtils.rm_r` specs since it does not swallow errors
  bundler/spec/cache/gems_spec.rb
  bundler/spec/cache/git_spec.rb
  bundler/spec/commands/cache_spec.rb
  bundler/spec/commands/check_spec.rb
  bundler/spec/commands/clean_spec.rb
  bundler/spec/commands/exec_spec.rb
  bundler/spec/commands/info_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/commands/outdated_spec.rb
  bundler/spec/commands/show_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/deploy_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
  bundler/spec/install/gemfile/groups_spec.rb
  bundler/spec/install/gemfile/lockfile_spec.rb
  bundler/spec/install/gemfile/platform_spec.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/install/git_spec.rb
  bundler/spec/install/global_cache_spec.rb
  bundler/spec/install/path_spec.rb
  bundler/spec/install/prereleases_spec.rb
  bundler/spec/install/yanked_spec.rb
  bundler/spec/lock/git_spec.rb
  bundler/spec/plugins/source/example_spec.rb
  bundler/spec/runtime/setup_spec.rb
  bundler/spec/spec_helper.rb
  bundler/spec/support/builders.rb
  bundler/spec/support/helpers.rb
  bundler/spec/support/rubygems_ext.rb
  bundler/spec/update/git_spec.rb
Labels: bundler: skip changelog

#5578 Fix `ENAMETOOLONG` error when creating compact index cache
  bundler/lib/bundler/source/rubygems/remote.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/global_cache_spec.rb
  bundler/spec/support/path.rb
Labels: bundler: enhancement

#8555 Update docs for with/without consistency
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
Labels: bundler: documentation

#8565 Speed up Version#<=> ~20-50% when lengths differ
  lib/rubygems/version.rb
Labels: rubygems: performance

#8571 Update vendored pub_grub
  bundler/lib/bundler/vendor/pub_grub/lib/pub_grub/basic_package_source.rb
  bundler/lib/bundler/vendor/pub_grub/lib/pub_grub/version_range.rb
  bundler/lib/bundler/vendor/pub_grub/lib/pub_grub/version_solver.rb
  tool/bundler/vendor_gems.rb
  tool/bundler/vendor_gems.rb.lock
Labels: bundler: performance

#8570 Improve wording of a few messages
  bundler/CHANGELOG.md
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/plugin.rb
  bundler/lib/bundler/plugin/api/source.rb
  bundler/lib/bundler/resolver/candidate.rb
  bundler/spec/bundler/definition_spec.rb
  bundler/spec/bundler/shared_helpers_spec.rb
  bundler/spec/commands/check_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/commands/update_spec.rb
  bundler/spec/install/deploy_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
  bundler/spec/install/gems/resolving_spec.rb
  bundler/spec/install/process_lock_spec.rb
  bundler/spec/lock/lockfile_spec.rb
  bundler/spec/plugins/source/example_spec.rb
  bundler/spec/runtime/setup_spec.rb
Labels: bundler: enhancement

#8573 Let `gem exec` raise an error in ambiguous cases
  lib/rubygems/commands/exec_command.rb
  test/rubygems/test_gem_commands_exec_command.rb
Labels: rubygems: enhancement

#8581 Support git 2.49
  bundler/lib/bundler/source/git/git_proxy.rb
Labels: bundler: enhancement

#8556 Raise an error if incompatible or merge if compatible when a gemspec development dep is duplicated in Gemfile
  bundler/lib/bundler/dsl.rb
  bundler/spec/commands/install_spec.rb
Labels: bundler: breaking change

#8563 Refuse to install and print an error in frozen mode if some entries are missing in CHECKSUMS lockfile section
  bundler/lib/bundler/checksum.rb
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/dsl.rb
  bundler/lib/bundler/lazy_specification.rb
  bundler/lib/bundler/lockfile_parser.rb
  bundler/lib/bundler/plugin/installer/path.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/lib/bundler/runtime.rb
  bundler/lib/bundler/source/gemspec.rb
  bundler/lib/bundler/source/path.rb
  bundler/lib/bundler/source_list.rb
  bundler/spec/bundler/lockfile_parser_spec.rb
  bundler/spec/install/gemfile/sources_spec.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/install/gems/dependency_api_spec.rb
  bundler/spec/lock/lockfile_spec.rb
Labels: bundler: enhancement

#8589 Implement pub_grub strategy interface
  Manifest.txt
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/resolver/strategy.rb
  bundler/lib/bundler/vendor/pub_grub/lib/pub_grub/basic_package_source.rb
  bundler/lib/bundler/vendor/pub_grub/lib/pub_grub/strategy.rb
  bundler/lib/bundler/vendor/pub_grub/lib/pub_grub/version_solver.rb
  tool/bundler/vendor_gems.rb
  tool/bundler/vendor_gems.rb.lock
Labels: bundler: performance

#8594 Fix crash when server compact index API implementation only lists versions
  Manifest.txt
  bundler/lib/bundler/compact_index_client/cache.rb
  bundler/lib/bundler/compact_index_client/gem_parser.rb
  bundler/lib/bundler/compact_index_client/parser.rb
  bundler/lib/bundler/rubygems_ext.rb
  bundler/spec/install/gems/compact_index_spec.rb
  bundler/spec/support/artifice/compact_index_no_checksums.rb
  lib/rubygems/resolver/api_set/gem_parser.rb
Labels: bundler: enhancement
