Repository rubygems/rubygems, pull requests merged in 2025-01, with the labels that each got.

#8346 Add basic tapioca check to CI
  .github/workflows/realworld-bundler.yml
  bundler/spec/realworld/fixtures/tapioca/Gemfile
  bundler/spec/realworld/fixtures/tapioca/Gemfile.lock
Labels: bundler: skip changelog

#8389 Fix broken links in the documents
  bundler/README.md
  doc/bundler/contributing/BUG_TRIAGE.md
  doc/bundler/contributing/README.md
  doc/rubygems/POLICIES.md
Labels: bundler: documentation

#8382 Use ronn-ng again for documentation generation
  Rakefile
  bin/ronn
  bundler/lib/bundler/man/bundle-add.1
  bundler/lib/bundler/man/bundle-binstubs.1
  bundler/lib/bundler/man/bundle-cache.1
  bundler/lib/bundler/man/bundle-check.1
  bundler/lib/bundler/man/bundle-clean.1
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-console.1
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-env.1
  bundler/lib/bundler/man/bundle-exec.1
  bundler/lib/bundler/man/bundle-fund.1
  bundler/lib/bundler/man/bundle-gem.1
  bundler/lib/bundler/man/bundle-help.1
  bundler/lib/bundler/man/bundle-info.1
  bundler/lib/bundler/man/bundle-init.1
  bundler/lib/bundler/man/bundle-inject.1
  bundler/lib/bundler/man/bundle-install.1
  bundler/lib/bundler/man/bundle-issue.1
  bundler/lib/bundler/man/bundle-licenses.1
  bundler/lib/bundler/man/bundle-list.1
  bundler/lib/bundler/man/bundle-lock.1
  bundler/lib/bundler/man/bundle-open.1
  bundler/lib/bundler/man/bundle-outdated.1
  bundler/lib/bundler/man/bundle-platform.1
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-pristine.1
  bundler/lib/bundler/man/bundle-remove.1
  bundler/lib/bundler/man/bundle-show.1
  bundler/lib/bundler/man/bundle-update.1
  bundler/lib/bundler/man/bundle-version.1
  bundler/lib/bundler/man/bundle-viz.1
  bundler/lib/bundler/man/bundle.1
  bundler/lib/bundler/man/gemfile.5
  tool/bundler/dev_gems.rb
  tool/bundler/dev_gems.rb.lock
Labels: bundler: skip changelog

#8392 Rewrite OpenStruct to dummy response class
  test/rubygems/test_gem_request.rb
Labels: rubygems: skip changelog

#8375 Add credentials file path to "gem env".
  lib/rubygems/commands/environment_command.rb
Labels: rubygems: enhancement

#8395 Remove explicit test dependency on logger
  bundler/spec/install/gems/dependency_api_fallback_spec.rb
  bundler/spec/realworld/gemfile_source_header_spec.rb
  bundler/spec/realworld/mirror_probe_spec.rb
  bundler/spec/support/silent_logger.rb
  tool/bundler/dev_gems.rb
  tool/bundler/dev_gems.rb.lock
  tool/bundler/test_gems.rb.lock
Labels: bundler: skip changelog

#8397 Remove explicit test dependency on base64
  tool/bundler/test_gems.rb
  tool/bundler/test_gems.rb.lock
Labels: bundler: skip changelog

#8399 Fix test failure when running tests with ENV["EDITOR"] set
  bundler/spec/spec_helper.rb
Labels: bundler: skip changelog

#8400 Remove no longer used spec filter
  bundler/spec/support/filters.rb
Labels: bundler: skip changelog

#8299 Print message when blocking on file locks
  lib/rubygems.rb
Labels: bundler: enhancement

#8372 Fix crash on read-only filesystems in Ruby 3.4
  .github/workflows/read-only.yml
  bundler/lib/bundler/plugin/index.rb
  bundler/spec/bundler/plugin/index_spec.rb
Labels: bundler: bug fix

#8403 Serialize gemspec when caching git source
  bundler/lib/bundler/source/git.rb
  bundler/spec/cache/git_spec.rb
Labels: bundler: bug fix

#8401 Fix platform specific gems sometimes being removed from the lockfile
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/resolver.rb
  bundler/lib/bundler/resolver/base.rb
  bundler/lib/bundler/resolver/package.rb
  bundler/lib/bundler/spec_set.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: bug fix

#8406 Fix daily Bundler CI
  tool/bundler/rubocop_gems.rb.lock
Labels: bundler: skip changelog

#8413 Skip related tests with Gem::RDoc
  test/rubygems/test_gem_commands_install_command.rb
  test/rubygems/test_gem_commands_update_command.rb
Labels: rubygems: skip changelog

#8415 Use rails 8.0 for installation test
  .github/workflows/install-rubygems.yml
Labels: rubygems: skip changelog

#8414 Introduce Spec::Path.sinatra_dependency_paths for sinatra mock server
  bundler/spec/support/artifice/endpoint_500.rb
  bundler/spec/support/artifice/helpers/endpoint.rb
  bundler/spec/support/artifice/windows.rb
  bundler/spec/support/path.rb
Labels: bundler: skip changelog

#8410 Revert RubyGems plugins getting loaded on `Bundler.require`
  bundler/lib/bundler.rb
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/rubygems_integration.rb
  bundler/spec/bundler/shared_helpers_spec.rb
  bundler/spec/commands/install_spec.rb
  bundler/spec/runtime/require_spec.rb
  bundler/spec/support/env.rb
Labels: bundler: bug fix

#8411 Fix `@licenses` array unmarshalling
  lib/rubygems/specification.rb
  test/rubygems/test_gem_safe_marshal.rb
Labels: rubygems: bug fix

#8404 Don't fallback to evaluating YAML gemspecs as Ruby code
  bundler/lib/bundler.rb
Labels: bundler: enhancement

#8412 Fix `--prefer-local` not respecting default gems
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/installer.rb
  bundler/lib/bundler/source.rb
  bundler/lib/bundler/source/rubygems.rb
  bundler/lib/bundler/source_list.rb
  bundler/spec/cache/gems_spec.rb
  bundler/spec/install/gemfile/git_spec.rb
Labels: bundler: bug fix

#8416 Fix more broken links
  .github/ISSUE_TEMPLATE/bundler-related-issue.md
  .github/pull_request_template.md
  bundler/README.md
  bundler/lib/bundler/cli/issue.rb
  doc/bundler/contributing/README.md
  doc/bundler/playbooks/TEAM_CHANGES.md
Labels: bundler: documentation

#8424 RDoc is no longer a default gem in Ruby 3.5
  bundler/spec/commands/info_spec.rb
Labels: bundler: skip changelog

#8433 Switch Dependabot to run monthly
  .github/dependabot.yml
Labels: bundler: skip changelog, rubygems: skip changelog

#8435 Make ruby-core job use a non moving target
  .github/workflows/ruby-core.yml
Labels: bundler: skip changelog, rubygems: skip changelog

#8436 Fix `bundle console` printing bug report template incorrectly
  bundler/lib/bundler/dependency.rb
  bundler/lib/bundler/runtime.rb
  bundler/spec/commands/console_spec.rb
  bundler/spec/runtime/require_spec.rb
Labels: bundler: bug fix

#8430 Add ruby_34 and ruby_35 as valid platform:
  bundler/lib/bundler/current_ruby.rb
  bundler/lib/bundler/dependency.rb
  bundler/lib/bundler/dsl.rb
  bundler/spec/bundler/current_ruby_spec.rb
  bundler/spec/bundler/dependency_spec.rb
  bundler/spec/bundler/dsl_spec.rb
Labels: bundler: enhancement

#8444 Refactor JRuby CI
  .github/workflows/bundler.yml
  .github/workflows/install-rubygems.yml
  .github/workflows/jruby-bundler.yml
  .github/workflows/rubygems.yml
  .github/workflows/system-rubygems-bundler.yml
  bundler/spec/realworld/fixtures/warbler/Gemfile.lock
Labels: bundler: skip changelog, rubygems: skip changelog

#8443 Fix `bundle console` unnecessarily trying to load IRB twice
  bundler/lib/bundler/cli/console.rb
  bundler/spec/commands/console_spec.rb
Labels: bundler: enhancement

#8449 Raise a simpler error when RubyGems fails to activate a dependency
  lib/rubygems/specification.rb
  test/rubygems/test_gem_specification.rb
Labels: rubygems: enhancement
