Repository rubygems/rubygems, pull requests merged in 2025-07, with the labels that each got.

#8799 Remove `print_only_version_number` setting
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/settings.rb
Labels: bundler: breaking change

#8803 Update man pages for the `bundle doctor ssl` subcommand
  bundler/lib/bundler/man/bundle-doctor.1
  bundler/lib/bundler/man/bundle-doctor.1.ronn
Labels: bundler: documentation

#8801 Introduce a `verbose` setting to enable verbose output for all commands
  bundler/lib/bundler/cli.rb
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/settings.rb
  bundler/spec/bundler/cli_spec.rb
Labels: bundler: enhancement

#8816 Add `default_cli_command` documentation
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
Labels: bundler: documentation

#8819 Stop allowing calling `#gem` on random objects
  bundler/lib/bundler/feature_flag.rb
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/rubygems_integration.rb
  bundler/lib/bundler/settings.rb
  bundler/spec/runtime/setup_spec.rb
Labels: bundler: breaking change

#8790 Update gemspec based on provided github username when exists
  bundler/lib/bundler/cli/gem.rb
  bundler/lib/bundler/man/bundle-config.1
  bundler/lib/bundler/man/bundle-config.1.ronn
  bundler/lib/bundler/templates/newgem/newgem.gemspec.tt
  bundler/spec/commands/newgem_spec.rb
Labels: bundler: enhancement

#8842 Add missing liking to `irb` repo in DEBUGGING.md
  doc/bundler/development/DEBUGGING.md
Labels: bundler: documentation

#8854 Fix regression in presence of RVM gems
  .github/workflows/install-rubygems.yml
  .github/workflows/ubuntu-lint.yml
  Rakefile
  lib/rubygems.rb
Labels: rubygems: enhancement

#8861 Add a quality spec to ensure man pages are up to date:
  bundler/lib/bundler/man/bundle-plugin.1
  bundler/lib/bundler/man/bundle-plugin.1.ronn
  bundler/spec/quality_spec.rb
Labels: bundler: documentation

#8872 Fix bundler failing to install sorbet-static in truffleruby when there's no lockfile
  .github/workflows/rubygems.yml
  .github/workflows/truffleruby-bundler.yml
  .github/workflows/ubuntu-lint.yml
  Rakefile
  bundler/lib/bundler/definition.rb
  bundler/lib/bundler/resolver/package.rb
  bundler/spec/commands/lock_spec.rb
  bundler/spec/install/gemfile/specific_platform_spec.rb
Labels: bundler: bug fix
